extends ../index

include ./cart-list/index

block content
  h1 Your shopping cart, #{name}
  i.fas.fa-cart-arrow-down
  if cart && cart.length !== 0
    a.btn(href='/checkout') Checkout
    +cart-list(cart)
  else
    p No ducklings in your shopping cart