@import '../../index.scss';

.navbar-burger {
    color: $main-color;
}

.icon{
    padding:0 20px;
}

.fa-shopping-cart{
    color: $main-color;
}

.logout{
    margin-top:0!important;
    font-size: 13px!important;
}

