@import '../../bulma/bulma.sass'
@import '../../mixins.sass'

.results
    & .pagination-next
        align-self: flex-end
        flex: 0 1 85%
        margin-top: 50px
        +mobile
            width: 80%
            margin-left: 55px
