body {
  background-image: url("https://media.giphy.com/media/b9QBHfcNpvqDK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    /* background-color: lightgrey */
}

.login {
    background-color: lightgray;
    padding: 2em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: white;
    color: black;
}

.form {
    background-color: lightgoldenrodyellow;
    padding: 2em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: gray;
    color: rgb(150, 80, 80);
}

.error {
    display: none;
    background-color: red;
    color: white;
    border-radius: 0.5em;
    border-style: solid;
    border-color: white;
}

.register {
    display: none;
    background-color: lightblue;
    padding: 2em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: gray;
}

.home {
    display: none;
    background-color: green;
    color: white;
}