.container {
    display: grid;
    grid-template-columns: 160px 160px 160px 160px 160px;
    grid-template-rows: 130px 130px;
    text-align: center;
    justify-content: center;

    /*PLAY WITH AUTO FLOW COLUMN/ROW*/
    grid-auto-flow: row;
    /* grid-auto-flow: row; */

  }

  .item-a {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color:rgb(79, 95, 185);
  }
  .item-e {
    grid-column: 5;
    grid-row: 1 / 3;
    background-color:rgb(79, 95, 185);
  }
  .item-b {
    background-color:#6FC5B8;
  }
  .item-c {
    background-color:#FD8A00;
  }
  .item-d {
    background-color:#978B7D;
  }