@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.favorite {
  font-size: 2rem;
  display: inline;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border-width: 0;
  border-style: none;
  border-color: none;
}
.favorite--on {
  color: red;
}
.favorite--off {
  color: black;
}
.favorite--detail {
  position: relative;
  top: 0;
  right: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  background-color: skyblue;
}
.nav__logout {
  background-color: transparent;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 5%;
}

.language {
  margin: 0 5%;
  width: 35%;
  background-color: skyblue;
  font-size: 18px;
}

.landing {
  bottom: 0;
}
.landing__image {
  width: 100%;
  margin: 0;
}
.landing__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: skyblue;
  margin: 0;
  text-align: center;
}

.btn {
  margin: 1rem;
  padding: 0.8rem 3rem;
  background-color: white;
  border: 2px solid skyblue;
  border-radius: 1rem;
  color: skyblue;
  font-size: 1.2rem;
}
.btn--small {
  margin: 0.5rem;
  padding: 0.2rem 1rem;
  border-radius: 1.5rem;
  color: skyblue;
  font-size: 1rem;
}
.btn--block {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  border: 0px solid white;
  border-bottom: 2px solid skyblue;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
}

.thanks, .home, .user, .register,
.login, .cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.duck-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding-block-end: 0;
}

.duck-item {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
}
.duck-item__title {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}
.duck-item__image {
  width: 90%;
  align-self: center;
}

.duck-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.duck-detail__title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}
.duck-detail__title {
  display: inline;
  width: 80%;
}
.duck-detail__image {
  width: 100%;
  margin: 0;
}
.duck-detail__description {
  width: 90%;
  text-align: justify;
}
.duck-detail__buy {
  background-color: white;
  border-style: solid;
}

.cart-list {
  width: 90%;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.cart-line {
  display: flex;
  align-items: center;
}
.cart-line__image {
  width: 20vw;
  margin: 1rem;
}
.cart-line__title {
  font-size: 1.2rem;
  margin: 0;
}
.cart-line__price {
  font-size: 1.3rem;
}
.cart-line__quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-line__btn {
  padding: 0.4rem;
  cursor: pointer;
  color: skyblue;
  border-style: solid;
  border-color: skyblue;
  background-color: transparent;
  margin: 0.3rem;
  border-radius: 50%;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkout__title {
  font-size: 1.5rem;
}
.checkout__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
.checkout__address {
  background-color: rgba(0, 0, 0, 0.03);
}

.register__error,
.login__error {
  background-color: white;
  color: orange;
  width: 90%;
  margin: 1rem;
  border-radius: 0.3rem;
  border: 2px solid orange;
  padding: 0.2rem 1rem;
}
.register__title,
.login__title {
  font-size: 2rem;
}
.register__inputs,
.login__inputs {
  width: 90%;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding-block-end: 0;
}
.register__input,
.login__input {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
}
.register__button,
.login__button {
  margin-top: 2rem;
}

/*# sourceMappingURL=style.css.map */
