.burger {
  border-radius: 7px;
  height: 20px;
  width: 20px;
  margin-top: 20px;
  border: 1px solid grey;
  padding: 10px;
  margin-left: 70%;
}

.black-top {
  background-color: #1b222a;
  text-align: center;
}

.contact {
  padding: 10px;
  flex: 1 1 50%;
}

.accordion {
  background-color: white;
  border: 1px solid grey;
  margin: 1px;
}

.collapsible {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  text-align: left;
}

.redirect {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20p;
}

.gallery-store {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.gallery-store .black-top title {
  display: flex;
  justify-content: row;
}

.store-link {
  width: 250px;
  height: 75px;
}

.godhand {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

.footer .black {
  background-color: #1b222a;
  display: grid;
  justify-content: center;
}
.footer .green {
  background-color: #1caa98;
  display: grid;
  justify-content: center;
  margin-top: 10px;
}

.white-font {
  color: white;
}

.green-font {
  color: green;
}

.description {
  display: grid;
  margin: 20px;
}

.link {
  display: none;
}

.picture {
  width: 80%;
  height: 80%;
  border: 1px solid grey;
  padding: 10px;
  padding-top: -100px;
}

.button-more {
  border: 1px solid grey;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.green-top {
  background-color: #1caa98;
  padding: 2%;
  padding-left: 5%;
  margin-top: 0px;
}

@media screen and (min-width: 900px) {
  body {
    background-color: none;
  }

  .black-top {
    background-image: url(./images/kids.jpg);
    background-size: cover;
  }
  .black-top .gallery-store {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .burger {
    display: none;
  }

  .redirect {
    display: initial;
  }
  .redirect .link {
    text-decoration: none;
    color: grey;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: -10px;
  }
}
.header {
  justify-content: flex-start;
}

.footer .black {
  background-color: #1b222a;
  padding: 10px;
}
.footer .green {
  background-color: #1caa98;
  display: grid;
  justify-content: left;
  margin-top: 10px;
  padding-left: 10px;
}

.gamma {
  margin-right: 4px;
}

.supermain {
  display: flex;
}

.enter {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.redirect {
  display: block;
  display: flex;
}

.link {
  padding-top: 40px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 40px;
}
.link:hover {
  box-shadow: inset 0px 5px 50px -10px rgba(0, 0, 0, 0.36);
}

.amigo {
  flex: 1 1 50%;
  height: auto;
  padding-bottom: 25%;
}

.enter {
  width: 100%;
  height: auto;
}

.superaccordion {
  flex: 1 1 60%;
}

@media screen and (min-width: 1400px) {
  body {
    background-color: none;
  }

  .tresamigos {
    display: flex;
    justify-content: row;
  }

  .black-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .godhand {
    display: initial;
  }

  .header {
    justify-content: flex-start;
  }

  .burger {
    display: none;
  }

  .redirect {
    display: block;
    display: flex;
  }
  .redirect .link {
    text-decoration: none;
    color: grey;
    margin: 10px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .gallery-store {
    display: flex;
  }

  .store-link {
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
