.eventButton
    margin-top: 1em
    margin-bottom: 0px

.tag
    margin: 0.25em

.card
    height: 100%
    border-radius: 5px
    background-color: rgba(255, 255, 255, 0.90)


.resultImage
    border-top-left-radius: 5px
    border-top-right-radius: 5px

.cardTitle
    font-size: 1em
    margin-bottom: 2em