@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: row;
}

.nav {
  width: 260px;
  background-color: #111;
  color: #b3b3b3;
  padding: 24px 0px 5px 0px;
  display: inline-block;
}
.nav__icon {
  font-size: 20px;
  padding: 3px;
  min-width: 20px;
  min-height: 20px;
}
.nav__icon-svg {
  width: 20px;
  height: 20px;
}

.brand {
  padding: 0px 0px 18px 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.brand__icon {
  font-size: 32px;
}
.brand__name {
  font-size: 26px;
  display: inline;
  margin: 0;
  padding-left: 0.5rem;
}

.folders {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

.folder {
  margin: 10px 0px;
  padding-left: 20px;
}
.folder:hover {
  color: white;
  border-left: 3px solid #1db954;
}
.folder__link {
  color: #b3b3b3;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.folder__link-icon-container {
  display: flex;
  justify-content: center;
  width: 24px;
  margin: 0;
  padding: 0;
}
.folder__description {
  text-align: left;
  text-transform: capitalize;
  padding-left: 0.5rem;
}

.recently-played {
  text-decoration: none;
  list-style-type: none;
  padding-left: 20px;
  margin-top: 2rem;
}
.recently-played__title {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.recently-played__item {
  font-size: 0.8rem;
  padding-bottom: 10px;
}
.recently-played__item-type {
  text-transform: uppercase;
  margin-top: 3px;
}

.install-app, .user-info {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.install-app {
  border-bottom: 1px solid #b3b3b3;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  font-size: 0.5rem;
  color: #b3b3b3;
}
.progress__icon {
  font-size: 1.2rem;
  padding: 0.5rem;
}
.progress__bar-container {
  position: relative;
  width: 70%;
  height: 4px;
  margin: 0.5rem;
  border-radius: 2px;
  background-color: #b3b3b3;
}
.progress__bar {
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background-color: white;
}
.progress__dot {
  position: absolute;
  width: 8px;
  height: 8px;
  top: -2px;
  left: 40%;
  border-radius: 50%;
  background-color: white;
}

.playing-bar {
  background-color: #262c3d;
  width: 100%;
  height: 90px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
}

.now-playing {
  text-decoration: none;
  list-style-type: none;
  padding-left: 20px;
  display: flex;
  width: 35%;
  align-items: center;
}
.now-playing__cover {
  width: 56px;
  height: 56px;
  background-size: cover;
  background-position: 50%;
}
.now-playing__description {
  margin-left: 1.5rem;
  margin-right: 3rem;
}
.now-playing__description-title {
  text-decoration: none;
  display: block;
  margin-bottom: 0.3rem;
  color: white;
}
.now-playing__description-artist {
  text-decoration: none;
  display: block;
  color: #b3b3b3;
}
.now-playing__action {
  color: #b3b3b3;
}

.play-controls {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.play-controls__controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-controls__control {
  color: #b3b3b3;
  font-size: 1.4rem;
  margin: 0.5rem;
}
.play-controls__play {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b3b3b3;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.5rem 1rem 0.5rem 1rem;
}
.play-controls__play:hover {
  border: 1px solid white;
}

.play-options {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 4rem 1rem 4rem;
}
.options__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1.2rem 0.6rem 1.2rem;
}
.options__item-text {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  color: #b3b3b3;
  padding-bottom: 0.2rem;
}
.options__item-select {
  width: 40%;
  background-color: #1db954;
  height: 4px;
  border-radius: 2px;
  visibility: hidden;
}
.options__item-selected {
  visibility: visible;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #111;
}

/*# sourceMappingURL=style.css.map */
