.header-section {
    padding: 40px 0 0px 0;

    &__title {
        font-size: 0.875em;
        font-weight: 100;
        &-strong {
            font-size: 1.5em;
            font-weight: 400;
            margin-right: 10px;
        }
    }
}