/*Styles for Album Panel*/

.albumContainer
    display: flex
    justify-content: space-around
    width: 100%
    flex-wrap: wrap
    background-color: rgba(86, 95, 173, 0.5)

    &__album
        width: 20%
        position: relative

        img
            width: 100%
        h3
            font-size: 1rem
            color: black