main
    background-color: #1CD760

ul 
    list-style-type: none
    padding:0
    
    .card
        padding:0
        

        li
            display: flex
            flex-flow: column
            justify-content: center
            align-content: center


            img
                margin: 1em auto
            
            p
            text-align: center