.favorites
    display: grid
    grid-template-columns: 1fr

@media (min-width: 768px)
    
    .favorites 
        grid-template-columns: 1fr 1fr


@media (min-width: 1000px)
    .favorites
        grid-template-columns: 1fr 1fr 1fr