.profile

    .profile__form
        display: flex
        flex-direction: column
        justify-content: space-between

        &--info
            height: 50px
            width: 400px
            font-size: 20px
            color: black
            border: none
            border-bottom: 1px solid white
            background: transparent

    button
        margin-top: 20px
        border-radius: 30px
        width: 8em
        height: 2em
        border: none
        color: #fff
        font-size: 15px
        cursor: pointer
        background-image: linear-gradient(#0F0340, #360BE5)

img
    height: 200px
    width: 200px