*{
    box-sizing: border-box;
}

.body{
    background:#92bde7;
    color: #485e74;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1em

}

.container{

}
ul{
    list-style:none;
    padding: 0px;
}
.brand{
    text-align:center;
}
.brand span{
    color:white;
}
.wrapper{
    box-shadow: 0 0 20px 0 rgba(72,92,116,0.7)
}
.wrapper > *{
    padding: 1em;
}
.queries{
    background: #c9effc;
    text-align: center;
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
}
.main{
    background:#f9feff;
    display: flex;
    flex-wrap: wrap;
}

.main a {
    padding: 0 12px 12px 12px;
    margin: 0 auto;
}

/* CARD STYLES */
/* 
.register form{
    display: grid;
    grid-template-columns: 1fr 
} */

.card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 200px;
}

.card_image{
    max-width: 200px;
}
.card_description{
    color: #92bde7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-wrap: nowrap;
    text-align:center;
    text-decoration: none;
}
/* .title{
    text-decoration: overline solid rgb(68, 68, 68);
} */
