body
    height: 100%
    background: linear-gradient(to bottom, rgb(63,63,63) 0%,rgb(24,24,24) 31%)
    background-attachment: fixed
    color: white

.searchingForm
    display: grid
    grid-template-columns: 6em auto
    grid-template-rows: 4em auto

    &__headphones
        margin-top: -0.35em
        font-size: 4em

    &__input
        font-size: 1.2em
        width: 100%
        padding: 0 1em
        margin: 0 0