<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <select>
        <option value="en">English</option>
        <option value="es">Español</option>
        <option value="ca">Català</option>
        <option value="ga">Galego</option>
    </select>

    <section>
            <a href="">Register</a> <span>or</span> <a href="">Login</a>.
    </section>

    <form>
        <h2>Register</h2>

        <ul>
            <li><input type="text" name="name" placeholder="name"></li>
            <li><input type="text" name="surname" placeholder="surname"></li>
            <li><input type="text" name="email" placeholder="email"></li>
            <li><input type="password" name="password" placeholder="password"></li>
        </ul>

        <button>Register</button>
    </form>

    <form>
        <h2>Login</h2>

        <ul>
            <li><input type="text" name="email" placeholder="email"></li>
            <li><input type="password" name="password" placeholder="password"></li>
        </ul>

        <button>Login</button>

        <p>Error!</p>
    </form>

    <section>
        User successfully registered, you can proceed to <a href="">Login</a>.
    </section>

    <main>
        <h1></h1>

        <button>Logout</button>

        <form>
            <input type="text" name="query">
            <button>Search</button>
        </form>

        <ul></ul>

        <section>
            <h2>Detail</h2>
            <img>
            <span></span>
            <p></p>
        </section>
    </main>

    <script src="scripts/errors.js"></script>
    <script src="scripts/validate.js"></script>
    <script src="scripts/normalize.js"></script>

    <script src="scripts/components/component.js"></script>
    <script src="scripts/components/feedback.js"></script>
    <script src="scripts/components/language-selector.js"></script>
    <script src="scripts/components/landing.js"></script>
    <script src="scripts/components/register.js"></script>
    <script src="scripts/components/register-ok.js"></script>
    <script src="scripts/components/login.js"></script>
    <script src="scripts/components/search.js"></script>
    <script src="scripts/components/results.js"></script>
    <script src="scripts/components/detail.js"></script>
    <script src="scripts/components/home.js"></script>
    <script src="scripts/duck-api/index.js"></script>
    <script src="scripts/user-api/index.js"></script>
    <script src="scripts/logic/index.js"></script>
    <script src="scripts/i18n.js"></script>
    <script src="scripts/main.js"></script>
</body>

</html>