.login 
    background-color: rgba(0,0,0, 0.6)  
    padding: 30px 0px  
    margin-top: 100px
    display: flex
    flex-flow: row wrap
    justify-content: space-between

    & h2 
    font-family: 'Major Mono Display', monospace 
    color: white
    padding-left: 15px

    & button
        background-color: rgba(0,0,0, 0)   
        border: none
        margin-right: 20px

    & form   
        margin-right: 15px 
        margin-left: 15px
        margin-top: 5px
        display: flex
        flex-flow: row nowrap

        & input 
            margin-top: 2px
            margin-right: 10px
            border-radius: 5px
            padding: 5px 10px
            border: none

        & button 
            background-color: #1CD760
            border-radius: 5px
            padding: 5px 30px


    .redirectBlock
        margin-right: 15px
        margin-top: 20px

        & a
            font-family: 'Roboto'
            color: #8fb6ff
            text-decoration: none