*
    margin: 0
    padding: 0
    box-sizing: border-box

$green: rgb(28,170,152)

.header
    background-color: rgb(27,34,42)
    display: flex
    flex-direction: column
    justify-content: center

    &__menu
        background-color: rgb(248, 248, 248)
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

    &__logo
        padding: 10px
        color: $green

    &__nav
        display: none
    
    &__burguer
        border: lightgrey 1px solid
        border-radius: 0.25em
        padding: 10px
        margin-right: 30px
    
    &__page-title
        background-color: rgb(28,170,152)

    &__page-title h1
        padding: 10px
        margin-left: 20px
        color: white
        font-size: 40px
        font-family: Arial, Helvetica, sans-serif
    
    &__title
        margin: 1em
        text-align: center
        color: white
    
    &__title--green
        color: $green
    
    &__text
        margin: 1em
        text-align: center
        color: white
        font-family: Arial, Helvetica, sans-serif

    &__images
        display: flex
        flex-direction: column
        justify-content: center

    &__img
        margin: 1em auto
        width: 80%
        max-width: 300px
    
    &__picture
        display: none

.content
    margin: 4em auto
    padding: 0px 10px

    &__img
        width: 100%
        border: solid lightgrey 1px

    &__title
        margin: 1em auto
    
    &__text
        margin: 1em auto
        font-family: Arial, Helvetica, sans-serif

    &__btn
        cursor: pointer
        outline: 0
        padding: 5px 10px
        background-color: white
        border: solid lightgrey 1px
        border-radius: 0.3em
     
    &__btn:hover
         color: rgb(28,170,152)

.content--contact
    margin-left: 20px
    margin-right: 20px
    padding-bottom: 50px
    padding-right: 10px
    padding-left: 10px

.form
    margin-left: 20px
    margin-right: 20px
    padding: 50px 10px
    padding-bottom: 0px


    &__title
        font-family: Arial, Helvetica, sans-serif
        padding-bottom: 5px
    
    &__input
        font-family: Arial, Helvetica, sans-serif
        margin-bottom: 10px
        border: solid lightgrey 1px
        border-radius: 0.3em
        padding: 5px
        width: 100%

.about
    margin-left: 20px
    margin-right: 20px
    padding: 50px 10px
    padding-bottom: 20px

    &__collap
        border: grey 1px solid
        border-radius: 0.25em
        margin: 10px auto
        
    
    &__collap-title
        padding: 10px
        margin-bottom: 10px
        border: lightgrey 1px solid
        background-color: rgb(245, 245, 245)

    &__collap-text
        padding: 10px
    
    &__collap-text--1, &__collap-text--2, &__collap-text--3
        display: none
    
    &__collap-title--1:hover + &__collap-text--1
        display: block
    
    &__collap-title--2:hover + &__collap-text--2
        display: block
    
    &__collap-title--3:hover + &__collap-text--3
        display: block

.content--about
    margin-top: 20px
    

.footer
    background-color: rgb(28,170,152)
    display: flex
    flex-direction: column
    
    
    &__banner
        padding: 2em

    &__title
        font-size: 2.5em
        color: white
    
    &__features
        color: white
        list-style: none
        margin-top: 1em

    &__features li
        font-size: 1.5em
        line-height: 1.5em
    
    &__features li:before
        margin-right: 5px
        content: '✓'
        font-size: 30px
        line-height: 30px
    
    &__camera
        width: 70%
        margin-bottom: 50px

    &__menu
        background-color: rgb(27,34,42)
        width: 100%
    
    &__menu-nav
        display: flex
        flex-direction: row
        justify-content: space-between
        padding: 2em
        margin-right: 25%
        margin-left: 25%


    &__menu-nav a
        color: white
        text-decoration: none
    
    &__copy
        color: white
        text-align: center
        padding-bottom: 2em

@media screen and (min-width: 580px) 
    .header

        background: url('images/site_showcase_bg.jpg') no-repeat center
        background-size: cover

        &__logo
            margin-left: 20px
        
        &__title
            margin-left: 20px
            text-align: left
            font-size: 3em
        
        &__text
            margin-left: 20px
            text-align: left
            font-size: 2em
        
        &__images
            display: flex
            flex-direction: row
            justify-content: center
        
        &__img
            width: 40%
            min-height: 100px
    
    .footer
        &__camera
            width: 50%

@media screen and (min-width: 900px)
    %margin
        margin-right: 80px
        margin-left: 80px


    .header
        &__logo
            @extend %margin
            margin-right: 20px

        &__menu
            justify-content: flex-start

        &__burguer
            display: none

        &__nav
            display: flex

        &__nav a
            color: white
            text-decoration: none
            padding: 1em
            color: grey
        
        &__nav a:hover
            background-color: darkgrey
        
        &__page-title h1
            @extend %margin

        &__title
            @extend %margin
            font-size: 3em
    
        &__text
            @extend %margin
            font-size: 1.5em
        
        &__images
            @extend %margin
            justify-content: flex-start
        
        &__img
            margin-top:  0
            margin-left: 0
            margin-right: 20px
            width: 30%
    .content
        @extend %margin
    
    .form, .content--contact, .about
        @extend %margin
    
    
    .footer

        &__banner
            padding: 0
            padding-top: 2em
            @extend %margin

        &__title
            font-size: 3em
        
        &__features li
            font-size: 2em

        &__camera
            width: 40%

        &__menu-nav
            @extend %margin
            justify-content: flex-start
        
        &__menu-nav a
            padding-right: 20px
        
        &__copy
            text-align: right
            padding-right:80px

@media screen and (min-width: 1100px)

    .about
        display: flex
        justify-content: flex-start
        margin-top: 0
        margin-bottom: 0

        &__info
            width: 200%
        
    .content--about
        margin: 20px
    
    .footer
        &__menu
            display: flex
            flex-direction: row
            justify-content: space-between
        
        &__copy
            display: flex
            align-items: center
            padding: 2em
            padding-right:80px



@media screen and (min-width: 1400px)

       
    .header
        &__banner
            display: grid
            grid-template-columns: 1fr 1fr
            height: 600px
        &__phone
            grid-column: 1/span 1
            display: flex
            flex-direction: column
            justify-content: center
        
        &__title
            margin-top: 0
            margin-bottom: 0
            font-size: 80px
        
        &__text
            margin-top: 40px
            font-size: 30px
            margin-right: 0
        
        &__images
            justify-content: space-between
        
        &__img
            width: 50%

        &__picture
            grid-column: 2/span 1
            display: block
            align-self: flex-end

    main
        margin: 100px
        display: flex
        justify-content: flex-start

    .content
        margin: 10px
    
    .content--contact
        margin: 20px
    
    .form
        width: 200%
        margin: 0
        padding: 0
    
    .footer
        &__banner
            display: grid
            grid-template-columns: 1fr 1fr
        
        &__text
            margin: 50px 80px
        
        &__camera
            margin-top: 50px
