*{
    margin: 0;
}

body {
    width: 100%;
    font-size: 2rem;
    background-color: #adadad;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

main {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-top: 6%;
    height: 100%;
    border: 5px solid black;
}
.container img {
    width: 100%;
}
.container p {
    text-align: justify;
    width: 100%;
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    background-color: grey;
    height: 5%;
    z-index: 1;
    border: 5px solid black;
}
#logo {
    display: inherit;
    font-size: 1.4rem;
    align-self: center;    
}
.dropdown {
    position: relative;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 5%;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
    text-align: center;
}
.dropdown-content a {
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

.button {
    background-color: #616161;
    border: none;
    height: 100%;
    position: absolute;
    justify-self: flex-end;
    width: 3vh;
}

input {
    width: 60%;
    background-color: #d1d1d1;
    font-size: 2vh;
    border: none;
}
.button2 {
    background-color: #616161;
    border: none;
    height: 100%;
    width: 14%;
    text-align: center;  
}


.dropdown:hover .dropdown-content {
    display: block;
}

.padding {
    padding-top: 10%;
}
section {
    align-content: center;
}


@media only screen and (min-width: 768px) {
    .container {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    header {
        align-content: space-between;
        height: 10%;
    }
    #logo {
        display: inherit;
        font-size: 4vh;
        align-self: center;
        margin-left: 2%;
        margin-right: 2%;
        
    }
    input {
        font-size: 2rem;
    }
    .dropdown button {
        display: none;
    }
    .dropdown-content{
        display: flex;
        position: relative;
        justify-content: space-evenly;
        background-color: #616161;
        min-width: 0px;
        height: 100%;
        box-shadow: none;
        padding: unset;
        align-items: center;
        z-index: 0;
        left: 10px;
    }
    main {
        display: flex;
        flex-wrap: wrap;

    }
    section {
        width: 45%;
        height: 100%;
        padding: 10px;
        margin-bottom: 5px;
        margin-top: 6%;
        border-radius: 5%;
    }
}

@media only screen and (min-width: 992px) {
    header {
        height: 10%;
    }
    .container {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    #logo {
        font-size: 4vh;
    }
    input {
        font-size: 2rem;
    }
    .dropdown button {
        display: none;
    }
    .dropdown-content{
        display: flex;
        background-color: #616161;
        min-width: unset;
        height: 100%;
        box-shadow: none;
        padding: unset;
        z-index: 0;
        align-items: center;
        left: 10px;
    }
    .dropdown-content a {
        padding-left: 5px;
        padding-right: 5px;
        color: black;
        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
        margin-left: 10px;
    }
    main {
        display: flex;
        flex-direction: row;

    }
    section {
        width: 29%;
        height: 100%;
        padding: 10px;
        margin-top: 10%;
    }
}
