html
  head
    title Spotify
    link(rel="stylesheet", type='text/css', href="vendor/bootstrap/4.1.3/css/bootstrap.css")
    link(rel='stylesheet', type='text/css', href='style.css')
  body.main
    h1 Spotify?
    block content