html,
body {
	background: #f1f1f1;
}
#calculadora {
	width: 220px;
	height: 220px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -112px 0px 0px -112px;
	padding:5px;
  border: 1px solid #afafaf;
	background: #fff;
}
.output-valor{
	margin:4px 0px 2px 4px;
	width:194px;
	height:30px;
	font-size: 16px;
  line-height: 30px;
	overflow:hidden;
	text-align: right;
	color:#48484D;
	padding: 4px 8px;
  background-color:#fff;
  border: 1px solid #dedede;
}
.key {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.key li {
  float: left;
  width: 48px;
  height: 28px;
  text-align: center;
  line-height: 30px;
  margin: 4px 0px 0px 4px;
  background: #f5f5f5;
  border: 1px solid #dedede;
  cursor: pointer;
}
.key li.operador {
  background: #d6d6d6;
  border: 1px solid #d6d6d6;
}
.key li.verificar {
  background: #4d90fe;
  border: 1px solid #4d90fe;
  color: #fff;
}
.key li.empty {
	width: 50px;
	border: 0px;
	background: transparent;
	cursor: default;
}
.key li:hover {
  border: 1px solid #222;
}
.key li.empty:hover {
	border: 0px;
}
