
@import url('https://fonts.googleapis.com/css?family=Roboto')

ul, li
    list-style: none   
    
header
    background: #46BDD4
    flex-flow: column
    align-items: flex-start
    display: flex
    //padding: 20px 10px
    top: 0px

.headerchimptop
    display: flex
    flex-direction: row
    flex-flow: row
    margin-top: 1.2rem
    margin-left: 70rem
    font-size: 1.2rem
    color: white

.mailchimplogo
    display: flex
    align-items: flex-start

body 
    font-family: 'Roboto', sans-serif

.headerchimp
    background: #46BDD4
 


.logomonkey
    margin-left: 8rem
    margin-top: 1rem

.logoceasymail
    width: 40%
    height: 20%

.login
    display: flex
    justify-content: flex-end
    margin: 1.5rem 4.5rem
    color: white
    font-size: 1.2rem

.navmenu
    display: inline-flex
    justify-content: center
    margin-top: 4rem

    li 
        margin: 0 0.9rem
       
    a
        color: #494646
        text-decoration: none
        font-weight: 600
    &_logo
        margin-left: 8rem
        margin-top: -1.5rem
    
  
.logosignup_red

    wide: 3rem
    background: #DF7045

.logosignup_black
   
    background: #465255
    width: 7.5rem
    height: 4rem
    border-radius: 0.6rem
    color: white
    display: flex
    align-items: center
    justify-content: center
    margin-left: 2rem
    font-size: 1rem
    margin-top: -2rem

.navmenuitems
    display: flex
    align-items: center
    font-size: 1rem
    border: 1rem solid #a3cddf
    background: #9ecadc
    margin-left: 1.3rem
    font-size: 1rem
    border-radius: 1.5rem
    margin-top: -2rem
    width: 42rem
    height: 2rem

.searchBar
    width: 12rem
    height: 2rem
    border-radius: 0.5rem

main
    background: #46BDD4
    flex-flow: column
    align-items: center
    display: flex
    //padding: 20px 10px
    top: 0px


.easymail
    display: flex

.textmail
    display: flex

.easymail_left
    display: flex


.easymail_right
    display: flex