body{
background-color: aqua

}

#divBotones{
    width: 500px;
    text-align: center;
    margin-bottom: 40px;
    background-image: url("https://t2.ev.ltmcdn.com/es/posts/0/8/1/donde_se_ve_la_aurora_boreal_1180_600.jpg")
}

.dot{
    background-color: rgb(165, 206, 141);
    display: inline-table;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    vertical-align: middle;
    align-content: center;
    margin:auto;
    border-left: 3px solid rgb(89, 89, 153);
    border-right: 3px solid rgb(89, 89, 153);
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}

#EspacioPreguntas{
    background-color: aliceblue;
    height: 70px;
    width:500px;
    size: 20px;
    text-align: center;
    align-content: center;
    border: 2px solid black;

}


#Botonera{
    width: 500px;
    text-align: center;
}

.boton{
    text-decoration: none;
    padding: 5px;
    font-family: arial;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}

#botonRespuesta{
        color: black;
        background-color: #9b0e0e;
      }
#botonRespuesta:hover{
        color: #9b0e0e;
        background-color: #bc6355;
        text-decoration: none;
}


#botonPasapalabra{
    color: black;
    
    background-color:#7979b1;
}

#botonPasapalabra:hover{
    color:black;
    background-color: rgb(3, 17, 80);
    text-decoration: none;
}

#botonReset{
    color: black;
    background-color: rgb(212, 101, 11);
    display: none;
}

#botonReset:hover{
    color: black;
    background-color: rgb(201, 174, 24);
}


#respuesta{
    border-bottom-color: blue;
    border-top-color: blue;
    border-style: ridge;
    border-left-color: #9b0e0e;
    border-right-color: #bc6355;

}
