.logout
    background-color: tomato
    width: 60px
    height: 60px
    text-decoration: none
    display: inline-block
    outline: none
    cursor: pointer
    border-style: none
    color: white
    border-radius: 100%
    overflow: none
    text-align: center