extends ../layout/index

include ../feedback/index
include ../search/index


block content
    section.home
        if feedback
            +feedback(feedback, 'error')
        form(action='/logout', method='POST')
            button(type='submit' class='logout') Logout
        +search
        block artists
        block albums
        block tracks 