@font-face {
  font-family: "Caesar";
  src: url("Caesar.ttf");
}

@font-face {
  font-family: "Helvetica";
  src: url("Helvetica.ttf");
}

*{
	margin:0;
	padding: 0;
}

body{	
	
	    background: url(../img/pared2.jpg) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;

}
.main{

	display: flex;
	margin:auto;
	width: 1070px;
	
}

.presentador{
	width: 500px;
	height: 440px;
	margin-right:20px;
}


/*----------------BIENVENIDA-------------*/


.bienvenida, .final{
	width: 500px;
	height: 320px;
	margin-right:20px;
}

.bienvenida p{
	text-align:center;
	color:rgb(11,54,129);
	font-size:18px;
	padding: 5px;
}

.bienvenida h1{
	text-align:center;
	color:rgb(11,54,129);
	font-size:15px;
}

.name{
    background-color:transparent;
    width: 450px;
    height: 46px;
    border:rgb(11,54,129) 2px solid;
    font-size:30px;
    text-align:center;
    font-family:'Helvetica';

    color:rgb(11,54,129);

}

.botonesInicio{
    display: flex;
    margin:auto;

    width: 500px;
    margin-top:35px;
    height: 50px;

}

.enviarNombre{
    border:2px solid rgb(11,54,129);
    width: 300px;
    height: 50px;

    margin-left:10px;

    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;

    color:rgb(11,54,129);
    font-size:20px;
    background-color: transparent;
 }


/*--------------JUEGO-------------*/

.ventana{
	display:none;
	width: 500px;
	height: 320px;
	margin-right:20px;
	background: url(../img/tiempo.jpg);

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.pregunta{
	
	position:relative;
	top:50px;
	left:60px;
	width: 370px;
	height: 140px;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

	font-size:25px;
	text-align:center;
}

.respuesta{
	position:relative;
	top:40px;
	left:98px;
	width: 300px;
	height: 60px;
	border:rgb(11,54,129) 2px solid;
	font-size:40px;
	text-align:center;
	margin-top:10px;
}

.botones{
	display: none;
}

.botones{
	margin:auto;

	width: 1070px;
	margin-top:10px;
}

.salir{
	border:2px solid rgb(11,54,129);
	width: 80px;

	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	color:rgb(11,54,129);

	font-size:20px;
	background-color: transparent;

}

.pasapalabra, .enviar{
	border:2px solid rgb(11,54,129);
	width: 195px;

	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;

	color:rgb(11,54,129);
	font-size:20px;
	background-color: transparent;

}

.pasapalabra, .salir, .tiempo{
	margin-right: 10px;
}

.cancelar:hover, .pasapalabra:hover, .enviar:hover, .enviarNombre:hover, .volverJugar:hover, .salir:hover, .salirCasino:hover{
	border:2px solid white;
	color:white;
}

.info{

	margin:auto;
	width: 1075px;
	margin-top:10vh;

	margin-bottom:20px;
}


.tiempo, .faltan{
	
	align-items: right;
	display: flex;
	margin-left:925px;
	margin-bottom: 2px;
	width: 150px;

}

.tiempo h1, .faltan h1{
	line-height:50px;
	width: 800px;
	font-size:20px;
	color:rgb(131,177,213);
	height:30px;
}

.tiempoNumero, .faltanNumero{
	height:30px;
	font-size:35px;
	color:rgb(11,54,129);
}

.azuleijos{
	height: 320px;
}

.row{
	display: flex;
}

.letra{
	width: 80px;
	height: 80px;
	background-image: url('../img/azuleijo.jpg');
	background-size: cover;

	color:rgb(24,57,126);
	font-size:40px;
	text-align: center;
	line-height:80px;

}


.acierto{
	background-image: url('../img/acierto.jpg');
	color: rgb(149,172,102);
}

.fallo{
	background-image: url('../img/fallo.jpg');
	color: rgb(177,98,96);
}


/*--------------FINAL------------*/

.final{
    display:none;

}


.botonesFinal{
	display: none;
}

.botonesFinal{
	margin:auto;

	width: 1070px;
	margin-top:10px;
}


.salirCasino{
	border:2px solid rgb(11,54,129);
	width: 80px;

	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	color:rgb(11,54,129);

	font-size:20px;
	background-color: transparent;

}


.volverJugar{
	border:2px solid rgb(11,54,129);
	width: 410px;

	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;

	color:rgb(11,54,129);
	font-size:20px;
	background-color: transparent;

}


.final p{
    text-align:center;
    color:rgb(11,54,129);
    padding: 5px;
     font-family:'Helvetica';

}

.final h1{
    text-align:center;
    color:rgb(11,54,129);
    font-size:25px;
     font-family:'Helvetica';

}

.ranking{
     font-family:'Caesar';
     font:bold;
    font-size:18px;

}

.puntos{
    font-family:'Caesar';
    font-size:30px;
    text-align: center;
    color:rgb(11,54,129);
}



