@font-face {
  font-family: "Helvetica";
  src: url("Helvetica.ttf");
}

*{
	padding: 0;
	margin:0;
}
body{
	background-color:rgb(250,242,195); 
}

.banner{
	margin-top: 5%;
	display: inline-flex;
	height:40%;
	width: 100%;
	position:relative;

}

.titulo{
	font-family:'Helvetica';
	text-align: left;
	margin-left:10%;
	width: 50%;
	height:180px;
	
	color:black;
	position:relative;

}
.bem{
	margin-top:30px;
	font-size:40px;
	font-weight: 600;
}
.Lisboa{
	font-size:30px;
	font-weight: 100;

}

.botones{
		position:absolute;
		right:0;
		margin-right: 10%;
}


.botonBingo, .botonPasa{
	display: block;
	margin:30px;
    padding:10px;
	width: 150px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    text-decoration:none;
    font-family:'Helvetica';
    color: black;


}
.botonBingo{
    background-color: rgb(243,220,92);
}

.botonPasa{
	background-color: rgb(249,238,176);
}


.imagen{
	position:absolute;
	width: 100%;
	bottom:0px;
	left:0px;
	height:60%;

	  box-sizing: border-box;
	  background-image: url("../img/fondo.png");
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center 25%;


}

img{
	max-height: 500px;
	width: 100%;
	position: absolute;	
	bottom:0px;
	left:0px;
	  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 25%;

}