p {
    margin: 0;
    padding: 0;
    text-align: right;
    color: green;
}

button {
    padding: 10px;
}

.grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr repeat(5, 1fr);
}

.a {
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 5px;
    font-family: monospace;
    border: 1px solid grey;
    background-color: rgb(41, 39, 39);
    vertical-align: auto;
}

#caption {
    border-bottom: none;
}

#result {
    font-size: 40px;
}