
html {
	box-sizing: border-box;
}

.container {
	max-width: 800px;
	margin: auto;
	box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.75);
	background-image: linear-gradient(190deg, #ff3300 , #ff8c1a);
}

body {
	align-items: center;
	background-image: linear-gradient(90deg, #ff8c1a , #ff531a);
	font-family: 'Open Sans';
	font-size: 22px;
}