@import '../../utils.sass'
    
.search
    display: flex
    flex-flow: row
    align-items: center

    &__input
        width: 100%
        border-width: 0
        height: 1.75em
        //background-color: #ffd6d6
        padding-left: 1.5em
        font-size: 0.8em
        border-radius: 0.5em

    &__button
        align-self: center
        padding: 0.75em
        background-color: $salmon 
        color: $dark-gray
        font-size: 1.2em
        
