@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin: 0px;
    padding: 0px;
    color: #25045C;
    font-family: 'Roboto', sans-serif;
}

header{
    width: calc(100% - 20px);
    position: fixed;
    background: #52528C;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    top: 0px;
}

/* pq ho configurem amb mobile first, 1er amaguem contingut del rightnav a*/ 

.rightnav a{
    color: #25045C;
    text-decoration: none;
    display: none;
}

.cat{
    font-size: 2em;
    margin-right: 10px;
}

.hamburguer{
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 30px; 
}


main{
    margin-top: 110px;
    padding: 0 40px;
   
}

article{
    border-radius: 15px;
    padding: 10px 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 6px 2px rgba(0,0,0, .1)
}

article img{
    width: 220px;
}

h1{
    text-align: center;
}

/* quan la pantalla +gran de 768px amagar rightnav a i mostrar hamburguesa*/
@media screen and (min-width: 768px) {

    .rightnav a{
        display: inline;
    }

    .rightnav i{
        display: none;
    }

    article{
        width: 40%;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
  }

  @media screen and (min-width: 992px) {

    article{
        width: 27%;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
  }