@import url('https://fonts.googleapis.com/css?family=Pacifico')

.home-title
    font-family: 'Pacifico', cursive
    color: white
    position: absolute
    top: 0

    
    
.home
    height: 100%
    width: 100%
    margin: 0
    height: 100vh 
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.login-register
    display: flex
    width: 200px
    justify-content: space-evenly

.home-container
  
    width: 300px
    height: 300px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.59)
    border-radius: 20px

.login-link
     background: linear-gradient(to bottom, rgba(59,100,182,1) 7%,rgba(237,237,237,1) 78%,rgba(255,255,255,1) 100%)
     text-decoration: none
     padding: 1em 2em
     border-radius: 11px
     box-shadow: rgba(0,0,0,1) 0 1px 0
     text-shadow: rgba(0,0,0,.4) 0 1px 0
     color: white
     font-size: 13px
     font-family: Helvetica, Arial, Sans-Serif

.register-link
     border-top: 1px solid #d9e4eb
     background: linear-gradient(to bottom, rgba(59,100,182,1) 7%,rgba(237,237,237,1) 78%,rgba(255,255,255,1) 100%)
     text-decoration: none
     padding: 1em 1.5em
     border-radius: 11px
     box-shadow: rgba(0,0,0,1) 0 1px 0
     text-shadow: rgba(0,0,0,.4) 0 1px 0
     color: white
     font-size: 13px
     font-family: Helvetica, Arial, Sans-Serif

.login-link:hover
    border-top-color: #965d8f
    background: rgba(59,100,182,1)
    color: #ffffff

.register-link:hover
    border-top-color: #965d8f
    background: rgba(59,100,182,1)
    color: #ffffff