.App {
    text-align: center;
    height: 100vh;
}

.content {
    margin-top: 5em;
    // background: url("./imgs/pac_man_monsters_vector_suits_jogging_97549_1920x1080.jpg") fixed no-repeat;
    height: 1920px;
    background-color: rgb(218, 218, 218);
    width: 100%;
    height: 100%;

}