extends ../artists/index.pug

block albums   
    if albums
        h2 Albums
            ul
                each album in albums
                    li
                        form(method='POST', action='/tracks')
                            img(src=`${album.images[0] ? album.images[0].url :  'https://developer.spotify.com/assets/branding-guidelines/icon3@2x.png'}`, class='image', alt="")
                            button(name='tracksId', type='submit', value=album.id class='button_artist')= album.name   
                           
    block tracks                