extends ../layout/index

include ../feedback/index

block content
    section.register
      h2 Register
      form(method='POST', action='/register')
        input(name='name', type='text', placeholder='name', required='')
        input(name='surname', type='text', placeholder='surname', required='')
        input(name='email', type='email', placeholder='email', required='')
        input(name='password', type='password', placeholder='password', required='')
        input(name='passwordConfirm', type='password', placeholder='confirm password', required='')
        button(type='submit') Register
      if feedback
        +feedback(feedback, 'warn')
      | Go 
      a(href='/') Home
      |  or 
      a(href='/login') Login