.feedback
    +round-border(0.5em, blue, solid, 1px)
    padding: 1em
    background-color: greenyellow

.feedback--warn
    background-color: yellow

.feedback--error
    background-color: tomato
    color: white