.artists
    max-width: 1000px
    width: 80%
    background: #fff
    margin-top: 20px
    &-list
        display: flex
        flex-flow: row wrap
        justify-content: space-around
        & .artist
            flex-basis: 40%
            -ms-flex: auto
            margin-bottom: 20px
            background-repeat: no-repeat
            background-size: cover
            background-position: top
            max-width: 180px
            min-width: 180px
            min-height: 180px
            max-height: 180px
            border-radius: 50%
            h4
                color: #333333
                font-weight: bold
                font-size: 100%
                margin-top: 8px
                text-transform: uppercase

        @media(max-width: 815px) 
            flex-basis: 50%

        @media(max-width: 555px) 
            flex-basis: 100%

