mixin artists(artists)
    section.artists.p-l-10.p-r-10
        .artists-list
            each artist in artists
                .artist
                    a(href=`/albums/${artist.id}`, alt=`See albums of ${artist.name}`)
                        if artist.images[1] !== undefined
                            img(src=artist.images[1].url)
                        else
                            img(src='/images/image-not-found.jpg')
                    h4= artist.name