.c_updateuser
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    background-size: cover
    background-repeat: no-repeat
    background-image: url('https://s3.amazonaws.com/thinkific/courses/course_card_image_000/173/3711503419111.original.jpg?1503419111')

    form
        padding: 15px

    input
        width: 100%
        padding: 12px 20px
        margin: 8px 0
        display: inline-block
        border: 1px solid #ccc
        box-sizing: border-box

    .form-buttoncontainer
        display: flex
        flex-direction: row
        justify-content: center

        button
            margin-left: 5%
            margin-right: 5%


