.header
    height: 50px
    background-color: #9FB2C5
    padding: 0px 10px 0px 10px
    display: flex
    flex-flow: row nowrap
    justify-content: space-between

    & p
        margin: 0
        padding: 0