.results
    display: flex
    flex-direction: column

    &__btn
        text-decoration: none
        color: white
        background-color: #ff9b71
        align-self: center
        padding: 1em
        border-radius: 50px

.notFound
    width: 100%
    display: flex
    justify-items: center
    flex-direction: column

    &__text
        color: grey
        font-weight: bold
        text-align: center
        // margin: 1em
        font-size: 5em