.fav__title-white
    color: white
    font-weight: bold

.fav__title-black
    color: black
    font-weight: bold

.fav__channel-dark
    color: #a5aaaa

.fav__channel-white
    color: blacks

.fav__description-black
    color: black

.fav__description-white
    color: #a5aaaa




