.content-quiz {
	background: #fff;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: minmax(200px, auto) auto;
	width: 100%;
    background-color: #ffffff;
    border: 1px solid #f1eeea;
	border-radius: 2px;
	margin-top: 20px;
	margin-bottom: 40px;
	@include respond-above(xs) {
		grid-template-columns: minmax(200px, 200px) 2fr;
		grid-template-rows: auto;
	}

	&__image {
		width: 100%;
	}
	&__figure,
	&__actions {
		display: flex;
	}

	&__figure {
		margin: 0;
		justify-content: center;
		align-items: center;
		position: relative;
		min-width: 5rem;
		background-color: #333;
		box-shadow: inset 0 -0.1875rem rgba(0, 0, 0, 0.1);
	}

	&__info {
		display: grid;
		grid-template-rows: 1fr 30px;
		padding: 1.5rem;
	}
	&__title {
		margin: 0 0 15px 0;
		font-size: 1.5em;
		padding-bottom: 15px;
		border-bottom: 1px solid #e4e4e4;
	}
	&__description {
		margin: 5px 0;
	}
	&__info-text {
		display: flex;
		flex-direction: column;
	}
	&__actions {
		justify-content: flex-end;
		@include respond-above(xs) {
			display: flex;
    		justify-content: flex-end;
		}
	}
	&__edit-btn,
	&__delete-btn {
		outline: 0;
		cursor: pointer;
		height: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #ccc;
		color: #fff;
		padding: 5px 15px;
		border: 0;
		margin-left: 15px;
		&:hover {
			color: #fff;
		}
		& svg {
			margin-right: 10px;
			font-size: 12px;
		}
		@include respond-above(xs) {
			margin: 0px 15px 0px 0px;
		}
	}
	&__edit-btn {
		background: #ffa500;
		&:hover {
			background: #cc9234;
		}
	}
	&__delete-btn {
		background: #c33838;
		margin: 0px 0px 0px 15px;
		@include respond-above(xs) {
			margin: 0;
		}
		&:hover {
			background: #922525;
		}
	}
}

.content-question {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: minmax(200px, auto) auto;

	@include respond-above(xs) {
		grid-template-rows: auto;
		grid-template-columns: minmax(200px, 200px) 1fr;
	}

	&__image {
		width: 100%;
	}

	&__figure,
	&__info,
	&__actions {
		display: flex;
	}

	&__figure {
		margin: 0;
		justify-content: center;
		align-items: center;
		position: relative;
		min-width: 5rem;
		background-color: #737373;

		@include respond-above(xs) {
			display: flex;
		}
		@include respond-above(sm) {
			min-height: 14rem;
		}

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: '';
		}
		&-info {
			text-align: center;
			font-size: 2.25em;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			color: #fff;
			font-style: italic;
			font-weight: 700;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__info {
		display: grid;
		grid-template-rows: auto 30px;
		padding: 1.5rem;
		border-bottom: 1px dotted #d4d0d0;
		@include respond-above(xs) {
			border: 0;
		}
	}
	&__actions {
		display: flex;
    	justify-content: flex-end;
	}
	&__edit-btn,
	&__delete-btn {
		outline: 0;
		cursor: pointer;
		width: 3rem;
		height: 3rem;
		margin-bottom: 15px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #ccc;
		color: #fff;
		&:hover {
			background: #989393;
			color: #fff;
		}
	}
	&__edit-btn {
		background: #e2a33c;
	}
	&__delete-btn {
		background: #d07474;
	}
}

.content-add-question {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 40px;

	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem;
		border: 2px dashed #ccc;

		&:hover {
			background: #eee;
		}
	}

	&__icon-wrap {
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		background: #864cbf;
		border-color: #864cbf;
		margin-bottom: 1.5rem;
		font-size: 2em;
	}
}

.content-actions {
	&__text {
		color: #000;
	}
}
