<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <select>
        <option value="en">English</option>
        <option value="es">Español</option>
        <option value="ca">Català</option>
        <option value="ga">Galego</option>
    </select>

    <form>
        <h2>Sign Up</h2>

        <ul>
            <li><input type="text" name="name" placeholder="name"></li>
            <li><input type="text" name="surname" placeholder="surname"></li>
            <li><input type="text" name="email" placeholder="email"></li>
            <li><input type="password" name="password" placeholder="password"></li>
        </ul>

        <button>Sign Up</button>
    </form>

    <form>
        <h2>Sign In</h2>

        <ul>
            <li><input type="text" name="email" placeholder="email"></li>
            <li><input type="password" name="password" placeholder="password"></li>
        </ul>

        <button>Sign Up</button>
    </form>

    <section>
        User successfully registered, you can proceed to <a href="">Login</a>.
    </section>
    <section>
            <h2>Welcome to our e-commerce</h2>
          
    </section>

    <script src="scripts/components/component.js"></script>
    <script src="scripts/components/language-selector.js"></script>
    <script src="scripts/components/sign-up.js"></script>
    <script src="scripts/components/sign-in.js"></script>
    <script src="scripts/components/sign-up-ok.js"></script>
    <script src="scripts/components/home.js"></script>
    <script src="scripts/data.js"></script>
    <script src="scripts/logic.js"></script>
    <script src="scripts/i18n.js"></script>
    <script src="scripts/main.js"></script>
</body>

</html>