.artistPanel
    background-color: grey
    padding: 1em

.artists
    padding: 0.5em

.artistCard
    //margin: 0.3em
    padding: 0em
    border-style: solid
    border-width: 0.5em
    border-color: grey
    border-radius: 1em


.artistImg
    padding: 0.8em

.mainArtistInfo
    padding: 0.8em

.artistName
    font-weight: bold
    margin-bottom: 0.5em

.artistInfo
    font-size: 0.8em
    margin-left: 0.5em

.moreInfo
    border-style: solid
    border-width: 0.2em
    border-color: maroon