body{
    background-color: lightgray;
    height: 100%;
}

.title{
    margin: 5% auto;
    font-size: 3em;
}
.login {
    background-color: white;
    padding: 4em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: gray;
    color:black;
}

.login h2{
    margin: 0.5em auto;
    margin-bottom: 1em;
}

.login input, button, .login__register-link{
    margin: 0.5em auto;
}

.login input{
    border: black 2px solid;
    border-radius: 0.2em;
}

.flex{
    display:flex;
    align-items: center;
    justify-content: center;
}



.error {
    display: none;
    background-color: red;
    color: white;
    border-radius: 0.5em;
    border-style: solid;
    border-color: black;
    text-align: center;
}

.register {
    display: none;
    background-color: bisque;
    padding: 4em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: gray;
}

.register label, input, button{
    margin: 0.5em auto;
} 

.home {
    display: none;
    background-color: green;
    color: white;
}