
h1{
    color: white;
    background-color: darkblue;
    font-family: Arial, Helvetica, sans-serif; 
    width: 95%;
    height: 150px;    
    border-radius: 15px;
    text-align: center; 
    border-style: inset;
    
}




.container{ 
    width:80%;
    margin:auto;      
}
.azulClaro{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    height: 70%;
    margin: auto;
    text-align: center;
    border-radius: 15px;
}


.button{
    background-color: lightgreen;
    text-decoration-color: pink;
    position: relative; 
    border-radius: 15px;
    margin-right: 40%;
}


.textHole{
    margin-left: 40%;
    
    
}

.roscon{
    width:80%;
    margin:auto; 
}


.blue{
    background-color: skyblue;
    background-image: url(https://static.tumblr.com/feda977d9b179047c040c6309239d7ce/fmzpgxt/vozp8seo1/tumblr_static_tumblr_static_1dnio1l5wmskwkwsc8kwgokow_640.gif);
    background-size: cover; 
    
}

.cloud{
    position: absolute;
    margin-left: 40%;
    
}


.letter{
    border-style: inset;
    padding: 15px;
    border-radius: 120px 50px;
    background-color: lightblue;
}
.mal{
    border-style: inset;
    padding: 15px;
    border-radius: 120px 50px;
    background-color: red;
}
.bien{
    border-style: inset;
    padding: 15px;
    border-radius: 120px 50px;
    background-color: green;
}

