.googleMap
    max-width: 100%
    height: 500px
    position: relative
    @media (min-width: 360px ) and (max-width: 1024px )
            margin-left: 5% 
            max-width: 90%
            height: 300px