*
    margin: 0
    padding: 0
    box-sizing: border-box

.clock
    width: auto
    height: auto
    position: relative
    font-size: 3.5rem
    margin: 1rem
    margin-top: 2rem
    text-align: center
    font-weight: 300
    font-family: 'Roboto Mono', monospace
    text-shadow: 4px 4px 2px grey