.header
    background: #edeff0
    margin-bottom: 2em
    font-size: .95em
    color: #222
    text-align: center
    text-transform: uppercase
    display: block
    padding: 1em
    transition: .2s
    @include tablet
        & .main-nav
            display: flex
            flex-wrap: wrap

