.header
    background: #edeff0
    margin-bottom: 2em
    & .icn-logo
        background: #54606b
        color: #fff
        & i
            font-size: 2.45em
            line-height: 0
            margin-top: 30px
    @include tablet
        & .main-nav
            display: flex
            flex-wrap: wrap

