/*General*/
*{
    box-sizing: border-box;
}
/*Canvi de model de box, per a que sigui fins al border*/


/*Seccion superior*/

body{
    background-image: url("https://i.pinimg.com/originals/4f/3f/fd/4f3ffdcbef67f88465abc5a953c91d8d.png");
}

main{
    position: relative;
    top: 100px; /*Que comenci 100px, per a que no es solapi amb el header */
}

h3{
    display: none;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index:1000;
}

.uppernav{
    display: none;
}

.linkshamburger{
    display: none;
    z-index: 1;
}

#contenidorhamburger:hover .linkshamburger{
    display: list-item;
    flex-direction: column;
    justify-content: center;
}

.homeabout{
    margin: 1%;
    size: 1em;
}

/*Seccion central*/

.section{
    display: flex;
    flex-direction: column;
    align-content: center;
    width : 95%;
}

.{
    width: 10%;
    height: 10%;
}


p{
    border: 2px solid black;
    background-color: lightgreen;
}

.cabecera{
    display: flex;
    justify-content: center;
}

.imagen{
    display: flex;
    align-content: center;
    flex-direction: row;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}







/* TABLET cambio a 768px */

@media screen and (min-width: 768px) {
    .uppernav {
        display: flex;
        justify-content: center;
        font-size: 1em;
    }

    #hamburger{
        display: none;
    }

    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    /*Dins del main fem un display flex com a row. Fem que es centri */

    .section{
        display: flex;
        flex-direction: column;
        align-content: center;
        width : 45%;
        margin: 1%;
    } 
    /*Dins de la secció, tot s'organitza com a column, amb una amplada del 45% i s'alinea
    S'afegeix un margin per tal de que es separin */

    .{
        width: 10%;
        height: 10%;
    }

    h3{
        display: inline;
        size:2em;
    }

}


/* TABLET cambio a 992px */

@media screen and (min-width: 992px) {
    main{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start; 
        flex-direction: row;
        justify-content: center;
        top: 50px;
    }

    /*Dins del main fem un display flex com a row. Fem que es centri.
    Afegim un top per a que no es creui amb el header. */

    .section{
        display: flex;
        flex-direction: column;
        align-content: center;
        width : 30%;
        margin: 1%;
    }

    .logo{
        width: 50px;
        height: 50px;
        animation: 3s rotate linear infinite;
    }

    @keyframes rotate{
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}

    }

    h3{
        display: inline;
        size:2em;
    }
}