.menu
    height: 90vh
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 60px
    

    button
        margin-bottom: 2em
        padding: 1.2em
        margin-left: auto
        margin-right: auto
        background: none
        border: none
    
    button:hover
        border-bottom: 2px solid black
    
    &__invisible
        widht: 100%
