.results
    &__image
        height: 30em
        width: 30em
    li
        padding: 0
        padding-top: 5px
    
    form
        margin: 0
.pointer 
    cursor: pointer

.button-list
    border-width: 0px
    background-color: white

.button-list:hover
    color: rgba(0,141,151)
    font-size: 1.2em
