extends ../layout

block content
        h2 Register confirmation
            div(class='register_confirm') User #{email} has been successfully registered
            div(class='go')
                a(href='/login') Login