extends ../layout

block content
        h2 Register confirmatio
            div(class='message') User #{email} has been successfully registered
            div(class='go')
                a(href='/login') Login