*{
    box-sizing: border-box;
}

.body{
    background:#92bde7;
    color: #485e74;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1em;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding:1em
}
.brand{
    text-align:center;
}

.wrapper{
    box-shadow: 0 0 20px 0 rgba(72,92,116,0.7);
    background:#f9feff;
    margin-bottom: 10px;

}
.wrapper > *{
    padding: 1em;
}
textarea{
    backgroun:#f9feff;
    color: #485e74;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.publishPost form button, .publishPost form input{
    width: 100%;
    padding: 1em;
}

.publishPost form button{
    background: #c9e6ff;
}
.publishPost form button:hover, .publishPost form button:focus{
    background:#92bde7;
    color: white;
    outline:0;
    transition: background-color 2s ease-out
} 
.comments{
    border: 1px solid white
}
.comment{
    border: 1px solid white
}