.footer 
    background-color: black
    color: white
    padding: 1em 0em
    position: absolute
    bottom: 0
    width: 100%

    p:first-child
        color: white
        font-weight: 300

    p:last-of-type
        font-family: 'Major Mono Display', monospace
        font-size: 1.5em
        
.footerTitle
    display: inline-block
    margin: 0px 5px

.poo
    margin-left: 0.5em
    color: #00AFB2
    font-size: 0.75em