.comments-input
   border: none
   margin-left: 10px
   width: 100%
   outline: none

.comments-container
   display: flex

.comment-button
    margin-right: 10px
    background: transparent
    border: 1px solid white
    color: rgb(66, 184, 221)
    border-radius: 20px
    line-height: 30px
    width: 100px
    outline: 0
    cursor: pointer
       

toast.warn
    position: "bottom-center"
    autoClose: 5000
    hideProgressBar: false
    closeOnClick: true
    pauseOnHover: true
    draggable: true