.formCreateBook
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
   
    
    
    form
        padding: 2%
        width: 80%
        display: flex
        border-radius: 1rem
        border: 2px solid black
        background-color: #738598
        flex-direction: column
        justify-content: center
        -webkit-animation-name: Anim1
        -webkit-animation-duration: 1s
        
        @-webkit-keyframes Anim1
            from
                opacity: 0
            to
                opacity: 1

        .inputContainer
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center

        .formButtonContainer
            display: flex
            justify-content: center
            button
                width: 40%
    &_step
        display: flex
        justify-content: center
        font-size: 1.5rem
    label
        display: flex
        justify-content: center
    

.btn-file
    position: relative
    overflow: hidden
    input[type=file]
        position: absolute
        top: 0
        right: 0
        min-width: 100%
        min-height: 100%
        font-size: 100px
        text-align: right
        filter: alpha(opacity = 0)
        opacity: 0
        outline: none
        cursor: inherit
        display: block

