
.title{
  margin: 3%;
}
.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    border: 1px solid #ddd;
    margin: 3%;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2
  }

  
.text{
  margin: 3%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 1%;
}