// BASE
$base__font-size: 15 
$base__line: 20 
$base__weight__text: 400 
$base__weight__heading1: 500 
$base__weight__heading2: 700 

// TEXT
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700|Open+Sans')
$text__family__header: 'Montserrat', sans-serif
$text__family__text: 'Open Sans', sans-serif

// COLORS
$color__green: #1DB954
$color__dark: #222326
$color__blue: #2D46B9
$color__light: #ffffff