* {
    box-sizing: border-box;
}

body {
    font-family: arial, helvetica, serif;
    background-color: aqua;
}

#calculator {
	background-color: #190B07;
    height: 370px;
	width: 300px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    border-radius: 20px;
    margin: 0 auto;
}

.screen {
    border: none;
    height: 65px;
    width: 65px;
    background-color: white;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

#result{
    background-color: white;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.btn {
    border: none;
    height: 65px;
    width: 65px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
}

.num {
    background-color: white;    
}

.op {
    background-color: blue;
}

.res {
    background-color: purple;
}

/* On mouse-over Numbers */
.num:hover {background: rgb(202, 177, 177);}
   
/* On mouse-over Operators */
.op:hover {background: rgb(105, 106, 187);}

/* On mouse-over Operators */
.res:hover {background: rgb(189, 84, 171);}
