@import '../../utils.sass'

.map-filter
    margin: 0.5em
    color: $dark-gray
    width: 95%

    &__fil
        background-color: white
        border-radius: 15px
        display: flex
        flex-flow: column
        align-items: center
        padding: 0.3em
        margin: 0.4em

        &-title
            margin: 0.4em

        &-items
            display: flex
            flex-flow: row

        &-item
            display: flex
            flex-flow: column
            align-items: center
            margin: 0.1em

        &-txt
            font-size: 0.8em
            font-weight: 200
            margin: 0.2em

        &-select
            height: 2em
            background-color: $yellow
            border-width: 0
            border-radius: 10px
            appearance: menulist

    &__distance
        background-color: white
        border-radius: 15px
        display: flex
        flex-flow: column
        align-items: center
        padding: 0.3em
        margin: 0.5em

        &-title
            margin: 0.4em

        &-item
            display: flex
            flex-flow: row
            color: $dark-gray
            font-size: 0.6em
            border-style: solid
            border-width: 0.15em
            border-color: $dark-gray
            border-radius: 0.5em

        &-input
            border-width: 0

        &-txt
            margin: 0.3em

    &__calendar
        background-color: white
        border-radius: 15px
        display: flex
        justify-content: center
        padding: 0.3em
        margin: 0.5em

        