@import ./utils
@import ./config


.header
    display: flex
    // grid-template-columns: 40%, 20%, 20%
    // +round-border(.1em, solid, $color, .5em)
    // min-height: 5em
    align-items: center
    justify-content: space-between
    height: 50px
    width: 100%

    &__title
    justify-self: center
    padding-left: 20px

    &__searcher
        width: 500px

    
    &__button
    // width: 100px
    // height: 30px
    // background-color: red
    // border-radius: 1px solid red
