extends ../home/index

if tracks
        section(class="tracks")
            h2 Tracks
                div 
                    each track in tracks
                        form(method='POST', action='/track')
                            button(name='trackId', type='submit', value=track.id)= track.name     