.resultstracks_container
    margin-bottom: 2rem

.card-img-top
    margin-left: 1.8rem
    width: 250px
    height: 250px

.error
    background-color: #ffa319
    margin-top: 1rem

.card_tracks_list
    width: 20rem
    margin-left: 5rem
    margin-bottom: 0.6rem

.resultsalbum_container
    margin-left: 0.6rem

.text-muted
    color: black