.login {
    background-color: var(--bg);
    position: relative;
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        background: rgba(255, 255, 255, .85);
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100vh;
        z-index: 1;

        &:before {
            content: '';
            display: block;
            border-bottom: 2px solid white;
            width: 100%;
            height: 25%;
            transform: skewY(5deg);
            background: var(--yellow);
            position: absolute;
            z-index: 0;
            top: -55px;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
        }

        &:after {
            content: '';
            display: block;
            border-top: 2px solid white;
            width: 100%;
            height: 20%;
            transform: skewY(5deg);
            background: var(--yellow);
            position: absolute;
            z-index: 0;
            bottom: -25px;
            box-shadow: 0px -2px 3px rgba(0, 0, 0, .2);

        }
    }

    .main-section {
        height: 100vh;
    }

    &__form {
        display: flex;
        flex-direction: column;
        height: calc(100% - 123px);
        justify-content: center;
        position: relative;
        z-index: 0;

        .field {
            margin: 16px auto;
            width: 55%;
            position: relative;
            z-index: 1;
        }

        .button,
        input {
            color: white;
            font-weight: bold;
            background-color: var(--yellow);
            padding: 8px 12px;
            border-radius: 8px;
            border: 0 none;
            box-shadow: 2px 2px 0 rgba(0, 0, 0, .2);
            font-size: 14px;
            text-align: center;
            margin: 8px auto;
            width: 55%;
            height: 36px;
            outline: 0;

            z-index: 1;
        }

        .button {
            margin-top: 45px;
            text-decoration: none;
            z-index: 1;
        }

        label {
            color: white;
            width: 100%;
            position: absolute;
            display: block;
            height: 36px;
            z-index: 1;
            top: 0;
            pointer-events: none;
            transition: all 0.2s;

            &:after {
                content: attr(data-label);
                display: block;
                color: white;
                text-align: center;
                top: 0;
                position: absolute;
                width: 100%;
                font-size: 14px;
                height: 36px;
                line-height: 36px;
                font-weight: bold;
                left: 0;
            }
        }

        input {
            margin: 0;
            padding: 0;
            transition: all 0.25s;
            transition-timing-function: ease-in-out;
            transform-origin: top left;
            width: 100%;

            &:placeholder-shown + label {
                transform: translate(0, 0) scale(1);
            }

            &:focus {
                &::placeholder {
                    color: white;
                    opacity: .5;
                }
            }

            &:focus + label {
                transform: translate(-7%, -30px) scale(.85);

                &:after {
                    color: var(--yellow-dark);
                    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
                    text-align: left;
                }
            }

            &:not(:placeholder-shown) + label {
                transform: translate(-7%, -30px) scale(.85);

                &:after {
                    color: var(--yellow-dark);
                    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
                    text-align: left;
                    opacity: 1;
                }
            }
        }
    }

    .header {
        h1 {
            margin: 24px 0 24px;
            padding: 0;
            position: relative;
            text-align: center;

            a {
                color: white;
                font-size: 50px;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
            }

            .subtitle {
                bottom: -20px;
                border-top: 1px solid white;
                color: white;
                display: block;
                font-size: 16px;
                left: calc(50% - 140px);
                letter-spacing: -0.5px;
                padding-top: 2px;
                position: absolute;
            }
        }

        hr {
            display: none;
        }
    }

    @media screen and (min-width: 768px) {
        &__content {
            align-items: center;
            background: transparent;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:after,
            &:before {
                display: none;
            }

            .main-section {
                background: var(--yellow);
                box-shadow: 0 3px 0 var(--yellow-dark);
                position: relative;
                width: 42%;
                max-width: 400px;
                height: 390px;
                z-index: 1;

                &:before,
                &:after {
                    content: ' ';
                    background-repeat: repeat-y;
                    height: 100%;
                    width: 20px;
                    display: block;
                    position: absolute;
                    top: 0;
                }

                // The Stripe - Left
                &:before {
                    background: -moz-linear-gradient(top, var(--yellow) 10px, rgba(0, 0, 0, 0) 10px),
                                -moz-linear-gradient(left, var(--yellow) 10px, rgba(0, 0, 0, 0) 10px),
                                -moz-linear-gradient(top, var(--yellow-dark) 13px, rgba(0, 0, 0, 0) 10px),
                                -moz-linear-gradient(left, var(--yellow-dark) 13px, rgba(0, 0, 0, 0) 10px);
                    background: -webkit-linear-gradient(top, var(--yellow) 10px, rgba(0, 0, 0, 0) 10px),
                                -webkit-linear-gradient(left, var(--yellow) 10px, rgba(0, 0, 0, 0) 10px),
                                -webkit-linear-gradient(top, var(--yellow-dark) 13px, rgba(0, 0, 0, 0) 10px),
                                -webkit-linear-gradient(left, var(--yellow-dark) 13px, rgba(0, 0, 0, 0) 10px);
                    background-size: 100% 20px;
                    left: -20px;
                }

                // The Stripe - Right
                &:after {
                    background: -moz-linear-gradient(top, var(--yellow) 10px, rgba(0, 0, 0, 0) 10px),
                                -moz-linear-gradient(right, var(--yellow) 10px, rgba(0, 0, 0, 0) 10px),
                                -moz-linear-gradient(top, var(--yellow-dark) 13px, rgba(0, 0, 0, 0) 10px),
                                -moz-linear-gradient(right, var(--yellow-dark) 13px, rgba(0, 0, 0, 0) 10px);
                    background: -webkit-linear-gradient(top, var(--yellow) 10px, rgba(0, 0, 0, 0) 10px),
                                -webkit-linear-gradient(right, var(--yellow) 10px, rgba(0, 0, 0, 0) 10px),
                                -webkit-linear-gradient(top, var(--yellow-dark) 13px, rgba(0, 0, 0, 0) 10px),
                                -webkit-linear-gradient(right, var(--yellow-dark) 13px, rgba(0, 0, 0, 0) 10px);
                    background-size: 100% 20px;
                    right: -20px;
                }

                .login__form {
                    .button,
                    input {
                        color: var(--yellow-dark);
                        background-color: white;
                        box-shadow: 2px 2px 0 rgba(0, 0, 0, .2);
                    }

                    label {
                        color: var(--yellow-dark);

                        &:after {
                            color: var(--yellow-dark);
                        }
                    }

                    input {
                        color: var(--yellow-dark);

                        &:focus + label {
                            &:after {
                                color: white;
                            }
                        }

                        &:not(:placeholder-shown) + label {
                            &:after {
                                color: white;
                            }
                        }
                    }
                }

                .buttons {
                    bottom: 40px;

                    .button {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .maps {
                position: absolute;

                &:before,
                &:after {
                    display: none;
                }

                .gmap_canvas {
                    iframe {
                        height: 100vh;
                        width: 100vw;
                    }
                }

            }
        }
    }
}