@import '../../utils.sass'

.welcome-container
    display: flex
    flex-direction: column
    height: 93vh
    justify-content: flex-start
    
    &__header
        order: 1
        margin-top: 3rem
        align-self: center
        text-align: center
        fontsize: $xlarge

    &__menu
        order: 2
        width: 60%
        align-self: center
        display: flex
        flex-direction: column
        text-align: center
        margin-top: 5rem

        & > a
            padding: 2rem
            cursor: pointer
            margin-bottom: 0.2rem
            @extend %border


