.container {
    display: grid;
    grid-template-columns: 160px 160px 160px 160px 160px;
    grid-template-rows: 130px 130px 130px;
    /* grid-auto-columns: 160px;
    grid-auto-rows: 130px; */
    text-align: center;
    justify-content: center;

    /*PLAY WITH AUTO FLOW COLUMN/ROW*/
    grid-auto-flow: row;
    /* grid-auto-flow: column; */

  }

  .item-a {
    background-color:#DC5C05;
  }
  .item-e {
    background-color:#FFAB00;
  }

  .item-b {
    background-color:#6FC5B8;
  }
  .item-c {
    background-color:#FD8A00;
  }
  .item-d {
    background-color:#978B7D;
  }
  .item-f {
    background-color:#7A3E48;
  }
  .item-g {
    background-color:#EECD86;
  }
  .item-h {
    background-color:#E18942;
  }
  .item-i {
    background-color:#B95835;
  }