.messagesSent
    display: flex
    flex-flow: column nowrap
    // justify-content: center
    align-items: center
    border-radius: 10px
    // height: 200px
    // width: 300px
    text-align: center
    vertical-align: center
    background-color: rgba(236, 207, 120, 0.9)
    margin: 5px 35px 10px 35px
    color: white
    font-size: 30px
    font-weight: 800


    
.messagesContainer
    display: flex
    flex-flow: row wrap
    justify-content: center
    color: black
    font-size: 15px
    font-weight: 300

    & div
        border-radius: 10px
        // height: 200px
        width: 300px
        text-align: center
        vertical-align: center
        background-color: #EEEEEE
        margin: 5px 5px 10px 5px


.textMes
    margin: 0px 5px 0px 5px
    height: 50px
    overflow: scroll

.trashMes
    padding: 15px 0px 0px 0px

.profileImage
    margin: 0px 0px 5px 0px
    max-height: 50px
