.messagesSent
    display: flex
    flex-flow: column nowrap
    // justify-content: center
    align-items: center
    border-radius: 10px
    // height: 200px
    // width: 300px
    text-align: center
    vertical-align: center
    background-color: rgba(236, 207, 120, 0.9)
    margin: -35px 37px 60px 37px
    color: white
    font-size: 30px
    font-weight: 800
    padding-bottom: 30px 

@media (min-width: 768px)
    .messagesSent
          margin: -30px 74px 50px 74px 

@media (min-width: 960px)
    .messagesSent
          margin: -30px 10px 50px 10px

@media (min-width: 1200px)
    .messagesSent
          margin: -20px 90px 50px 90px

.noMessageContainer
    width: 100%

.noMessagesContainer
    color: #8B6E78
    font-size: 15px
    font-weight: 500
    background-color: rgba(238, 238, 238, 0.6)
    height: 30px
    width: 100%
    margin: 0px 0px 70px 0px
    padding-top: 10px
    
.messagesContainer
    display: flex
    flex-flow: row wrap
    justify-content: center
    color: black
    font-size: 15px
    font-weight: 300

    & div
        border-radius: 10px
        // height: 200px
        width: 250px
        text-align: center
        vertical-align: center
        background-color: #EEEEEE
        margin: 5px 5px 10px 5px


.textMes
    margin: 0px 5px 0px 5px
    height: 50px
    overflow: scroll

.trashMes
    padding: 15px 0px 0px 0px

.profileImage
    margin: 0px 0px 5px 0px
    max-height: 50px


       

// @media (min-width: 992px)
//     .profileBox
//           margin: 50px 100px 5px 100px

// @media (min-width: 1200px)
//     .profileBox
//           margin: 50px 350px 5px 350px 