.g-Event {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    border-radius: 8px;
    margin-bottom: 32px;
    padding: 32px;

    figure {
        flex: 1 0 auto;
    }

    img {
        height: 100%;
        object-fit: cover;
    }

    div {
        padding-left: 16px;
    }
}