@import ../../utils
*    
 margin: 0
 padding: 0
 box-sizing: border-box

body 
 height: 100vh

.container
    display: grid
    grid-template-rows: 3em auto 3em
    height: 100vh

.app
    grid-row-start: 2
    margin-bottom: 50px

.meter
    width: 25%

.container2
     height: 100vh