@import ../../utils
*    
 margin: 0
 padding: 0
 box-sizing: border-box

body 
 height: 100vh
 background: $base-color
 background-attachment: fixed

.container
    display: grid
    grid-template-rows: 3em auto 3em
    height: 100vh

.app
    grid-row-start: 2