extends ../layout

block content
    section.register
      h2 Registration completed!
      |         Ok, user 
      strong #{email}
      |  successfully registered, please proceed to 
      a(href='/login') login