extends ../index

block content
  h1 Checkout #{name}
  
  p #{amount} €

  form(method='POST')
    textarea(name="address", cols="40", rows="6" placeholder="Address")
    input(type="number", name="cardNumber" placeholder="Card number")
    input(type="text", name="cardName" placeholder="Card name")
    input(type="text", name="CVV" placeholder="CVV")
    button.btn(name="amount" value=amount) Confirm
