extends ../index

block content
  .checkout
    h1.checkout__title Checkout
    
    p.checkout__amount Total amount: #{amount} €

    form.checkout__form(method='POST')
      textarea.input.checkout__address(name="address", cols="40", rows="6" placeholder="Address")
      input.input(type="number", name="cardNumber" placeholder="Card number")
      input.input(type="text", name="cardName" placeholder="Card name")
      input.input(type="text", name="expDate" placeholder="Expiration date")
      input.input(type="text", name="CVV" placeholder="CVV")
      button.btn(name="amount" value=amount) Confirm
