.eventResults
    color: white
    background-color: rgba(0, 0, 0, 0.75)
    padding: 2em 1em 1.5em 1em
    border-radius: 5px
    margin-bottom: 2.5em

.eventImage
    display: block
    margin: 1.5em auto
    max-width: 250px

.eventMin,
.eventMax,
.eventCurrency
    display: inline

.fa-youtube
    color: #ff0000  
    cursor: pointer 
    margin: 0.25em

.fa-instagram
    color: #e95950
    cursor: pointer
    margin: 0.25em

.fa-twitter
    color: #00aced
    cursor: pointer
    margin: 0.25em

.fa-facebook
    color: #3B5998  
    cursor: pointer 
    margin: 0.25em 

.full,
.empty
    color: tomato
    margin-left: 0.5em
    cursor: pointer

.eventTitle
    font-family: 'Titillium Web', sans-serif
    font-size: 2em

.venue
    margin-bottom: 1em