nav{
    & ul{
        display:flex;
        flex-direction:row;
        justify-content: space-around;
    }
}

.salutation {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 21px;
    letter-spacing: 5.4px;
    word-spacing: 0.2px;
    color: #44514D;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;
}
