@import "../../styles/_index.scss";

ul.matches_list {
    padding: 0 $size-s;
}
li.match {
    margin-bottom: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}
.card {
    margin-bottom: $size-m;
}