.service__
    height: 450px
    cursor: pointer
    width: 400px
    color: #1f0054

    &title
        padding-top: 4em
        padding-left: 1em
        max-width: 300px
        +flexin(flex, column, center)

    &item
        padding-top: 1em
        padding-left: 3em
        max-width: 300px

.service__yellow
    background-image: url(https://vignette.wikia.nocookie.net/inciclopedia/images/9/94/Post-It.png/revision/latest?cb=20100719151648&format=original)
    height: 400px
    cursor: pointer
    width: 350px
    color: #1f0054
    padding: 2em
    background-size: cover 

.service__blue
    background-image: url(https://ya-webdesign.com/images/post-it-blue-png-6.png)
    height: 400px
    cursor: pointer
    width: 350px
    color: #1f0054
    padding: 2em
    background-size: cover 

.service__red
    background-image: url(https://userscontent2.emaze.com/images/451c13a0-b0c6-4b93-bcf0-2d383f6cecc9/389a9d6f8b832b9fb1805c701305491d.png)
    height: 380px
    cursor: pointer
    width: 350px
    color: #1f0054
    padding: 2em
    background-size: cover 
    color: white
