*{
    font-family: 'Mali', cursive;
      
}

body{
    background-image: url("bamboo3.jpg"); 
    background-color: black;       
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5%;
    margin-left: 5%;
    border-width: 3px;
    max-width:100%;
    height:auto;
    z-index: 1;  
}

#title{
    text-align: center;
}

#calculator{
    background-color: seagreen;
    height: 500px;
    width: 500px;
    margin top: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 1%;
    border-left-width: 10%;
    border-right-width: 10%;
    padding-left: 1%;
    padding-right: 1%;
    border: 4px solid black;
}

#display{
    font-size: 22px;
    font-weight: 970;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border-color: black;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 3px;
    text-align: center;
    position: relative;
    top: 10px;
    left: 25px;
}

#finalresult{
    font-size: 22px;
    font-weight: 970;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border-color: black;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 3px;
    text-align: center;
    position: relative;
    top: 75px;
    right: 185px;
}

.click{
    font-size:20px;
    font-weight: 970;
    background:rgb(16, 228, 108);
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
    width:60px;
    height:50px;
    position: relative;
    left: 330px;
    bottom: 350px;
}

#calculate {
    height: 74px;
    width: 170px;
    border-radius: 10px;
    border-color: black;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 5px;
    font-size: 22px;
    font-weight: 970; 
}

.panda{
    background-image:url(panda.png); 
    background-size: 100% 100%;
    background-color: slateblue;
    background-repeat: no-repeat;
    width: 84px;
    height: 79px;
    position: relative;
    bottom: 440px;
    left: 685px;
    border: 4px solid black;
    
}

h1{
    font-size: 40px;
    font-weight: 900;
    display: inline;
    background-color: seagreen;
    position: relative;
    top: 2px;
    right: 20px;
    position: relative;
    border: 4px solid black;
}

