
/* Set to all Document */    
html, body, header, main, footer, div, nav, section, article, h5, h3, ul
    box-sizing: border-box
    padding: 0
    margin: 0
    font-family: Helvetica Neue, sans-serif
    width: 100%

/* Mixins */

@mixin sign_up_btn
    color: white
    background-color: rgb(79,82,76)
    background-image: linear-gradient(rgba(255,255,255,0.3) 50%, rgba(255,255,255,0) 51%) 
    border-radius: .4rem
    border: none
    width: 75%
    

@mixin nav_child ($grid_area)
    grid-area: $grid_area
    align-self: center
    justify-self: center
    font-size: 0.85rem

/* Header */
.header
    height: 7% 
    background-color: #44bdd5
    padding-right: 2rem
    display: grid
    grid-template-rows: auto
    grid-template-areas: "login" "navigationbar"
    padding-bottom: 1rem

    &__login
        height: 30%
        grid-area: login
        justify-self: end
        color: white
        padding-right: 7rem
        font-size: 0.9rem

    &__navigationbar
        height: 70%
        grid-area: navigationbar 
        display: grid
        grid-template-columns: auto
        grid-template-areas: "logo logo btn nav nav nav nav empty"

        &-logo
            grid-area: logo
            justify-self: end

        &-btn
            @include sign_up_btn
            grid-area: btn
            justify-self: center

        &-nav
            grid-area: nav
            background-color: rgb(214,237,244)
            border-radius: 0.4rem
            display: grid
            grid-template-columns: auto
            grid-template-areas: "pricing features resources support blog search search"
        
            &-pricing
                @include nav_child(pricing)
                border-right: 1px solid grey 
                padding-right: 2rem
            
            &-features
                @include nav_child(features)
            
            &-resources
                @include nav_child(resources)
            
            &-support
                @include nav_child(support)

            &-blog
                @include nav_child(blog)
            
            &-search
                @include nav_child(search)
                box-shadow: inset 0 0 0.2rem #959594
                border-radius: 0.2rem
                background-color: white
                width: 90%
            
                & input
                    border-style: none
                    color: #959594
                    padding-left: 0.2rem
                    margin: 0.2rem
                
                & img 
                    position: relative
                    left: 3rem

/* Main content*/

.content
    height: 55%
    width: 100%
    padding-right: 2rem
    background-image: linear-gradient(to bottom, #44bdd5 50%, black 50.03%, white 50.1%, rgb(205,209,209) 50.3%)    

    &__header
        height: 45%
        display: grid
        grid-auto-columns: 50% 50%
        grid-template-areas: "img content"
    
        &-img_container
            grid-area: img 

            & img
                display: block
                justify-self: end
                padding-left: 16rem

        &-text_container
            grid-area: content
            width: 50%
            align-self: center
            justify-self: start
            margin-bottom: 3rem

            & img 
                position: relative
                width: 170%

            & p
                width: 32.5rem
                color: rgb(42,103,125)
                text-align: justify
                font-size: 0.9rem
            
            & button
                @include sign_up_btn
                background-color: rgb(216,101,75)
                padding-left: 1.5rem
                padding-right: 1.5rem
                padding-top: 0.8rem
                padding-bottom: 0.8rem
                font-size: 1.1rem

/* Main Content Features */

.content
    &__features
        margin-top: 0
        margin-left: 2.8rem
        width: 95%
        height: 55%
        background-color: rgb(239,240,241)
        border: 0.04rem solid #959594
        border-bottom: none
        border-top-left-radius: .4rem
        border-top-right-radius: .4rem
        display: grid
        grid-template-rows: 15% 85%

        &-title
            padding-left: 3.7rem
            font-size: 2rem

        &-articles
            padding-left: 1.5rem
            display: grid
            grid-template-columns: 19.8rem 19.8rem 19.8rem 19.8rem
            grid-template-rows: 100%
            justify-self: center
            width: 95%

            & article
                width: 90%

                & img
                    width: 100%

                & h5
                    padding-top: 1rem

                & p
                    font-size: 0.9rem
                    width: 100%

                & button
                    color: white
                    background: #323232
                    border-radius: .2rem
                    border: none
                    width: 100%
                    font-size: 0.8rem
                    text-align: left
                    padding-left: 1rem
                    padding-top: 0.3rem
                    padding-bottom: 0.3rem

                    & img
                        width: 0.6rem
                        padding-left: 11.5rem

/* Footer */

.footer
    height: 38%
    background-color: rgb(24,24,21)
    display: grid
    grid-template-areas: "nav" "cr"
    width: 100%
    color: grey
    font-size: 0.8rem
    padding-left: 2.8rem
    
    &__nav
        grid-area: nav
        display: grid
        grid-template-columns: 19.8rem 19.8rem 19.8rem 19.8rem 4rem
        grid-template-rows: 100%
        justify-self: center
        width: 95%
        padding-left: 1.5rem
        padding-top: 1rem
        
    &__nav ul 
        width: 78%
        list-style: none
    
    &__nav ul :first-child
        width: 78%
        list-style: none
        color: white
    
    &__nav li
        padding-bottom: 0.4rem
        font-size: 0.8rem
    
    &__cr
        grid-area: cr
        text-align: center
        padding-top: 10rem