.header
    display: flex
    justify-content: space-between
    height: 4em
    background-color: #232323
    position: fixed
    width: 100%
    z-index: 1

    &__logo
        width: 3em
        height: 2em
        align-self: center

    &__title
        color: white
        align-self: center


    &__button
        align-self: center
        font-size: 1.1em
        font-weight: bold
        margin-right: 2vw
        color: #3b96e4

        &:hover
            cursor: pointer


.fa-user
    color: white
    font-size: 1.5em
    align-self: center
    margin: 3vw
    padding: 0.4em
    border: 1px solid white
    border-radius: 20px
    background-color: #121212

    &:hover
        cursor: pointer        

.fa-bars
    align-self: center
    color: white
    margin-left: 2vw
    font-size: 1.5em

.drp
    align-self: center
    margin-right: 4em

    &__button
        background-color: #232323
        border: none

    &__link
        font-size: 1.2em
