.header
    display: flex
    justify-content: space-around
    height: 4em
    position: fixed
    width: 100%
    z-index: 3

    &-dark
        background-color: #232323
    &-light
        background-color: white
        border-style: solid
        border-bottom-color: gray 
        border-bottom-width: 0.05em
        border-top-width: 0
        border-left-width: 0
        border-right-width: 0

    &__button
        align-self: center
        font-weight: bolder
        margin-right: 1em
        font-size: 1.3em


    &__logo
        width: 3em
        height: 2em
        align-self: center

    &__title
        align-self: center
        display: none
        margin-left: 0.5em
        font-weight: bolder
        font-size: 1.5em 

        &-dark
            color: white

        &-light
            color: black

.fa-youtube
    color: red
    align-self: center

.youtubeIcon
    align-self: center
    margin-left: 1em

.title__logo
    display: flex


.fa-user
    font-size: 1.5em
    align-self: center
    margin: 3vw
    padding: 0.4em

    &-dark
        color: white
        background-color: #232323

    &-light 
        color: black

    &:hover
        cursor: pointer        

.drp
    align-self: center
    margin-right: 2em

    &__link
        font-size: 1.2em

.dropdown-content
    border-style: solid
    border-width: 0.05em

    &-dark
        background-color: #232323
        border-color: #121212

    &-light
        background-color: white
        border-color: gray

.fa-bars-light
    color: black

.fa-bars-dark
    color: white

@media (min-width: 1200px)
    .header__title
        display: block
