@import url("https://fonts.googleapis.com/css?family=Roboto");
.web-app {
  margin: 0;
  background-color: #141414;
}

.main-container {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spoty-icons {
  width: 10em;
  fill: white;
}

.spoty-icons--header {
  width: 7em;
}

.spoty-icons--footer {
  width: 10em;
}

.button-show-spoty {
  width: 180px;
  background-color: #2ebd59;
  border: none;
  font-family: 'Roboto', sans-serif;
  border-radius: 40px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button-show-spoty--after-main {
  margin-top: 15px;
  margin-bottom: 30px;
}

.button-show-spoty--header {
  margin-top: 30px;
  margin-bottom: 50px;
}

.song-image {
  width: 100px;
}

.show-mix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
}

.title-mix {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 23pt;
  margin: 0;
}

.song-list {
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.song-item {
  margin: 0;
  width: 175px;
  height: 175px;
}

.song-image {
  width: 175px;
}

@media (min-width: 1020px) {
  .song-image {
    width: 220px;
  }
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
}

.footer-item {
  margin-top: 10px;
  margin-bottom: 5px;
}

.footer-links {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 9pt;
}
/*# sourceMappingURL=index.css.map */