.landingPage
    margin-top: 4em
    display: grid
    grid-template-columns: 1fr

@media (min-width: 768px)
    
    .landingPage 
        grid-template-columns: 1fr 1fr


@media (min-width: 1000px)
    .landingPage
        grid-template-columns: 1fr 1fr 1fr