nav
    height: 10%

.headertitle
    height: 5%
    font-family: Georgia, arial, serif
.ContainerWelcome
    width: 100%
    height: 80%
    display: flex
    flex-direction: row
    justify-content: center
    li
        margin-left: 2%
        margin-right: 2%
        display: inline
        a
            color: white

    &-carrousel
        height: 100%
        width: 80%
.navbar
    background-color: #1cb3c8
footer
    width: 100%
    height: 5%
    display: flex
    justify-content: space-around
    background-color: #1cb3c8
    .fa-github-square
        color: black
        
