.ContainerWelcome
    width: 100%
    height: 80%
    display: flex
    flex-direction: row
    li
        margin-left: 2%
        margin-right: 2%
        display: inline
        a
            color: white

    &-carrousel
        height: 100%
        width: 50%
.navbar
    background-color: #1cb3c8
