
    
*
    box-sizing: border-box
    
    
.searchPanel
    align-self: flex-start
    justify-self: center
    display: flex
    align-items: center
    justify-items: center  
    flex-flow: column nowrap
    height: 100%
    width: 80%
    margin-left: 20% 
    
    
.title__search
   
.pokemon__ul
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-items: center
    justify-content: center
    margin-top: 100rem 
    padding: 0px
    margin: 1rem

     


.input__searchPokemon
    width: 200px
    height: 20px
    margin-bottom: 50px 

h2 
    color: white

html, body 
    max-width: 100%
    overflow-x: hidden
    background-color: white
