// .main-image {
//     background-size: cover;
//     position: relative;
//     height: 100vh;
//     width: 100%; 
//     max-width: none;
//   }

.main-image{
    background-image: url('https://res.cloudinary.com/dme91l7mj/image/upload/v1559641675/kaori/home.jpg');
    background-size: cover;
    height: 85vh;
    width: 100%;
}