extends ../home/index

block albumResults
          section
            .columns.is-multiline.is-mobile.is-centered
              each album in albums
                .column.is-three-quarters-mobile.is-two-fifths-tablet.is-one-fifth-desktop.has-text-centered
                    .block
                        img(src=`${album.images.length > 0 ? `${album.images[0].url}`: 'https://media.idownloadblog.com/wp-content/uploads/2016/10/latest.jpg'}`, alt='Placeholder image')
                        h2.title
                            a(href=`/home/album/${album.id}`)= album.name
                        //- p.subtitle

