.topbar
    display: flex
    justify-content: space-around 
    border-bottom: 1px solid white


    &__button
        font-size: 20px
        border: none
        cursor: pointer
        background-color: Transparent

        &--logout
            background-color: Transparent
            font-size: 20px
            border: none
            color: orange
            cursor: pointer

        &--icon
            background-image: url(https://nilquebe.com/img/coworking.png)
            height: 125px
            width: 125px