.topbar
    display: flex
    justify-content: space-around 
    border-bottom: 1px solid white
    // background-color: #67ceb3

    // a:hover, .dropdown:hover .dropbtn
    //     background-color: red

    &__item
        display: flex
        align-self: center

        a
            background-color: Transparent
            border: none
            cursor: pointer
            outline: none
            text-decoration: none
            font-size: 17px
            color: #1f0054
            padding-left: 1em

    &__item:hover
        size: 30px
        color: white
        // background-color: #3d5bfe


    .dropdown
        align-self: center

    .dropdown:hover
        color: white

        .dropbtn
            padding: 1em 1em
            // color: white

    .dropdown-content
        display: none
        position: absolute
        background-color: #1f0054
        min-width: 160px
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
        z-index: 1


    .dropdown-content a
        float: none
        color: black
        padding: 12px 16px
        text-decoration: none
        display: block
        text-align: left
        color: white
    
    
    .dropdown-content a:hover
        background-color: #3d5bfe
        color: white
    
    
    .dropdown:hover .dropdown-content
        display: block

    button
        font-size: 17px
        border: none
        cursor: pointer
        background-color: Transparent
        color: white
        padding: 0 1em
        outline: none

    &__icon
        height: 4em
        width: 4em

    .fa-stopwatch
        cursor: pointer