.our-team-image {
    transition: 1s 0s ease-in;
    border: 2px solid black;
}

.our-team-app {
    padding: 2% 5%;
    background: linear-gradient(-40deg, #9824af49, #5c1b535e, transparent);
}

.our-team-title{
    display: inline-block;
    padding-right: 10px;
    margin: 0; 
}

.our-team-image:hover {
    transform: rotate(360deg);
    border-color: rgb(121, 27, 105);
    box-shadow: 4px 4px 16px rgb(189, 138, 209);
}

.our-team-image-title {
    color: black;
    transition: 1s;
}

.our-team-image-title:hover {
    color: rgb(121, 27, 105);
    text-shadow: 2px 2px 8px rgb(189, 138, 209);
    text-shadow: 1;
}

.flying-subtitle {
    animation-name: subtitle;
    animation-duration: 4s;
}

@keyframes subtitle {
    from {
        transform: translateX(800px)
    }
    to {
        transform: translateX(0px)
    }
}

.flying-title {
    animation-name: title;
    animation-duration: 2s;
}

@keyframes title {
    from {
        transform: translateX(-400px)
    }
    to {
        transform: translateX(0px)
    }
}

.flying-rocket {
    font-size: 1.5em;
    /* animation-name: rocket;
    animation-duration: 5s;
    animation-fill-mode: backwards;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in; */
    animation: rocket 5s backwards 3s 1 ease-in;
}

@keyframes rocket {
    from {
        transform: translate(0px, 0px)
    }
    to {
        transform: translate(800px, -500px) scale(3)
    }
}