.header
    background-color: white
    position: fixed
    width: 100%
    top: 0
    display: flex
    align-items: center
    justify-content: space-between
    
    &__logo
        height: 50px
        margin: 10px
        margin-left: 30px
        cursor: pointer

    &-unLoggedButtons
        margin-right: 30px
        &__login
         margin: 10px

        &__register
         margin: 10px
          

    &-loggedButtons
        display: flex
        &__messages
            height: 30px
            margin-right: 10px 
            margin-top: 10px 
            cursor: pointer   



        &__logout
            margin-top: 10px    
            height: 30px
            cursor: pointer

        &__userProfile
            margin-top: 10px    
            margin-left: 10px 
            height: 100px
            margin-right: 30px
            cursor: pointer

