body
    height: 100%
    background: linear-gradient(to bottom, rgb(63,63,63) 0%,rgb(24,24,24) 31%)
    background-attachment: fixed
    color: white

ul li
    list-style-type: none
    padding: 0

.searchingForm
    display: grid
    padding-bottom: 1em
    grid-template-columns: 6em auto
    grid-template-rows: 4em auto
    &__button
        height: 100%
        background-color: rgb(24,24,24)
        border: none
        font-size: 1.3em
        color: white
    &__input
        font-size: 1.2em
        width: 100%
        padding: 0 1em
        margin: 0 0
        border: none

.artistsList
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 0

.artistsCard
    display: grid
    grid-template-rows: 15em auto
    grid-template-columns: 15em
    overflow: hidden
    text-align: center
    &__image
        grid-row-start: 1
        margin: 0 -100%
    &__name
        grid-row-start: 2
