.createService
    width: 70%
    margin: 2em 20em

    &__form
        +flexin(flex, column, left)
        justify-content: space-between
        height: 70%
        width: 70%
        font-size: 1.5em

        input
            margin-top: 1em
            font-size: 16px
            border: none
            border-bottom: 1px solid rgba(0,0,0,0.4)
            outline: none
            background-color: transparent

        span
            padding-top: 2em

        button
            margin: 3em auto
            border-radius: 30px
            width: 8em
            height: 2em
            border: none
            color: #fff
            font-size: 17px
            cursor: pointer
            background-image: linear-gradient(#df739f, #314895)
        
        button:hover
            background-image: linear-gradient(#314895, #df739f)