@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Raleway:300,400,500,700')
@import './components/App/index.sass'
@import './components/CanvasLanding/index.sass'
@import './components/CanvasLetters/index.sass'
@import './components/Feedback/index.sass'
@import './components/FlaresMap/index.sass'
@import './components/Home/index.sass'
@import './components/Login/index.sass'
@import './components/MapContainer/index.sass'
@import './components/MessagesSent/index.sass'
@import './components/Navigator/index.sass'
@import './components/Profile/index.sass'
@import './components/ReadMessage/index.sass'
@import './components/Register/index.sass'
@import './components/SendMessage/index.sass'
@import './components/Success/index.sass'
@import './components/Watch/index.sass'

body, html
    font-family: 'Raleway', sans-serif
    margin: 0
    padding: 0
#root
    margin: 0
    padding: 0  