.journeyHome
    border: 2px solid black
    margin: 5%
    border-radius: 0.2em
    max-width: 800px

    &__map
        position: static
        display: inline-block
        height: 500px
        width: 100%

    &__container
        display: flex
        flex-flow: row wrap
        justify-content: center

    &__card
        border: 2px solid #012C4C
        width: 300px
        margin: 20px
        padding: 10px

        button
            background: none
            border: none
        
        button:hover
            border-bottom: 2px solid black

            
@media (min-width: 800px)
    .journeyHome
        margin: auto
