html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    color: darkblue;
}

.container{
    display: grid;
    height:98vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 200px);
    

}

.header{
    grid-area: header;
    background-color: #FF637D;
    grid-column: 1/7;
    grid-row: 1/2;
}

.aside-rigth{
    grid-area: aside-rigth;
    background-color: #F4F1BB;
    grid-column: 1/2;
    grid-row: 2/3;
}

.main{
    grid-area: main;
    background-color: #66D7D1;
    grid-column: 2/6;
    grid-row: 2/3;
}

.aside-left{
    grid-area: aside-left;
    background-color: #EAF2E3;
    grid-column: 6/9;
    grid-row: 2/3;
}

.footer{
    grid-area: footer;
    background-color: #FFF87F;
    grid-column: 1/9;
    grid-row: 3/4;
}

@media (max-width: 800px) {

    .container{
        grid-template-rows: repeat(5, 200px);
    }
    
    .header{
        grid-column: 1/9;
        grid-row: 1/2;
    }
    
    .aside-rigth{
        grid-column: 1/9;
        grid-row: 2/3;
    }
    
    .main{
        grid-column: 1/9;
        grid-row: 3/4;
    }
    
    .aside-left{
        grid-column: 1/9;
        grid-row: 4/5;
    }
    
    .footer{
        grid-column: 1/9;
        grid-row: 5/6;
    }
  }