.category-titles{
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    /* box-sizing: border-box;
    border-left: 12px solid purple;
    border-top: 12px solid purple;
    border-right: 12px solid rgba(128, 0, 128, 0.747);
    border-bottom: 12px solid rgba(128, 0, 128, 0.753);
    border-style: inset;  */
}