.boat

    &__container
        padding: 10px
        display: flex
        align-items: center

    &__name


    &__info
        padding-left: 20px
        padding-top: 55px
        display: flex
        flex-direction: column
        justify-content: space-around

        label
            display: flex
            align-items: center
            font-weight: bold
            margin-bottom: 5px

        p
            display: flex
            align-items: center
            margin-bottom: 5px

    &__buttons
        width: 250px
        padding-left: 10px
        padding-right: 10px
        display: flex
        justify-content: center

        button
            background: none
            border: none
        
        button:hover
            border-bottom: 2px solid black

