
@media screen and (max-width: 640px)

    .btn
        position: absolute
        top: 1%
        left: 1%
        z-index: 10
        margin: 0px



@media screen and (min-width: 641px)

    .btn
        display: none

