
@import url('https://fonts.googleapis.com/css?family=Pacifico')
$base-color: linear-gradient(to bottom, #cb60b3 27%,#cb60b3 39%,#3a64b7 100%)
.page-title
     color: white
     font-family: 'Pacifico', cursive