
@import url('https://fonts.googleapis.com/css?family=Pacifico')
$base-color: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
.page-title
     color: black
     font-family: 'Pacifico', cursive


.form-login-register
     display: flex
     flex-direction: column
     flex-wrap: wrap


.panel-login-register
    display: flex
    flex-direction: column
    align-items: center
    height: 100vh 
    justify-content: center
