extends ../index

include ../search/index
include ../results/index
include ../feedback/index
include ../detail/index

block content
    h1 Hola, #{name}!
    form(action="/logout" method="post")
        button Logout
    +search
    if (ducks)
        if (ducks.length)
            +results(ducks)
        else
            +feedback('no results')
    else if(duck)
        +detail(duck)
