.products
    display: flex
    flex-direction: column
    
.product
    display: flex
    flex-direction: column
    margin: 1em 0
    border: 1px solid lightgrey
    border-radius: 1em
    width: 20em
    align-self: center

    &__imgcontainer
        align-self: center

    &__img
        width: 20em
        border-radius: 1em

    &__content
        padding: 0.7em

    &__price
        font-weight: bold
        font-size: 1.3em

    &__tittle
        margin-top: 0.3em
        font-size: 1.2em

    &__description
        margin-top: 0.3em
        color: grey
    
    &__btncontainer
        align-self: center

    &__btn
        padding: 1em 3em
        background-color: #f2f2f2
        border: 0
        border-radius: 1em
        margin-bottom: 0.5em

    &__logo
        font-size: 1.8em
        color: red
        