.productDetails
    // background-color: red

    &__icons
        display: flex
        justify-content: space-between
        margin-top: 0.5em

        &--back
            font-size: 1.9em
            margin-left: 0.5em
            color: black

        &--heart
            font-size: 2em
            margin-right: 0.5em
            color: black

    &__content
        display: flex
        flex-direction: column
        margin-top: 1em

    &__imgcontainer
        align-self: center

    &__img
        width: 20em
        border-radius: 1em

    &__details
        padding: 1em

    &__price
        font-weight: bold
        font-size: 1.5em

    &__tittle
        margin-top: 0.3em
        font-size: 1.2em

    &__description
        margin-top: 0.3em
        color: grey

    &__btn
        position: absolute
        bottom: 0
        padding: 1em
        align-self: center
        width: 100%
        background-color: #85e0e0
        border: 0
        font-size: 1em