.user
    max-width: 600px
    margin: auto
    background: rgba(0, 0, 0, 0.1)
    margin-top: 20px
    &__content
        padding: 15px
        padding-right: 20px
        padding-left: 20px
    &__image
        padding-right: 20px
        padding-left: 20px
        width: 100%
        &-img
            width: 100%
            margin-top: 20px
    &__name
        display: flex
        align-items: center
        justify-content: center
        justify-content: space-between
        &-label
            color: white
            padding: 50px
        &-paragraph
            color: white

       
    &__username
        display: flex
        align-items: center
        justify-content: center
        justify-content: space-between
        &-label
            color: white
            padding: 50px
        &-paragraph
            color: white
   
    &__description
        display: flex
        align-items: center
        justify-content: center
        justify-content: space-between
        &-label
            color: white
            padding: 50px
        &-paragraph
            color: white

      
    &__age
        display: flex
        align-items: center
        justify-content: center
        justify-content: space-between
        &-label
            color: white
            padding: 50px
        &-paragraph
            color: white
    
    &__button
        color: white
        display: flex
        justify-content: center
        margin-bottom: 20px
        border: 0
        border-radius: 5px
        padding: 10px 20px
        cursor: pointer
        width: 60px
        &-blue
            width: 75%
            background: #0957ab
            &:hover
                background: #1f5fbc

.button-primary-action
    margin: 0px 0px 15px 0px
    display: flex
    justify-content: center

.pad
    padding: 15px





            






    

        


    
