html, body {
    height: 100%;
}

#header {
    border: 1px solid black;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    position: fixed;
    padding: 10px;
    background-image: url(https://c.wallhere.com/photos/f0/61/california_road_trip_travel_blue_nature_sign_back-555704.jpg!d);
   
}

.desc {
    padding: 15px;
    text-align: center;
  } 
#texthole{
    width: 30%;
    height: 20%;
}

#info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    float: right;
    background-image: url(https://media.giphy.com/media/CYrBAoFl9FK5G/200.gif);
    box-sizing: border-box;
    width: 30%;
    height: 50%;
 }




.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  

#main {

    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.responsive {
    width: 48%;
    margin: 6px 0;
  }


.image {
    width:8%;
    height:30%;

}
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }

@media screen and (min-width: 992px) {
    #header {
        border: 1px solid black;
        width: 100%;
        height: 20%;
        box-sizing: border-box;
        position: fixed ;
        padding: 10px;
        background-image: url(https://c.wallhere.com/photos/f0/61/california_road_trip_travel_blue_nature_sign_back-555704.jpg!d);
       
    } 
    
    #texthole{
        width: 30%;
        height: 20%;
    }
    
    #info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        float: right;
        background-image: url(https://media.giphy.com/media/CYrBAoFl9FK5G/200.gif);
        box-sizing: border-box;
        width: 30%;
        height: 50%;
     }
    

    
    #main {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 13%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;


        
        
    
    
    }
    .responsive {
        width: 30%;
        margin: 6px 0;
      }


div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

    .image {
        width:5%;
        height:30%;
    
    }
  }



  @media screen and (max-width: 768px) {
    #header {
        border: 1px solid black;
        width: 100%;
        height: 20%;
        background-image: url(https://c.wallhere.com/photos/f0/61/california_road_trip_travel_blue_nature_sign_back-555704.jpg!d);
        box-sizing: border-box;
        position: fixed ;
        padding: 10px;
       
    }
    
    #texthole{
        width: 30%;
        height: 20%;
    }

    #info {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        float: right;
        background-image: url(https://media.giphy.com/media/CYrBAoFl9FK5G/200.gif);
        box-sizing: border-box;
        width: 30%;
        height: 50%;
    }

    
    #main {
    
       
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 10px;
        position: static;
        padding-top: 25%;
        display: flex;
        flex-wrap: wrap; 
    }

    .responsive {
        width: 100%;
      }
    
    .image {
        width:5%;
        height:30%;
    
    }
    div.gallery {
        border: 1px solid #ccc;
      }
      
      div.gallery:hover {
        border: 1px solid #777;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
  }

  
