extends ../layout

include ../feedback/index

block content
  section.uk-container.uk-text-center
    h2.uk-heading-bullet Log In
    form(method='POST', action='/login')
      div.uk-inline
        span(class='uk-form-icon', uk-icon="user")
        input.uk-input.uk-form-small.uk-form-blank(name='email', type='email', placeholder='email', required='')
      div.uk-inline
        span(class='uk-form-icon fas', uk-icon="unlock")
        input.uk-input.uk-form-small.uk-form-blank(name='password', type='password', placeholder='password', required='')
      button.uk-button.uk-button-secondary.uk-button-small(type='submit') Log In
      if feedback
        +feedback(feedback, 'danger')
    | Go 
    a(href='/' class='uk-link-heading') Home
    |  or 
    a(href='/register' class='uk-link-heading') Sign Up
  