@import url('https://fonts.googleapis.com/css?family=PT+Sans')
    
    
.header-container
    display: flex
    justify-content: space-around
    height: 150px
    align-items: center

.user-photo-profile
    border-radius: 50%
    width: 120px
    height: 120px
    border: solid white

.user-container
    display: flex
    flex-direction: column

    span 
        color: black
        font-family: 'PT Sans', sans-serif

.profile-username
    color: black
    font-size: 50px
    font-family: 'PT Sans', sans-serif
