@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Ubuntu:400,700')
@import ./components/Login/index
@import ./components/Register/index
@import ./components/Home/index
@import ./components/Topbar/index
@import ./components/Inbox/index
@import ./components/Service/index
@import ./components/FullService/index
@import ./components/Profile/index
@import ./components/Feedback/index
@import ./components/SubmitedServices/index
@import ./components/CreateService/index
@import ./components/ServiceToClose/index
@import ./components/ClosedService/index
@import ./components/MyServices/index
@import ./components/Comment/index
@import ./components/Search/index
@import ./components/ViewTime/index
@import ./components/OhtersProfile/index
@import ./components/404/index
@import ./components/NewInvitation/index

*
  margin: 0
  padding: 0

html
  min-height: 100%
  min-width: 100%
  font-family: 'Roboto', sans-serif



  body
    background-image: url(https://res.cloudinary.com/dtveeovmr/image/upload/v1553014290/jordi_1.jpg)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    margin: 0
    height: 100%

    //#E3EECD, #ACD1B6, #71A596, #40676E, #408E61