body {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);

  * {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: calc(100vh - 16px);
  width: calc(100vw - 26px);
}

.calculator {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 460px;
  width: 300px;

  .display,
  .equals {
    background: white;
    font-size: 52px;
    height: 80px;
    line-height: 60px;
    padding: 10px;
    text-align: right;
    width: 100%;
  }

  .equals {
    cursor: pointer;
    text-align: center;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;

    .numbers {
      align-content: flex-start;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .operands {
      align-content: flex-start;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .operands,
    .numbers {
      div {
        box-sizing: border-box;
        border: 1px solid white;
        color: white;
        font-size: 24px;
        line-height: 75px;
        min-height: 75px;
        min-width: 75px;
        text-align: center;
      }
    }
  }
}
