@import ../config.sass

.g-Home__order-user-back
    position: absolute
    right: 0
    width: 40vw
    max-width: 300px
    height: 100vh
    overflow: hidden
    opacity: 1
    transition: opacity 0.3s

    &--opened
        opacity: 1


.g-Home__order-user
    width: 400px
    max-width: 300px
    height: 100vh
    transition: opacity 1s
    background-color: white
    padding: 10px

    &-total
        border-top: 1px solid black
        margin-top: 10px
        padding-top: 10px
        display: flex
        justify-content: flex-end

