.container {
    max-width: 960px;
}

/*
   * Custom translucent site header
   */

.site-header {
    /* background-color: rgba(129, 61, 61, 0.85); */
    background: linear-gradient(to left, rgb(121, 27, 105), rgb(34, 8, 44));
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    height: 45px;
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}
/*
   * Extra utilities
   */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal>* {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px){
    .m-md-3 {
        margin: 0rem !important;
    }
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}

/*
Home page CSS
*/

.fas {
    color: red;
}

.first-main{
    background: linear-gradient(-40deg, #9824af49, #5c1b535e, transparent), url('../images/microphone.jpg');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
.main-title {
    color: rgb(226, 226, 226);
    font-weight: bold;
    text-align: left;
    margin-left: 20% !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer {
    padding: 10%;
    background-color: rgb(41, 41, 41);
    color: lightgray;
}

.footer a {
    color: lightgray !important;
}

.thumbnail {
    display: flex;
}