.App
    text-align: center
    background-color: #282c34
    font-size: calc(10px + 2vmin)
    color: white
    padding-bottom: 5%
    min-height: 100vh
    height: 100%   
     
    &-link
     color: #61dafb

.navbar
    position: fixed
    top: 0
    z-index: 2
    width: 100%


.content
    padding-top: 150px
    margin-bottom: 100px
    
    


