@import url("https://fonts.googleapis.com/css?family=Varela+Round");
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #47585b 0%, #242c2d 25%);
}

.page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  overflow-x: hidden;
}

.p {
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2em;
  height: calc(100% - 90px);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 190px;
  overflow: hidden;
}
.navbar__logo {
  display: block;
  align-self: center;
}
.navbar__logo--config {
  width: 12em;
  height: 7em;
  padding: 1.2em;
  margin-top: 0.2em;
  fill: white;
}
.navbar--color {
  background-color: #070707;
}
.navbar--font-size {
  font-size: 12px;
}

.navegation {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  padding: 1em;
}
.navegation__item {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img {
  width: 2em;
  height: 2em;
  padding: 0;
  margin-top: 0;
  fill: white;
}

.text {
  font-size: 12px;
  margin: 0;
}
.text--color {
  color: #b3b3b3;
}
.text--color-inicio {
  color: white;
}
.text--margin {
  margin: 0;
}

.main {
  margin-left: 15vw;
  height: calc(100vh -190px);
  padding: 2em;
  width: calc(100vw - 190px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
}
.main__options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 4rem 1rem 4rem;
}

.menu__item {
  padding: 1em;
  font-size: 14px;
}
.menu__item--text-color {
  color: #b3b3b3;
}
.menu__item--text-color-selected {
  color: white;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.section__item {
  display: block;
  text-align: center;
  padding: 1em;
}
.section__title {
  padding: 1em;
  font-size: 14px;
  color: #b3b3b3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.section__title-text {
  color: white;
  font-size: 30px;
}
.section__item-detail {
  color: #b3b3b3;
  font-size: 14px;
  text-align: center;
  padding: 0 0.5rem 0 0.5rem;
  width: 190px;
}
.section__title-link {
  display: none;
}
.section__container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 90%;
}
.section__item-img {
  width: 190px;
  height: 190px;
  background-size: cover;
  background-position: 50%;
}
.section__item-img--circle {
  border-radius: 50%;
}
.section__item-title {
  color: white;
  padding: 0.5em;
}

.avatar {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  padding: 0.5em;
}

.now-playing-bar {
  height: 90px;
  padding: 0 16px;
  background-color: #2d2e30;
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.options__items--selected {
  width: 40%;
  background-color: #1db954;
  height: 4px;
  border-radius: 2px;
  display: block;
}

.now-playing-bar {
  display: flex;
  flex-direction: row;
}
.now-playing-bar__listening {
  width: 3em;
  height: 3em;
  padding: 0.5em;
}

@media only screen and (max-width: 768px) {
  .section__title-link {
    display: show;
    text-transform: uppercase;
    padding: 1em;
    font-size: 14px;
    color: #b3b3b3;
    text-decoration: none;
  }
}

/*# sourceMappingURL=style.css.map */
