@import ../../../config
.NavLvL
    grid-area: NavLvL
    display: flex
    color: black
    justify-content: space-around
    background-image: $bg-imgMission
    background-repeat: no-repeat
    background-size: 110% 110%
    background-position-x: 50%
    
    &__Points
        display: grid
        grid-template-rows: 40% 60%
        grid-template-areas: "A" "B"
        border: 1px solid black
        height: 70%
        width: 100%
        align-self: flex-end
        justify-content: center
        overflow: hidden
        
    &--Clickable
        background-color: green

    &--Danger
        background-color: red
    
    &__Level
        grid-area: B 
        justify-self: center
        font-size: 2em

    &__Element
        grid-area: A
        justify-self: center
        align-self: center
        font-size: 1.8em
        
