.languages

    &__language
        margin-bottom: 5px
        width: 80%

    &__deleteButton
        background: none
        border: none
        color: #014655
        margin-left: 10px

    &__addButton
        max-width: 250px
        width: 80%
        background: none
        border: 2px solid #0384A1
        color: #0384A1
        border-radius: 0.2em

    &__addButton:hover
        background: #0384A1
        border: 2px solid #0384A1
        color: white