.t-container
    margin: 8px
    border: 1px solid lightgrey
    border-radius: 2px

.t-title
    padding: 8px

.t-tasks
    padding: 8px

.t-task
    border: 1px solid lightgrey
    padding: 8px
    margin-bottom: 8px
    border-radius: 2px