.bg-landing {
  background: url(../../assets/images/photo-landing.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.nav-bar {
  height: 80px;
}

.nav-bar > li > a {
  min-height: 80px;
}
