/* * {
    border: 1px solid black;
} */

html {
    box-sizing: border-box;
    background: #325dbe;
  }

*, *:before, *:after {
box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

/* Main container with 2 elements in a row: left & right */
.maincontainer {
    display: flex;
    flex-flow: row wrap;
    padding: 35px 25px 5px 10px;
    font-family: 'Comfortaa', cursive;
    color: #b2b5b8;
    font-size: 18px;
    text-align: justify;
}


/* LEFT container----------------------------------- */
.left {
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#circle {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
}

/* Circles */
#circle div p {
    width: 60px;
    height: 60px;
    background: radial-gradient(#325dbe, #01367D);
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    padding: 9px 0px 0px 0px;
    border: 1.5px solid #adb1b9;
    font-family: 'Lato', sans-serif;
    color: #fff;
}


/* -----------------------------------------row1--> A */
#row1 {
    display: flex;
    flex-flow: row nowrap;
}

#row1 p {
    margin: 0px 0px -50px 0px;
}

/* -----------------------------------------row2--> Z_B */
#row2 {
    display: flex;
    flex-flow: row nowrap;
}

#row2 p:nth-child(1) {
    margin: -5px 38px -32px 0px;
}

#row2 p:nth-child(2) {
    margin: -5px 0px -32px 38px;
}

/* -----------------------------------------row3--> Y_C */
#row3 {
    display: flex;
    flex-flow: row nowrap;
}

#row3 p:nth-child(1) {
    margin: 0px 99px -20px 0px;
}

#row3 p:nth-child(2) {
    margin: 0px 0px -20px 99px;
}

/* -----------------------------------------row4--> X_D */
#row4 {
    display: flex;
    flex-flow: row nowrap;
}

#row4 p:nth-child(1) {
    margin: 0px 157px -10px 0px;
}

#row4 p:nth-child(2) {
    margin: 0px 0px -10px 157px;
}

/* -----------------------------------------row5--> V_E */
#row5 {
    display: flex;
    flex-flow: row nowrap;
}

#row5 p:nth-child(1) {
    margin: 0px 205px 0px 0px;
}

#row5 p:nth-child(2) {
    margin: 0px 0px 0px 205px;
}

/* -----------------------------------------row6--> U_F */
#row6 {
    display: flex;
    flex-flow: row nowrap;
}

#row6 p:nth-child(1) {
    margin: 0px 235px 7px 0px;
}

#row6 p:nth-child(2) {
    margin: 0px 0px 7px 235px;
}

/* -----------------------------------------row7--> T_G */
#row7 {
    display: flex;
    flex-flow: row nowrap;
}

#row7 p:nth-child(1) {
    margin: 0px 250px 7px 0px;
}

#row7 p:nth-child(2) {
    margin: 0px 0px 7px 250px;
}

/* -----------------------------------------row8--> S_H */
#row8 {
    display: flex;
    flex-flow: row nowrap;
}

#row8 p:nth-child(1) {
    margin: 0px 245px 7px 0px;
}

#row8 p:nth-child(2) {
    margin: 0px 0px 7px 245px;
}

/* -----------------------------------------row9--> R_I */
#row9 {
    display: flex;
    flex-flow: row nowrap;
}

#row9 p:nth-child(1) {
    margin: 0px 220px 0px 0px;
}

#row9 p:nth-child(2) {
    margin: 0px 0px 0px 220px;
}

/* -----------------------------------------row10--> Q_J */
#row10 {
    display: flex;
    flex-flow: row nowrap;
}

#row10 p:nth-child(1) {
    margin: 0px 180px -10px 0px;
}

#row10 p:nth-child(2) {
    margin: 0px 0px -10px 180px;
}

/* -----------------------------------------row11--> P_L */
#row11 {
    display: flex;
    flex-flow: row nowrap;
}

#row11 p:nth-child(1) {
    margin: 0px 130px -20px 0px;
}

#row11 p:nth-child(2) {
    margin: 0px 0px -20px 130px;
}

/* -----------------------------------------row12--> O_M */
#row12 {
    display: flex;
    flex-flow: row nowrap;
}

#row12 p:nth-child(1) {
    margin: 0px 75px -45px 0px;
}

#row12 p:nth-child(2) {
    margin: 0px 0px -45px 75px;
}

/* -----------------------------------------row13--> Ñ_N */
#row13 {
    display: flex;
    flex-flow: row nowrap;
}

#row13 p:nth-child(1) {
    margin: 0px 5px -30px 0px;
}

#row13 p:nth-child(2) {
    margin: 0px 0px -30px 5px;
}


/* row14_row15 */

#row14 {
    align-self: flex-start;
    margin-left: 75px;
}




/* RIGHT container----------------------------------- */

.right {
    width: 40%;
}

.right p {
    margin-top: 120px;
}

#start {
    width: 120px;
    height: 60px;
    font-size: 20px;
    color: #fff;
    background: #3f8cea;
    border: 4px solid #01367D;
}




/* Form style----------------------------------------- */

.form-style-6 input,
.form-style-6 select 
{
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    /* font: 95% Arial, Helvetica, sans-serif; */
}

.form-style-6 .submit {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 4%;
    margin: 5px 0px;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

.form-style-6 .submit2 {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 4%;
    margin: 5px 0px;
    background: #d1ab43;
    border-bottom: 2px solid #c27e30;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    text-align: center;
}

.green {
    background: green !important;
}

.red {
    background: red !important;
}

#row14 {
    margin-bottom: 80px;
}


#repButton {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 85%;
    padding: 4%;
    margin: 5px 0px;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}