$back-color: #141414;
$text-color: white;
$back-color-button:#2ebd59;
$font: 'Roboto 400', sans-serif;
$font-aside:'Open Sans', sans-serif;
$back-image: linear-gradient(to right bottom, rgb(49, 66, 104), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
$back-color-play:#282828;
$esconder: none;
$opacity-nav:.5;
$opacity:.7;
$space-letter:1.5pt;

