.watch
    display: flex
    flex-flow: column nowrap
    justify-content: cenetr
    
.watch button
        border: 1px solid #8B6E78
        border-radius: 5px
        background-color: transparent
        color: #8B6E78
        font-size: 16px
        text-decoration: none
        height: 40px
        margin: 20px 20px 20px 20px

.watch button:hover
        background-color: rgba(139, 110, 120, 0.8)
        color: white

@media (min-width: 576px)
    .watch button
        margin: 20px 60px 20px 60px

@media (min-width: 768px)
    .watch button
        margin: 20px 100px 20px 100px

@media (min-width: 992px)
     .watch button
        margin: 20px 200px 20px 200px  

@media (min-width: 1200px)
     .watch button
        margin: 20px 300px 20px 300px  