@import url('https://fonts.googleapis.com/css?family=Lato:400,900|VT323');

.gameInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

.gameInfo__title {
    grid-row-start: 1;
    grid-column: 1 / span 5;
    text-align: center;
}

.gameInfo__details {
    grid-row-start: 2;
    grid-column: 1 / span 5;
    margin: 0.6em 0;
    background: linear-gradient(to top, rgba(86,177,126,0.6) 0%,rgba(167,221,190,0) 100%);
    text-align: center;
    /* border-radius: 10px; */
    font-size: 0.9em;
    font-weight: 900;
    text-transform: uppercase;
}

/* a:link, a:visited {
    text-decoration: none;
    color: rgb(0, 111, 0);
    transition: background-color 0.30s;
}

a:hover {
    text-decoration: none;
    color: white;
    background-color:#50BC7E;
} */

.gameInfo__image {
    margin-left: 1em;
    grid-row-start: 3;
    grid-column: 1 / span 2;
}

.gameInfo__image img {
    transition: transform 0.30s;
	transform: perspective(1000px) translate3d(0,0,0);
}

.gameInfo__image:hover img {
	transform: perspective(1000px) translate3d(30%,0,400px);
}

.gameInfo__image--modifier {
    border-radius: 10px;
}

.gameInfo__overview {
    grid-row-start: 3;
    grid-column: 3 / span 3;
    padding: 0 3em;
    letter-spacing: 0.08em;
    text-indent: 1em;
    line-height: 1.5em;
    word-spacing: 0.5em;
}

.gameInfo__video {
    grid-column: 2 / span 3;
    margin-top: 1.5em;
}

