.custom-form-button {
  margin-left: 20px;
  margin-right: 20px;
  background-color: transparent;
  color: #666;
  border: 1px solid #e5e5e5;
  font-weight: bolder;
  padding: 0 40px;
  line-height: 53px;
  font-size: 0.875rem;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
