.userProfileContainer
    display: flex   
    flex-direction: row
    justify-content: center
    

#userProfile
    margin-top: 100px
    padding: 50px

.inputs
    display: flex

.mainLogo
    margin-right: 120px


#updateUserName
    display: flex
#updateUserSurname
    display: flex

#updateUserEmail
    display: flex
   
   