*
    box-sizing: border-box

body 
    background-color: #EE5450
    
.containerRegister
    width: 50vh
    height: 50vh
    border: 2px solid white
    border-radius: 2rem
    background-color: #CDCDCD
    padding: 1%
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 50px;
    label
        font-weight: bold
        
button
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       border: 2px solid white

img 

   width: 350px;
   height: 80px;
