@import '../../utils.sass'

.education
    &-container
        justify-content: center
        align-content: center
        display: flex
        flex-direction: column
        flex-wrap: nowrap

        &__header
            display: flex
            justify-content: space-between

        &__content
            display: flex
            flex-direction: column

            & > a 
                padding-bottom: 0.5rem

        &__form
            display: flex
            flex-direction: column

            &-header
                display: flex
                justify-content: space-between

                &-button
                    display: flex
                    justify-content: center

            &-input
                display: flex    

.subtitle
    font-size: $large
