@import 'reset'
@import 'variables'
@import 'mixins'
@import 'components/search'
@import 'components/artists'
@import 'components/pagination'

//BASE
body
    background-color: $color__dark

h1, h2, h3, h4, h5
    @include text(32, 42, $base__weight__heading2, $text__family__header, $color__light)

.esconder
    display: none !important

.mostrar
    display: none !important

#root
    max-width: 740px
    & div
        & img
            max-width: 500px
            max-height: 150px
            width: auto 
            height: auto
