.tracksPanel
    background-color: grey
    padding: 1em

.tracksTitle
    padding: 0.5em

.backButtons
    margin-right: 2em

.backTo
    padding: 0.5em

.tracks
    width: 50%
    border-style: solid
    border-width: 0.2em
    border-color: black
    border-radius: 0.3em
    padding: 0.3em

.playIcon 
    padding: 0.3em