.btn-likeit {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 20;
  color: #fff;
  font-size: 0.75em;
  opacity: 0;
  padding: 6px 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1 !important;
  }

  &__number {
    font-size: 0.875em;
  }
}
