include ../feedback/index

mixin search()
    section(classname='search')
        form(method='POST', action='/home')
            input(type='text', name='query' ,placeholder='Search an artist...')
            button(type='submit') Search
        if feedback
        +feedback(feedback, 'error')