.jumbotron {
    margin-bottom: 0px;
    text-align: center;
    background: url('/images/landing-chat.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.jumbotron .btn{
    border: 1px solid white;
}

.chat-now-button{
    color: lightgray;
}