$primary: #d24070;

$modal-background-background-color: rgba(95, 27, 49, 0.55);

@import '../node_modules/bulma/bulma.sass';

@import './components/Events/index';
@import './components/Footer/index';
@import './components/Logo/index';
@import './components/OrderForm/index';

@import './pages/Home/index';
@import './pages/Login/index';
@import './pages/MyBasket/index';
@import './pages/Register/index';

body {
  font-family: $family-sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
  position: relative;
}

.g-Layout {
  padding-top: 24px;
  padding-bottom: 24px;
  min-height: calc(100vh - 137px);
}

.is-centered {
  display: flex;
  justify-content: center;
}