.g-Home {
    &-cta {
        align-items: center;
        background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, white 70%, white 100%), url(/gelato-home.jpeg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 68px);
        justify-content: flex-end;
        opacity: 0.7;
        padding-bottom: 100px;
        width: 100%;
        z-index: -1;
    }
}