.terminal
    background-color: black
    height: 50vh
    margin: 0
    overflow: auto
    padding: 2rem
    color: white
    font: 1.3rem Inconsolata, monospace
    text-shadow: 0 0 5px #C8C8C8
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    overflow-y: scroll
    &--output
        background-color: black
        color: white
        margin-top: -0.5em
        margin-bottom: -0.5em