.feedback
    margin: 2em
    display: flex
    flex-direction: row
    background-color: #E3EECD
    border-radius: 5px
    padding: 1em

    p
        margin: 0px
        margin-left: 1em
        color: black
        font-size: 20px

    .fas
        margin-top: 0.35em
        color: red