.feedback
    margin: 2em
    display: flex
    flex-direction: row

    p
        margin: 0px
        margin-left: 1em
        color: red
        font-size: 20px

    .fas
        margin-top: 0.35em
        color: red