.journeyFavorite__container
    display: flex
    flex-flow: row wrap
    justify-content: center

.journeyFavorite__card
    border: 2px solid #012C4C
    width: 300px
    margin: 20px

    button
        background: none
        border: none
    
    button:hover
        border-bottom: 2px solid black