.messages
    margin-top: 5em
    margin-left: 1em
    margin-right: 1em
    display: flex
    flex-direction: column
    margin-bottom: 4em

    &__form
        position: fixed
        bottom: 0
        width: 100%
        display: flex

    &__input
        width: 80%
        border-radius: 10px
        border: 0.5px solid lightgrey
        padding: 1em
        outline: 0

    &__btn
        border-radius: 50px
        width: 20%
        border: 0
        background-color: #ff9b71
        color: white
        font-weight: bold
        cursor: pointer

    &__container
        display: flex
        width: 100%

    &__text
        color: white
        font-size: 1.2em
        align-self: center
        margin-left: 1em