@import url('https://fonts.googleapis.com/css?family=Pacifico')
@import ../../utils
.login
    display: flex
    flex-direction: column
    align-items: center
    height: 100vh 
    justify-content: center
    background: $base-color

    h2 
     color: white
     font-family: 'Pacifico', cursive

    form
     display: flex
     flex-direction: column
     flex-wrap: wrap