//- extends ../layout

//- block content
//-     section.landing
//-       head
//-        h2 
//-       body
//-         main
//-           a(href='/login') Login
//-           |  or 
//-           a(href='/register') Register