.search-input
    width: 80%
    border-radius: 20px
    margin: 30px 0
    padding: 5px 10px
    border: 0
    outline: 0
    line-height: 25px
    border: 1px solid #fafafa
    box-shadow:  0 4px 8px 1px rgba(0, 0, 0, .1)

.search-container
    display: flex
    justify-content: center
    width: 100%

.search
    text-align: center
    color: white
    margin-top: 0
    padding-top: 0

toast.warn
    position: "bottom-center"
    autoClose: 5000
    hideProgressBar: false
    closeOnClick: true
    pauseOnHover: true
    draggable: true