.search-input
    width: 100%
    height: 30px

.search-container
    width: 100%

.search
    text-align: center
    color: white
    margin-top: 0
    padding-top: 0

toast.warn
    position: "bottom-center"
    autoClose: 5000
    hideProgressBar: false
    closeOnClick: true
    pauseOnHover: true
    draggable: true