
$back-color: #141414;
$text-color: white;
$back-color-button:#2ebd59;
$font: 'Roboto 400', sans-serif;
$font-aside:'Open Sans', sans-serif;
$back-image: linear-gradient(to right bottom, rgb(49, 66, 104), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
$back-color-play:#282828;
$esconder: none;
$opacity-nav:.5;
$opacity:.7;
$space-letter:1.5pt;

body{
    margin:20px 10px;
    padding:0;
    background-color:$back-color ;
    color:$text-color;
    font-family:$font;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    img{
        width: 35%;
    }
}

.logo--footer{
    margin:40px 0;
    img{
        width:40%;
    }
}

.button{
    background-color: $back-color-button;
    color:$text-color;
    font-size: .82em;
    letter-spacing: $space-letter;
    padding:13px 44px;
    border-radius:500px;
    border: 1px solid $back-color-button;
    margin:20px 0;
    user-select:none;
}

.title{
    text-align:center;
    font-size:1.8em;
}

.collage{
    display:flex;
    flex-wrap: wrap;
    img{
        width: 100%;
    }   
}
.collage__item{
    width:50%;
    margin-top:-5px;
}

.legal{
    margin-top:20px;
    ul{
        list-style: none;
        padding-left: 0px;
        text-decoration: none;
        text-align: center;
    }
    li{
        font-size: 0.8em;
        margin-top: 10px;
        opacity: 0.5;
    }
}

.desktop{
    display:$esconder;
}

@media (min-width: 768px) and (max-width: 1024px){
    body{
        margin:20px 20px;
        
    }
    .collage__item{
        width:25%;
        margin-top:-5px;
    }

    .logo--footer{
        img{
            width:20%;
        }
    }s

    .logo {
        img{
            width: 15%;
        }
    }
    
}

@media (min-width: 1025px){
    .collage , .button , .legal , .logo, .title{
        display:$esconder;
    }

    body{
       margin:0;    
    }
    
    .desktop{
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-areas: "aside main" 
                             "play play";
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 15fr 1fr;
        
        .aside{
            grid-area:aside;
            background-color: $back-color;
            padding:10px 20px;
            font-family: $font-aside;
        }
        .main{
            grid-area:main;
            background-image:$back-image;
            overflow: scroll;
        }
        .play{
            grid-area: play;
            display:grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows:1fr;
            background-color:$back-color-play;
        }
    }

    .aside__logo{
        width:60%;
        
    }

    .aside__nav{
        padding:0;
        margin-bottom:60px;
        ul{
            list-style: none;
            padding:0;
        }
        li{
            opacity:$opacity-nav; 
        }
        li:first-child{
            opacity:1;
        }
        i{
            font-size:1.5em;
            margin: 20px 20px 0 0;
            opacity: $opacity-nav;
        }
        hr{
            height: 35px;
            width: 2px;
            background-color: $back-color-button;
            border: 1px solid $back-color-button;
            position: absolute;
            margin: 15px -20px;
        }
    }

    .aside__music{
        margin-top:20px;
    }
    .aside__title2{
        font-size:12px;
        opacity:$opacity;
        letter-spacing: $space-letter;
        margin:0;
    }

    .aside__title1{
        font-size:15px;
        opacity:$opacity;
        margin:0;

    }
    .play{
        padding:20px 30px;
    }
    .play__info{
       
        img{
            width: 20%;
            float:left;
            margin-right: 20px;
        }

        i{
            margin-left:20px;
            opacity:$opacity;
        }

    }

    .play__song{
        margin:15px 0 0 0;
    }

    .play__band{
        opacity:$opacity;
        margin:0;
        float:left;
    }
    .play__controls{
        text-align: center;
        font-size:20px;
        i{
            margin-left:20px;
            opacity:$opacity;
            .fa-play-circle{
                font-size:30px;
            }
        }
    }

    .play__controls2{
        text-align: right;
        font-size:15px;
        padding:7% 0;
        i{
            margin-left:20px;
            opacity:$opacity;
        }
    }

    .main__nav{
        padding:20px 0;
        ul{
            list-style: none;
            text-align: center;
        }
        li{
            display:inline;
            margin-right:10px;
            opacity:$opacity;
            letter-spacing: $space-letter;
            font-size: 12px;
            padding:5px 10px; 
        }
        li:first-child{
            opacity:1;
            border-bottom: 2px solid $back-color-button;
        }
    }
    .main{
        padding: 0 30px;
        
    }
    .main__title{
        font-size:1.8em; 
    }
    .main__collage{
        display:flex;
        flex-wrap: wrap;
        img{
            width: 100%;
        }   
    }
    .main__collage__item{
        margin-right:20px;
        width:15%;
        text-align:center;
        p{
            font-size:13px;
           
        }
    }  
    #img-round{
        border-radius:50%;
    }
}