body {
  margin: 20px 10px;
  padding: 0;
  background-color: #141414;
  color: white;
  font-family: "Roboto 400", sans-serif;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.logo img {
  width: 35%;
}

.logo--footer {
  margin: 40px 0;
}
.logo--footer img {
  width: 40%;
}

.button {
  background-color: #2ebd59;
  color: white;
  font-size: 0.82em;
  letter-spacing: 1.5pt;
  padding: 13px 44px;
  border-radius: 500px;
  border: 1px solid #2ebd59;
  margin: 20px 0;
  user-select: none;
}

.title {
  text-align: center;
  font-size: 1.8em;
}

.collage {
  display: flex;
  flex-wrap: wrap;
}
.collage img {
  width: 100%;
}

.collage__item {
  width: 50%;
  margin-top: -5px;
}

.legal {
  margin-top: 20px;
}
.legal ul {
  list-style: none;
  padding-left: 0px;
  text-decoration: none;
  text-align: center;
}
.legal li {
  font-size: 0.8em;
  margin-top: 10px;
  opacity: 0.5;
}

.desktop {
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 20px 20px;
  }

  .collage__item {
    width: 25%;
    margin-top: -5px;
  }

  .logo--footer img {
    width: 20%;
  }

  s .logo img {
    width: 15%;
  }
}
@media (min-width: 1025px) {
  .collage, .button, .legal, .logo, .title {
    display: none;
  }

  body {
    margin: 0;
  }

  .desktop {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "aside main" "play play";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 15fr 1fr;
  }
  .desktop .aside {
    grid-area: aside;
    background-color: #141414;
    padding: 10px 20px;
    font-family: "Open Sans", sans-serif;
  }
  .desktop .main {
    grid-area: main;
    background-image: linear-gradient(to right bottom, #314268, black), linear-gradient(transparent, black 70%);
    overflow: scroll;
  }
  .desktop .play {
    grid-area: play;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    background-color: #282828;
  }

  .aside__logo {
    width: 60%;
  }

  .aside__nav {
    padding: 0;
    margin-bottom: 60px;
  }
  .aside__nav ul {
    list-style: none;
    padding: 0;
  }
  .aside__nav li {
    opacity: 0.5;
  }
  .aside__nav li:first-child {
    opacity: 1;
  }
  .aside__nav i {
    font-size: 1.5em;
    margin: 20px 20px 0 0;
    opacity: 0.5;
  }
  .aside__nav hr {
    height: 35px;
    width: 2px;
    background-color: #2ebd59;
    border: 1px solid #2ebd59;
    position: absolute;
    margin: 15px -20px;
  }

  .aside__music {
    margin-top: 20px;
  }

  .aside__title2 {
    font-size: 12px;
    opacity: 0.7;
    letter-spacing: 1.5pt;
    margin: 0;
  }

  .aside__title1 {
    font-size: 15px;
    opacity: 0.7;
    margin: 0;
  }

  .play {
    padding: 20px 30px;
  }

  .play__info img {
    width: 20%;
    float: left;
    margin-right: 20px;
  }
  .play__info i {
    margin-left: 20px;
    opacity: 0.7;
  }

  .play__song {
    margin: 15px 0 0 0;
  }

  .play__band {
    opacity: 0.7;
    margin: 0;
    float: left;
  }

  .play__controls {
    text-align: center;
    font-size: 20px;
  }
  .play__controls i {
    margin-left: 20px;
    opacity: 0.7;
  }
  .play__controls i .fa-play-circle {
    font-size: 30px;
  }

  .play__controls2 {
    text-align: right;
    font-size: 15px;
    padding: 7% 0;
  }
  .play__controls2 i {
    margin-left: 20px;
    opacity: 0.7;
  }

  .main__nav {
    padding: 20px 0;
  }
  .main__nav ul {
    list-style: none;
    text-align: center;
  }
  .main__nav li {
    display: inline;
    margin-right: 10px;
    opacity: 0.7;
    letter-spacing: 1.5pt;
    font-size: 12px;
    padding: 5px 10px;
  }
  .main__nav li:first-child {
    opacity: 1;
    border-bottom: 2px solid #2ebd59;
  }

  .main {
    padding: 0 30px;
  }

  .main__title {
    font-size: 1.8em;
  }

  .main__collage {
    display: flex;
    flex-wrap: wrap;
  }
  .main__collage img {
    width: 100%;
  }

  .main__collage__item {
    margin-right: 20px;
    width: 15%;
    text-align: center;
  }
  .main__collage__item p {
    font-size: 13px;
  }

  #img-round {
    border-radius: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
