extends ../index

include ../feedback/index

include ../search/index

include ../results/index

include ../detail/index

include ../favorites/index

block content
  .header
    h1 Ducks World
    h2 Hello, #{name}!
  section.panel-home
    +search(query)
    form(action='/home/favorites')
      button Favorites
    form(action='/logout' method='post')
      button Logout
  if message
    .feedback
        +feedback(message)
  if items
    section.results
      +results(items, favs)
  if item
    section.detail
      +detail(item)
  if favoritesList
    section.favorites
      +favorites(favoritesList)