.chats
    margin-top: 4em

.chatsViewer__notfound
    margin-top: 5em
    margin-left: 1em
    font-size: 1.2em
    color: grey

@keyframes donut-spin
  0%
    transform: rotate(0deg)
  
  100%
    transform: rotate(360deg)
  
.donut__chat
    display: inline-block
    border: 4px solid rgba(0, 0, 0, 0.1)
    border-left-color: #ff9b71
    border-radius: 50%
    width: 30px
    height: 30px
    animation: donut-spin 1.2s linear infinite

.donutcontainer__chat
    margin-top: 4em