.landing-products-body{
    padding-top: 2%;
    text-align: center;
    background: linear-gradient(-40deg, #9824af49, #5c1b535e, transparent);
}

.landing-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 4%;
}
.landing-main-subtitle{
    font-size: 50px;
    animation: wobble 2s;
}

@keyframes wobble{
    65%{ transform: scale(1)}
    80%{ transform: scale(0.9)}
}

.landing-card-container{
    padding: 1.2%;
    border-radius: 15px;
    max-width: 27%;
    min-width: 20%;
    box-shadow: 4px 4px 2px rgb(73, 0, 73);

    /* background: white;
    border-radius: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
    -webkit-box-shadow: 10px 10px 10px #9824af49;
    box-shadow: 10px 10px 10px #9824af49; */

}

.landing-card-image{
    border-radius: 10px;
}