.footer
    background-color:  #262626
    width: 100%
    height: 150px
    padding-left: 15px
    padding-right: 15px
    &__title
        cursor: pointer
        display: flex
        color: white
        &-to
            color: #3e7bc0
        &-clock
            margin-top: 26px
            color: #3e7bc0

    &__copy
        display: flex
        justify-content: flex-end
        color: white
        margin-top: 25px
        
    &__logo
        color: white
        display: flex
        justify-content: center
        justify-content: space-around
        margin-top: -15px
        &-insta
            width: 20px