.albumPanel
    background-color: #2E2C2C
    padding: 1em

.albums
    padding: 0.5em
    color: #1CD760

.artistButton
    margin-right: 2em

.albumCard
    //margin: 0.3em
    padding: 0em
    border-style: solid
    border-width: 0.5em
    border-color: #2E2C2C
    border-radius: 1em


.albumImg
    padding: 0.8em

.mainAlbumInfo
    padding: 0.8em

.albumName
    font-weight: bold
    margin-bottom: 0.5em

.albumInfo
    font-size: 0.8em
    margin-left: 0.5em