@import '../../utils.sass'

.nav-footer
    display: flex
    flex-direction: row
    padding-top: 1rem
    padding-bottom: 1rem
    justify-content: space-around
    background-color: rgba(124, 128, 132,0.7)
    position: absolute
    bottom: 0
    width: 100%
    overflow: hidden
    flex-shrink: 0
    border-top: 0.05rem dotted $primary

    @include desktop
        top: 0
        bottom: 83rem
        border-top: none
        border-bottom: 0.05rem dotted $primary

    & > i 
        cursor: pointer
        font-size: $xlarge
        color: $white

        & > span 
            display: none

            @include desktop
                display: inline
