@import '../../utils.sass'

.nav-footer
    display: flex
    flex-direction: row
    padding-top: 1rem
    padding-bottom: 1rem
    justify-content: space-around
    background-color: lighten($primary, 30%)
    position: absolute
    bottom: 0
    width: 100%
    overflow: hidden
    flex-shrink: 0

    & > i 
        cursor: pointer
        font-size: $large
        color: $white
