body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/****HEADER****/
header{
    width: 100%vh;
    height: 300px;
    -moz-box-shadow: 0 0 5px 5px #888;
-webkit-box-shadow: 0 0 5px 5px#888;
box-shadow: 0 0 3px 1px #888;
/*
    border-bottom: 1px solid black;
    border-width: 3px;
*/
}

#container{
    width: 100%;
    display:flex;
    flex-direction: column;
}
/***TOP HEAD***/
#top-head{
    background-color: red;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

/****DERECHA TOP HEAD***/
#channel-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#logo{
    
    width: 40px;
    height: 40px;
    fill: white;
    stroke: none;
    margin-left: 5px;
}

#channel-name > p {
    color: white;
    margin-left: 5px;
}

/****IZQUIERDA TOP HEAD***/

#options{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search{
    width: 30px;
    height: 30px;
    fill: white;
    stroke: none;
    margin-left: 5px;
}

#menu{
    width: 30px;
    height: 30px;
    fill: white;
    stroke: none;
    margin-left: 5px;
}

/**** PARTE CENTRAL HEADER ****/

#channel-picture{
    width: 100%;
    height: 100px;
    background-image: url(https://i.dailymail.co.uk/i/pix/2011/07/08/article-2012253-0CED322900000578-478_964x630.jpg);
    background-image: no-repeat;
    background-image: center;
    background-position: center;
    background-size: cover;
    background-position: 25% 10%;
}

.circleBase {
    
    background-image: url("https://i.pinimg.com/564x/b7/9d/38/b79d388469ddd25cca327739c896b1cc.jpg");
    background-image: no-repeat;
    background-image: center;
    background-position: center;
    background-size: cover;
    background-position:25% 10%;
    border-radius: 50%;
    margin-left: 36px;
    margin-top: 80px;
    z-index: 1;
}

.type1 {
    width: 10vw;
    height: 10vw;
  
    
}

/*** DESCRIPTION AND SUBSCRIBE ***/

#description-subcribe{
    margin-top: 45px;
    margin-left: 30px;
    height: 70px;
}

#subcribe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    height: 30px;
}

#subscribe-button{
    width: 20px;
    height: 20px;
    fill: red;
    stroke: none;
    margin-left: 5px;

}

#description-subcribe > h3 {
    margin: 0px;
    font-size: 10pt;
    font-weight: normal;
    margin-left: 5px;
}

#subscribe-action{
    font-size: 10pt;
}

#num-subscriptors{
    font-size: 10pt;
}

#options-nav{
    font-size: 2.8vw;
    display: flex;
    flex-direction: row
   
}

#options-nav nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

#options-nav nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

#options-nav nav ul li {
    list-style: none;
    margin-left: 12%;

}

#options-nav nav ul li:hover {
    list-style: none;
    margin-left: 15%;

}

/**** FIN HEADER ****/

/*** MAIN  ***/

main{
    
    display: flex;
    flex-direction: row;
    justify-content: center 
}

/***IMAGE ON THE MIDDLE***/

#prelude{
    width: 100%;
    margin-top: 10px;
    height: 210px;
    border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

#secundary-picture{
    font-size: 10pt;
    width: 100%;
    height: 190px;
    background-image: url(https://cdn-images-1.medium.com/max/2600/1*QS59aHuIEgJoIogixOJ32w.jpeg);
    background-image: no-repeat;
    background-image: center;
    background-position: center;
    background-size: cover;
    background-position: 50% 0%;
}

#prelude > p{
    font-style: normal;
    color: grey;
    font-size: 2vw;

}

/****  END IMAGE O THE MIDDLE ***/

/*** VIDEO LISTS ***/

#video-lists{
display: grid;

}



/*** END VIDEO LISTS ***/