// Landing page
.landing {
    background: url('https://cdn-images-1.medium.com/max/1600/1*tO6yh-odg-YDLazUQ6FWVQ.jpeg');
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__buttons-container {
        background-color: rgba(220, 215, 215, 0.3);
        box-shadow: 0px 3px 3px rgba(0, 0, 0, .15);
        border-radius: 20px;
        color: white;
        padding: 70px 0;
        text-align: center;
        margin: 0 auto;
        width: 70%;

        & > .is-3 {
            align-self: center;
        }

        .button {
            box-shadow: 0px 3px 3px rgba(0, 0, 0, .15);
        }

        .or {
            text-shadow: 0 3px 3px rgba(0,0,0,.8);
            font-family: 'Great Vibes';
            font-size: 60px;
            display: block;
        }
    }

}