html {
    box-sizing: border-box;
}
html, body {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Poppins', sans-serif;
}
#header {
    background-color: rgb(27, 29, 30);
    display: flex;
    align-items: center;
    z-index: 3;
    top: 0px;
    position: sticky;
    justify-content: space-between;
    padding: 10px 30px;
}
#header nav ul {
    display: none;
    margin: 0px;
    padding: 0px;
}
#header nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}
#header nav ul li a {
    color: #fff;
    text-decoration: none;
}
#header nav ul li a:hover {
    color: #70acec;
}
@media (min-width: 768px) {
    #header nav ul {
        display: block;
    } 
}
button.bars {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    background: none;
    border: 0px;
    outline: 0px;
    cursor: default;
    padding: 1px 7px 2px;
}
@media (min-width: 768px) {
    button.bars {
        display: none;
    } 
}
.logo {
    font-family: 'Staatliches', cursive;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}
.logo svg {
    width: 100%;
    max-width: 40px;
    min-width: 40px;
    float: left;
}
.logo span {
    display: none;
    line-height: 40px;
}
@media (min-width: 768px) {
    .logo span {
        display: inline;
    }
}
.search {
    outline: 0px;
    background-color: #fff;
    transition: transform 0.25s ease-out 0s;
    height: 40px;
    display: flex;
}
.search input[type="search"] {
    color: rgb(174, 175, 176);
    padding: 12px 8px;
    border: 0px;
    cursor: text;
    outline: 0px;
    font-size: 1em;
}
.search button {
    background-color:#fff;
    color: rgb(56, 59, 62);
    width: 30px;
    border: 0px;
    outline: 0px;
    font-size: 1em;
}
main {
    overflow-y: auto;
    height: calc(100vh - 40px);
}
section {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}
article {
    flex: 0 0 100%;
}
article:last-child {
    margin-bottom: 0px;
}
@media (min-width: 768px) {
    article {
        flex: 0 0 50%;
    }
}
@media (min-width: 992px) {
    article {
        flex: 0 0 33.33333%;
    }
}
article img {
    width: 100%;
    float: left;
}
article a {
    display: block;
}
article .article-content {            
    padding: 15px;
}
article header {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px -6px;
    overflow: hidden;
    padding: 15px;
}
article h2 {
    margin-top: 0px;
}
article p {
    margin: 0px;
}