.update-picture
    height: 25px

.update-picture__button
    opacity: 0
    z-index: 2000
    width: 250px

.update-picture__span
    position: relative
    top: -30px
    
    padding: 3px 82.5px
    background: none
    border: 2px solid white
    color: white
    border-radius: 0.2em
    width: 250px
        
.update-picture__span:hover
    background: none
    border: 2px solid #012C4C
    color: white
    background: #012C4C
    width: 250px