

// .input__form
//     // display: flex
//     // color: red
//     // justify-content: flex-start
//     margin-left: 3rem
//     font-size: 0.8rem

.feedback__Ok
    border: 0.1rem solid black
    background-color: #069406
    color: white
    margin-bottom: 1rem
    margin-top: 2rem
    border-radius: 0.3rem
    text-align: center
    padding: 1rem

.feedback__Error
    border: 0.1rem solid black
    background-color: tomato
    margin-top: 2rem
    border-radius: 0.3rem
    text-align: center
    padding: 1rem



