.feedback{
    border: 1px solid gray;
    border-radius: 0.5em;
    background-color: greenyellow;
    color: black;
}

.feedback--warn{
    background-color: yellow;
    color: black;
}

.feedback--error{
    background-color: red;
    color: white;
}