*
    box-sizing: border-box
    


.main
    margin: 0px
    width: 20%
    height: 100%
    align-self: flex-start
    border: 10px solid #3B3B3B
    position: fixed
    top: 0 
    background-color: #FF0032
    display: flex
    flex-flow: column wrap
 
    img
        border: 1px solid #3B3B3B
        border-radius: 10rem
        margin-top: 1rem
        margin-bottom: 1rem
        align-self: center
        width: 80%
        height: 80%


    button
        border: 1px solid #3B3B3B
        border-left: 0px
        border-right: 0px
        color: #FF0032
        margin-top: 2rem
        width: 100%
        background-color: white
        cursor: pointer

    button:hover
        border-left: 0px
        border-right: 0px
        margin-top: 2rem
        width: 100%
        
        background-color: #4845BA
        color: #FEDE1D

    button:active
        border: 1px solid white
        border-left: 0px
        border-right: 0px
        color: white
        margin-top: 2rem
        width: 100%
        background-color: #3B3B3B
