*
    box-sizing: border-box
    


.main
    margin: 0px
    width: 300px
    height: 100vw
    align-self: flex-start
    border: 10px solid #ffb7cb
    position: fixed
    top: 0 
    background-color: #EE5450
    display: flex
    flex-flow: column wrap
    img
        margin-top: 20%

        width: 200px


    button
        border: 1px solid #ffb7cb
        border-left: 0px
        border-right: 0px
        color: #ffb7cb
        margin-top: 2rem
        width: 100%
        background-color: #EE5450


    button:hover
        border: 1px solid #ffb7cb
        border-left: 0px
        border-right: 0px
        color: #EE5450
        margin-top: 2rem
        width: 100%
        background-color: white

    button:active
        border: 1px solid #ffb7cb
        border-left: 0px
        border-right: 0px
        color: white
        margin-top: 2rem
        width: 100%
        background-color: #ffb7cb
