*
    box-sizing: border-box
    


.main
    margin: 0px
    width: 300px
    height: 100vw
    align-self: flex-start
    border: 10px solid #3B3B3B
    position: fixed
    top: 0 
    background-color: #FF0032
    display: flex
    flex-flow: column wrap
    img
        margin-top: 20%
        align-self: center
        width: 200px


    button
        border: 1px solid #3B3B3B
        border-left: 0px
        border-right: 0px
        color: #FF0032
        margin-top: 2rem
        width: 100%
        background-color: white
        cursor: pointer



    button:hover
        border-left: 0px
        border-right: 0px
        margin-top: 2rem
        width: 100%
        
        background-color: #4845BA
        color: #FEDE1D

    button:active
        border: 1px solid #FF0032
        border-left: 0px
        border-right: 0px
        color: white
        margin-top: 2rem
        width: 100%
        background-color: #FF0032
