.bookCard
    margin: 1%
    display: flex
    flex-direction: column
    background-color: white
    border-radius: 5px

    &-photocontainer
        margin-top: 2%
        height: 70%

    &-buttonContainer
        display: flex
        flex-direction: row
        justify-content: space-around

    .card-title
        margin-bottom: 1%
    .btn-readit
        word-wrap: break-word
    .btn-deleteit
        word-wrap: break-word
    