.journey-card
    &__container
        display: flex
        flex-flow: row wrap
        justify-content: center

    &__card
        width: 250px
        margin: 20px
    
    &__title
        display: flex
        flex-direction: column
        justify-content: center
        
        h2
            height: 50px
            font-size: 150%
            font-weight: bold
            text-align: center

    &__buttons
        display: flex
        justify-content: space-around

    &__button
            background: none
            border: none
        
    &__button:hover
            border-bottom: 2px solid black

    &__favorite
        color: black
        background: none
        border: none

    &__favorite-red
        color: red
        background: none
        border: none