@import '../../utils.sass'

.manage
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    height: 93vh
    
    &-header
        flex-shrink: 0
        padding-top: 1rem
        align-self: center
        text-align: center
        fontsize: $xlarge
        margin-left: 2rem
        margin-right: 2rem

    &-form
        flex-shrink: 0
        margin-top: 2rem
        display: flex
        flex-direction: column
        justify-items: center
        align-items: center
        margin-left: 2rem
        margin-right: 2rem

        &__header
            font-size: $large

        &__form
            display: flex
            flex-direction: column

        &__input
            display: flex

    &-pendSign
        flex-grow: 1
        overflow: auto
        padding-top: 1rem
        margin-bottom: 0.5rem
        margin-left: 2rem
        margin-right: 2rem

        &__header
            font-size: $large

        &__content
            font-size: $medium
            text-align: center
            @extend %border

    &-pendEmail
        flex-grow: 1
        overflow: auto
        padding-top: 1rem
        margin-bottom: 0.5rem
        margin-left: 2rem
        margin-right: 2rem

        &__header
            font-size: $large

        &__content
            font-size: $medium
            text-align: center
            @extend %border


  