@import '../panel'

.start
    @extend %panel
    &-intro
        font-size: 22px
        & .true
            text-decoration: line-through
    &__form
        border: none
        box-shadow: none
        &__editor
            background-color: #2d2d2d
            min-height: 100px
            & pre 
                color: #ffffff
                & span.number
                    border-radius: 0
                    font-size: inherit
                    display: inline
                    background-color: inherit
                    margin-right: 0
                    padding: 0
        &__button
            margin-top: 15px
            max-width: 120px