html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    color: darkblue;
}

.container{
    display: grid;
    height:98vh;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-template-areas: 
    "header header header header header header" 
    "aside-right aside-right aside-right aside-right aside-right aside-right" 
    "main main main main main main" 
    "aside-left aside-left aside-left aside-left aside-left aside-left" 
    "footer footer footer footer footer footer";

}

.header{
    grid-area: header;
    background-color: #FF637D;

}

.aside-right{
    grid-area: aside-right;
    background-color: #F4F1BB;
}

.main{
    grid-area: main;
    background-color: #66D7D1;
}

.aside-left{
    grid-area: aside-left;
    background-color: #EAF2E3;
}

.footer{
    grid-area: footer;
    background-color: #FFF87F;
}

@media (min-width: 800px) {
    .container{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 200px);
        grid-template-areas: 
        "header header header header header header" 
        "aside-right main main main main aside-left" 
        "footer footer footer footer footer footer";
    }
  }