@import url('https://fonts.googleapis.com/css?family=Ubuntu')

.myHeader
    position: fixed
    top: 0
    height: 25vh
    width: 100%
    z-index: 5
    display: flex
    flex-direction: row
    justify-content: space-between
    font-family: ‘Ubuntu’, sans-serif

.myButtons
    display: flex
    align-self: flex-end
    z-index: 6
    width: 30vw

.mySelect
    width: 30vw

.myTitle
    display: flex
    flex-flow: column
    justify-content: center
    text-align: center
    z-index: 10
    width: 40vw