main
    background-color: #1CD760

header
    padding: 1.5em

.panel
    // margin: 0em
    // margin-right: 0em
    background-color: gray
    //max-width: 100%

.cards
    padding: 1em
    
.card
    margin: 0.5em

audio
    width: 20em
    height: 3em