.card
    background-color: #1d3c9580
    width: 24rem
    margin-left: 5rem
    margin-bottom: 1rem
    flex-direction: column

.card-title
    color: white
    margin-left: 2rem

.card-img-top
    margin-left: 1.8rem
    width: 250px
    height: 250px

.bar
  width: 100%
  background-color: #ddd



