main
    height: auto


.card
    border: 2px black solid
    border: radius 0.5em
    background-color: rgba(100,100,100,0.9)
    display: flex
    flex-direction: column
    align-items: center

    &-title
        color: white
    
.results__image-favorite
    display: flex
    flex-direction: row-reverse

.results__nutrients, .results__time
    color: white

    
.fa-heart
    height: 60px
    width: 60px
    padding-top: 12px
    margin-right: auto
    border-radius: 50%
    font-size: 2.5rem
    position: absolute
    background-color: rgba(0,0,0,0.3)

    color: white
    display: flex
    justify-content: center
    align-content: center
.fa-heart-red
    background-color: rgba(200,0,0,0.8)

.fa-heart:hover
    background-color: rgba(100,0,0,0.8)


.flex
    display: flex
    flex-direction: column
    justify-content: center


.progressBarContainer 
    width: 250px
    height: 30px
    border-radius: 1em
    background-color: rgba(0,0,0,0.2)

.progressBar 
    width: 0%
    height: 100%
    border-radius: 1em
    display: flex
    background-color: rgb(182, 125, 143)

.progressBarContainer-nutrients
    width: 250px
    height: 10px
    border-radius: 1em
    background-color: rgba(0,0,0,0.2)

.progressBar-nutrients
    width: 0%
    height: 100%
    border-radius: 1em
    display: flex
    background-color: rgb(247, 175, 157)
    
// .time
//     margin: 1rem
