.results
    display: flex
    flex-direction: row

.card_columns 
    display: flex
    margin-top: 3rem
    flex-wrap: wrap

.card-body 
    -webkit-box-flex: 1
    -ms-flex: 1 1 auto
    flex: 1 1 auto
    padding: 1.25rem
     
.card
    background-color: #9fa9c35e
    width: 24rem
    font-weight: 700
    margin-left: 2.5rem
    margin-bottom: 1rem
    flex-direction: column

.link_recipe
    padding: 0.5rem 2.6rem
    background-color: #202020e6
    text-decoration: none
    color: white
    font-weight: 600
    border-radius: 0.4rem

.fa-heart
    padding: 0.5rem
    border-radius: 1rem
    font-size: 2.5rem
    position: absolute
    // top: 0.5rem
    top: 3.4rem
    right: 0.5rem
    background-color: #898383

.card-title
    color: white
    margin-left: 2rem

.card-img-top
    margin: 0 0 1rem 1.8rem
    width: 250px
    height: 250px


.progressBarContainer 
    width: 250px
    margin-left: 0.5rem
    height: 30px
    border: 1px lightslategray solid
    border-radius: 1em
    background-color: #b7b7b9

.progressBar 
    width: 0%
    height: 100%
    border-radius: 1em
    padding: 0.01em 16px
    display: flex
    background-color: tomato
    
.time
    margin: 1rem
