
.confirm__visit
    font-weight: 16rem
    border: 0.1rem solid black
    height: 7rem

.button__confirm
    height: 3rem
    margin-left: 1rem
    font-size: 1.2rem
    width: 6rem
    background-color: #3030b1
    color: white
    border-radius: 0.3rem
    border: 0.1rem solid black

.appointment
    font-size: 1.4rem
    color: black
    font-weight: 600


    