<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ducks</title>
    <link type="text/css" rel="stylesheet" href="style.css">
    <link rel="icon" href="http://images.clipartpanda.com/icon-clipart-115138-clip_art_clipart_coloring_book_colouring-555px.png ">
</head>

<body>
    <select>
        <option value="en">English</option>
        <option value="es">Español</option>
        <option value="ca">Català</option>
        <option value="ga">Galego</option>
    </select>

    <section>
            <a href="">Register</a> <span>or</span> <a href="">Login</a>.
    </section>

    <form class="container">
        <h2 class="container__title">Register</h2>

        <ul class="container__list">
            <li class="container__item"><input type="text" name="name" placeholder="name"></li>
            <li class="container__item"><input type="text" name="surname" placeholder="surname"></li>
            <li class="container__item"><input type="text" name="email" placeholder="email"></li>
            <li class="container__item"><input type="password" name="password" placeholder="password"></li>
        </ul>

        <button class="container__button">Register</button>
    </form>

    <form class="container">
        <h2 class="container__title">Login</h2>

        <ul class="container__list">
            <li class="container__item"><input type="text" name="email" placeholder="email"></li>
            <li class="container__item"><input type="password" name="password" placeholder="password"></li>
        </ul>

        <button class="container__button">Login</button>

        <p>Error!</p>
    </form>

    <section>
        User successfully registered, you can proceed to <a href="">Login</a>.
    </section>

    <main class="container">
        <h1 class="container__title">Hello, World!</h1>
        <form class="container__search">
            <input type="text" name="query">
            <button class="container__search-button">Search</button>
        </form>

        <ul class="ducks"></ul>
        <section class="ducks__detail">
                <h2>Detail</h2>
                <img>
                <span></span>
                <p></p>
        </section>
        <div>
        <button class="container__button">Logout</button>
        </div>
    </main>


    <script src="scripts/components/component.js"></script>
    <script src="scripts/components/feedback.js"></script>
    <script src="scripts/components/language-selector.js"></script>
    <script src="scripts/components/landing.js"></script>
    <script src="scripts/components/register.js"></script>
    <script src="scripts/components/register-ok.js"></script>
    <script src="scripts/components/login.js"></script>
    <script src="scripts/components/search.js"></script>
    <script src="scripts/components/results.js"></script>
    <script src="scripts/components/detail.js"></script>
    <script src="scripts/components/home.js"></script>
    <script src="scripts/validate.js"></script>
    <script src="scripts/duck-api/index.js"></script>
    <script src="scripts/user-api/index.js"></script>
    <script src="scripts/logic/index.js"></script>
    <script src="scripts/i18n.js"></script>
    <script src="scripts/main.js"></script>
</body>

</html>