
.itemlist-item
    &__header
        margin-bottom: 7px
        &-delete
            background-color: #ff3860
        &__buttons
            display: flex
    &__description
        margin-bottom: 2.5em
    &__footer
        display: flex
        justify-content: space-between
        align-items: flex-end
        &-edit
            margin-left: 1.4em
        &-theme
            background-color: #39add1
            color: #ffffff
            font-size: .85em
            padding: .2em .8em
            border-radius: .25em
            transition: .2s
            height: 27px
            align-items: flex-end
            margin-right: 1.4em
            & span 
                background-color: #ffffff
