
.itemlist-item
    &__header
        margin-bottom: 7px
    &__description
        margin-bottom: 2.5em
    &__test
    &__button
            &-delete
                max-width: 45px
                color: #ff3860
                border: 0
