main
    .artistpanel
        border: 1px solid red
    .albumpanel
        border: 1px solid blue
    .songPanel
        border: 1px solid black
    .mp3Panel
        border: 1px solid purple
    .tituloamarillo
        color: yellow
#root
    background-color: #1CD760

header
    background-color: #1CD760

body
    background-image: #1CD760

.welcomepanel
    display: flex
    
    h6
        justify-items: end
