.register
    display: flex
    justify-content: center
    align-items: center
    background-color: #474747
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    padding: 2em

.registerBox
    display: flex
    justify-content: center
    align-content: center

.content
    //align-self: flex-end
    background-color: #282828
    color: #D8D7D7
    border-style: solid
    border-width: 0.05em
    border-color: #242424
    border-radius: 0.5em
    display: flex
    flex-direction: column
    padding: 4em

.text
    text-align: center

.title
    font-size: 2em

.form
    display: flex
    flex-flow: column
    justify-content: center

.input
    margin: 1em
    padding: 1em
    border-style: solid
    border-width: 0.1em
    border-color: #242424
    border-radius: 0.5em
    height: 2em
    width: 25em

.registerButton
    color: white
    margin: 1em
    padding: 1em
    //align-self: center
    height: 4.17em
    width: 15em
    border-radius: 0.5em
    background-color: #1976C8
    border-width: 0em
    cursor: pointer

.signIn
    color: #1976C8
    cursor: pointer
    align-self: center

.miniForm
    display: flex
    flex-flow: row
    justify-content: space-between