@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Major+Mono+Display|Titillium+Web:900')
@import './components/App/index.sass'
@import './components/Event/index.sass'
@import './components/EventDetails/index.sass'
@import './components/EventResults/index.sass'
@import './components/Favourites/index.sass'
@import './components/Feedback/index.sass'
@import './components/Footer/index.sass'
@import './components/Header/index.sass'
@import './components/Home/index.sass'
@import './components/Login/index.sass'
@import './components/Register/index.sass'
@import './components/Results/index.sass'
@import './components/Search/index.sass'
@import './components/User/index.sass'
  
html 
  height: 100%
  position: relative

body 
  height: 100%
  position: relative
  margin: 0
  padding: 0
  font-family: 'Lato', sans-serif

.app
  min-height: 100vh
  overflow: hidden
  display: block
  position: relative
  padding-bottom: 100px