html
  head
    title spotify web-app
    link(rel='stylesheet', type='text/css', href='/styles/style.css')
  body.main
    header
      img(src='/images/Spotify_Logo.png')  
    div.mainContainer
      block content
    footer Spotify&#169;