@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto')

header
    background-color: black

    & img
        max-width: 120px
        margin: 10px 0px 10px 10px

.main
    margin: 0px
    padding: 0px
    background-image: url(https://images.pexels.com/photos/720240/pexels-photo-720240.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
    background-size: cover
    background-attachment: fixed
    background-position: fixed 
    font-family: 'Roboto', sans-serif
    display: flex
    flex-flow: column nowrap
    min-height: 100vh

.mainContainer
    flex: 1

footer
    background-color: black
    color: white
    text-align: center
    padding: 20px 0px