.container {
    max-width: 960px;
}

/*
* Custom translucent site header
*/

.site-header {
    background: linear-gradient(to left, rgb(121, 27, 105), rgb(34, 8, 44));
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0px 2px 10px rgb(157, 127, 158);
}

.site-header a {
    height: 45px;
    color: rgb(238, 237, 237) !important;
    transition: ease-in-out color .15s;
    font-size: 18px;
    letter-spacing: 1.2px;
}

.site-header a:hover {
    color: #fff !important;
    text-decoration: none;
    text-shadow: 2px 2px 4px#e29c9c;
}

.login-navbar {
    padding-right: 5rem;
}

.badge{
    position: relative;
    bottom: 5px;
    right: 3px;
}

.dropdown-categories{
    background: transparent;
}

.dropdown-item{
    background: linear-gradient(to left, rgb(75, 75, 75), rgb(104, 104, 104))  !important;
}