extends ../index

block content
  section.landing
    img.landing__image(src='https://media.tenor.com/images/4f8eca353a4e30bb521b06e19da01e04/tenor.gif')
    div.landing__actions
      a.btn.landing__login(href='/login') login
      | or
      a.btn.btn--small.landing__register(href='/register') register
