.comments
    margin-top: 2em

    &__form
        display: flex
        flex-direction: column

    &__textarea
        box-sizing: border-box
        max-height: 160px
        min-height: 38px
        overflow-x: hidden

        &-dark
            color: white
            background-color: #121212

        &-light
            color: black
            background-color: white
            border-color: gray

    &__send
        width: 10em
        align-self: flex-end
        margin-top: 1em

    &__text
        margin-bottom: 0.5em
        font-size: 1.2em

        &-light
            color: black

        &-dark
            color: white

.eachcomment
    margin-top: 2em
    margin-bottom: 2em

    &__header

        &-dark
            background-color: #161616 !important
            border: 1px solid #343434 !important
        
        &-light
            background-color: #f7f7f7 !important
            color: black !important
            border: 1px solid #c6c6c6 !important

    &__body
        
        

        &-dark
            color: white
            background-color: #121212
            border: 1px solid #343434 !important

        &-light
            color: black
            background-color: white
            border: 1px solid #c6c6c6 !important

    &__text
        font-size: 1.1em

        &-dark
            color: white

        &-light
            color: black



    &__date
        text-align: right
        font-size: 1.1em

        &-dark
            color: white

        &-light
            color: black

