body 
  background: #eeeeee
  background-image: url('https://res.cloudinary.com/dnvdmcxqw/image/upload/v1552765445/bkg-opacity.png')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed

    
svg 
  stroke: none
  fill: none
  display: none
  position: absolute

    
canvas 
  position: absolute
  display: block
  margin: -100px -100px
  top: 40%
  left: 50%
