body 
  background: #eeeeee

    
svg 
  stroke: none
  fill: none
  display: none
  position: absolute

    
canvas 
  position: absolute
  display: block
  margin: -100px -100px
  top: 40%
  left: 50%
