body 
  height: 100vh
  width: 100vw
  background: #eeeeee
  background-image: url('https://res.cloudinary.com/dnvdmcxqw/image/upload/v1552765445/bkg-opacity.png') !important
  background-position: center !important
  background-repeat: no-repeat !important
  background-size: cover !important
  background-attachment: fixed !important

    
svg 
  stroke: none
  fill: none
  display: none
  position: absolute

    
canvas 
  position: absolute
  display: block
  margin: -100px -100px
  top: 40%
  left: 50%
