.login

    & .title
        color: white
        text-transform: uppercase
        font-family: 'Titillium Web', sans-serif
        font-size: 2em
        margin-top: 0.6em

        @media (min-width: 480px)
            font-size: 2.5em
            margin-top: 1em

        @media (min-width: 840px)
            font-size: 3.5em
            margin-top: 1.5em

    & .register
        color: white

.loginPanel
    background-color: rgba(0, 0, 0, 0.75)
    padding: 2em 1em 1.5em 1em
    border-radius: 5px
    margin-top: 2.5em

.feedback
    margin-top: -24px