body {
    height: 100vh;
    margin: 0;
    color: gray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url("brain.png") no-repeat center;
    background-size: cover;
}

.container-pasapalabra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container { 
    background-color: white;
    border-radius: 15px;
    width: 600px;
}

.container.hidden {
    display: none;
}

.startPlayingName {
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 0;
    align-self: flex-end;
}

.title {
    margin: 0 30px 0 30px;
    text-align: justify;
}

li {
    margin: 30px;
}

.content { 
    margin: 30px;
} 

.startPlayingName {
   display: flex;
   align-items: flex-end;
}

.questionsAndAnswers.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-playAgain {
    display: none;
}

.letter {
    background: #09f;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-transform: uppercase;
}

.letter.rightAnswer {
    background: rgb(4, 218, 4);
}

.letter.wrongAnswer {
    background: rgba(248, 29, 29, 0.918);
}

.btn {
    border-radius: 5px;
}

.btn-start-section {
    display: flex;
    justify-content: center;
}

#userNameSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}