@import './_reset.sass'
@import './utils.sass'
    
/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono')     

*
    font-family: 'Roboto Mono', monospace 

html
    height: 100%
    background-color: $white

body 
    min-height: 100%

#root
    height: 100%



