@import './_reset.sass'
@import './utils.sass'
    
/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono')     

html
    background-color: $white

button
    color: $primary
    border-color: $primary
    font-size: $text

