/* Colors */

$primary: #575757 
$secondary: #A5A5A5
$white: #F5F5F5     
$danger: #D5544F
$success: #DCECA9

/* Font size */

$xsmall: 0.7rem
$small: 0.8rem
$medium: 0.9rem
$large: 1.1rem
$xlarge: 1.2rem

/* Button */

@mixin btn-bg($bg) 
    background: none
    color: darken($bg, 30%)
    &:hover
        background: lighten($bg,60%)
        transition: all 0.3s ease
        border-bottom: 0.05rem dotted darken($bg,10%)

@mixin btn-inverted($bg)
    background: darken($bg, 5%)
    color: lighten($bg, 50%)
    &:hover
        border-bottom: 0.05rem dotted $bg

.btn
    text-decoration: none
    font-size: $medium
    padding: 0.2rem
    cursor: pointer
    color: $secondary
    border: none

    // Colors & Inverted
    &--primary
        @include btn-bg($primary)
        &-inverted
            @include btn-inverted($primary)
    &--success
        @include btn-bg($success)
        &-inverted
            @include btn-inverted($success)
    &--danger
        @include btn-bg($danger)
        &-inverted
            @include btn-inverted($danger)

    //Size
    &-xsmall 
        font-size: $xsmall
    &-large
        font-size: $large
    &-xlarge 
        font-size: $xlarge 


/* Icons */
.icon
    color: $primary
    align-self: center
    font-size: $medium

    &--link 
        cursor: pointer

    &:hover
        color: darken($primary, 30%)

/* Inputs */

input 
    text-decoration: none
    text-align: center
    font-size: $medium
    padding: 0.2rem
    color: $secondary
    border: none
    background: none
    width: 100%

.input
    &--small
        width: 32%

/* Links */

a:link
    color: $primary
    &:visited
        color: $primary

/* Border */
%border
    border: 0.05rem dotted $primary
    padding: 0.3rem
    margin-top: 0.2rem

    &:hover
        box-shadow: 0.2rem 0.2rem $primary


/* Checkbox */
.checkbox
    display: inline

    & > input
        vertical-align: middle
        width: 5%

/* Line */
.line
    align-self: center
    width: 97%
    border-top: 0.08rem dashed $primary
    margin-top: 0.5rem
    margin-bottom: 0.5rem

/* Cursor */
.pointer
    cursor: pointer