// BASE
$base__font-size: 15 !default
$base__line: 20 !default
$base__weight: 300 !default

// TEXT
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400')
$text__family-sans: 'Roboto', sans-serif !default
$text__color--base: #333333 !default
$text__color--beta: #cccccc !default
$text__color--background: white !default
$text__color--size: $base__font-size
$text__color--size: $base__font-size

// COLORS
$color__primary--light: #DD0000 !default
$color__primary: #DD0000 !default
$color__primary--dark: #DD0000 !default

// HEADER
$text__color--logo: #1caa98 !default

// MEDIA QUERIES
$screen-md-min: 580px
$screen-lg-min: 900px
$screen-xl-min: 1400px