@import 'base/reset'
@import 'variables'
@import 'mixins'
@import 'layout/header'
@import 'layout/slide'
@import 'layout/main/home'
@import 'layout/prefooter'
@import 'layout/footer'


// GENERAL - main styles

html, body
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline 

ol, ul, p
  list-style: none 
  padding: 0
  margin: 0

a 
  text-decoration: none

details summary::-webkit-details-marker 
  display: none

p, button, h2
  color: #333333
  font-family: 'Roboto', sans-serif
  font-weight: 300

.slide, main, .pre-footer, .footer
  padding: 0 7%




