*
    box-sizing: border-box
    
.containerLogin
    width: 50vh
    height: 50vh
    border: 2px solid red
    border-radius: 2rem
    background-color: #F9B8B8
    padding: 1%
    label
        font-weight: bold
    button
        background-image: linear-gradient(red, white)
        border: 2px solid red
        color: black
        font-weight: bold

