.landing
    background-color: rgba(0,0,0, 0.6)  
    padding: 30px 0px 
    margin-top: 200px
    text-align: center
    color: white
    

    & a
        font-family: 'Roboto'
        color: #8fb6ff
        text-decoration: none