.itemlist-item
    &__header
        margin-bottom: 7px
        &-delete
            background-color: #ff3860
        &__buttons
            display: flex
    &__description
        margin-bottom: 2.5em
    &__footer
        display: flex
        justify-content: space-between
        align-items: flex-end
        &-edit
            margin-left: 1.4em 
            max-width: 120px