.book-container
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start

    .button
        border-radius: 50%
        border: 2px solid black
        &-disabled
            display: none
.buttonArrow
    border-radius: 50%
    background-color: #3c415e

.all
    display: flex
    width: 100%
    height: 100%
    padding: 5%
    padding-top: 1%
    border: 1px solid black
    .page1
        width: 50%
        padding-right: 5%
    .page2
        width: 50%    
        display: block
        padding-left: 2%
        border-left: 1px solid grey

