.start
    &__intro
        &__title
            display: flex
            padding: 5px
        &__exercise
            margin-bottom: 15px
            margin-left: 5px
            & .material-icons
                font-size: 17px
                color: green
                margin-left: 5px
                font-weight: bold
        & .activeExercise
            font-weight: bolder
            color: black
            font-size: 19px
        & .done
            text-decoration: line-through