@import ../utils
@import ../config

body
    background-color: #F7F5F2

.home
    display: grid
    grid-template-columns: 20% 80%
    grid-template-rows: auto
    +round-border(.1em, solid, $color, .5em)

    &__searcher
        +round-border(.1em, solid, blue, .5em)
        padding: 1.5em

    &__search__results
        +round-border(.1em, solid, red, .5em)


.nav
   +round-border(.1em, solid, $color, .5em)

   &__user
       display: flex
       
       +round-border(.1em, solid, red, .5em)

   &__user > a > img 
       max-width: 5em  

   &__recipes
       +round-border(.1em, solid, black, .5em)
       
   &__search
       +round-border(.1em, solid, blue, .5em)
    
   &__search__results
       +round-border(.1em, solid, yellow, .5em)