@import "_color";
@import "_sizes";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins");

body {
  font-family: "Poppins", sans-serif;
  //background-image: url("../images/serena_white.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
