@import "_color";
@import "_sizes";

body {
  //background-image: url("../images/serena_white.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
