@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
.body-contact {
  margin: 0em;
  font-family: "Roboto", sans-serif;
}
.body-contact .nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}
.body-contact .nav-bar .nav-bar__gamma {
  color: #149983;
  margin: 1em;
}
.body-contact .nav-bar .nav-bar__components {
  display: none;
}
.body-contact .nav-bar .nav-bar__hamburguer {
  color: gray;
  padding: 0.4em;
  margin-right: 1em;
  border-style: solid;
  border-color: grey;
  border-radius: 0.4em;
  border-width: 0.1em;
}
.body-contact a:hover {
  color: #149983;
}
.body-contact a {
  text-decoration: none;
}
.body-contact .page-title {
  background-color: #149983;
  max-width: 100%;
  margin: 0em;
}
.body-contact .page-title .page-title__header {
  font-weight: 900;
  font-size: 2em;
  padding: 1em;
  margin: 0em;
  color: white;
}
.body-contact .main-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2em;
  max-width: 100%;
}
.body-contact .main-grid-container .main-grid-container__messages {
  margin: 1em;
}
.body-contact .main-grid-container .main-grid-container__messages .main-grid-container__messages__text {
  width: 100%;
  padding: 0.5em;
  margin: 0em;
}
.body-contact .main-grid-container .main-grid-container__messages .main-grid-container__messages__input {
  color: #242731;
  width: 98%;
  margin-left: 0.5em;
  border-style: solid;
  border-color: grey;
  border-radius: 0.3em;
  border-width: 0.1em;
}
.body-contact .main-grid-container .main-grid-container__messages .main-grid-container__messages__button {
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-radius: 0.3em;
  border-width: 0.1em;
  padding: 0.5em;
  align-self: flex-start;
  color: #242731;
  margin-left: 0.5em;
}
.body-contact .main-grid-container .main-grid-container__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
}
.body-contact .main-grid-container .main-grid-container__article .main-grid-container__article__image {
  align-self: center;
  padding: 0.25em;
  border-style: solid;
  border-color: #242731;
  border-radius: 0.1em;
  border-width: 0.05em;
  max-width: 100%;
  padding: 0.5em;
}
.body-contact .main-grid-container .main-grid-container__article .main-grid-container__article__title {
  color: #242731;
  max-width: 100%;
  padding: 0.5em;
  margin: 0em;
}
.body-contact .main-grid-container .main-grid-container__article .main-grid-container__article__text {
  color: #242731;
  max-width: 100%;
  padding: 0.5em;
  margin: 0em;
}
.body-contact .main-grid-container .main-grid-container__article .main-grid-container__article__button {
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-radius: 0.3em;
  border-width: 0.1em;
  padding: 0.5em;
  align-self: flex-start;
  color: #242731;
  margin-left: 0.5em;
}
.body-contact .features-container {
  background-color: #149983;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.body-contact .features-container .features-container__list {
  color: white;
  padding: 1em;
}
.body-contact .features-container .features-container__list .features-container__flexbox2__title {
  font-size: 1em;
}
.body-contact .features-container .features-container__img {
  align-self: flex-start;
  padding: 1em;
}
.body-contact .footer {
  background-color: #2c2c2c;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 580px) {
  .body-contact .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0em;
  }
  .body-contact .footer .footer__info {
    align-self: flex-start;
    padding: 3em;
  }
  .body-contact .footer .footer__copyright {
    align-self: flex-end;
    padding: 3em;
  }
}
@media (min-width: 900px) {
  .body-contact .nav-bar .nav-bar__components {
    padding: 0em;
    margin: 0em;
    display: inline;
  }
  .body-contact .nav-bar .nav-bar__components__contact {
    margin: 0em;
    background-color: #cacaca;
    padding: 1em;
  }
}
@media (min-width: 1400px) {
  .body-contact .main-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2em;
    max-width: 100%;
  }
  .body-contact .main-grid-container .main-grid-container__messages {
    margin-left: 5em;
  }
  .body-contact .features-container {
    background-color: #149983;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .body-contact .features-container .features-container__list {
    color: white;
    padding: 1em;
    margin-left: 14em;
  }
  .body-contact .features-container .features-container__list .features-container__flexbox2__title {
    font-size: 1em;
  }
  .body-contact .features-container .features-container__img {
    align-self: flex-start;
    padding: 1em;
  }
}

/*# sourceMappingURL=contact-style.css.map */
