.search
    margin-top: 100px
    &__form
        display: flex
        flex-direction: column
        justify-content: center
        padding-left: 15px
        padding-right: 15px 
        margin-top: 20px
        &-title
            display: flex
            justify-content: center
        &-input
            display: flex
            justify-content: center
            height: 60px
            padding: 15px
            font-size: 18px
    