extends ../layout

include ../feedback/index

block content
  .container-login100(style="background-image: url('images/bg-01.jpg');")
    .wrap-login100.p-l-55.p-r-55.p-t-65.p-b-54
      form.login100-form.validate-form(action='/login', method='post')
        span.login100-form-title.p-b-49 Login
        .wrap-input100.validate-input.m-b-23(data-validate='Username is reauired')
          span.label-input100 Email
          input.input100(type='email', name='email', placeholder='Type your email')
          span.focus-input100(data-symbol='')
        .wrap-input100.validate-input(data-validate='Password is required')
          span.label-input100 Password
          input.input100(type='password', name='password', placeholder='Type your password')
          span.focus-input100(data-symbol='')
        .text-right.p-t-8.p-b-31
          a(href='#') Forgot password?
        .container-login100-form-btn
          .wrap-login100-form-btn
            .login100-form-bgbtn
            button.login100-form-btn Login
        .txt1.text-center.p-t-54.p-b-20
          a.txt2(href='/register') Sign Up
      if feedback
        +feedback(feedback, 'error')
