*
    box-sizing: border-box

.pokemonCard
    border: 5px solid #B75F5F
    background-color: white
    width: 250px
    border-radius: 1.2rem
    margin: 1rem
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 16px 16px 5px rgba(0, 0, 0, 0.19)
    -webkit-transition: width .5s
    transition: width .5s
    
.pokemonCard:hover
    
    width: 290px
        


      
