*
    box-sizing: border-box

    .pokemonCard
        border: 2px solid #B75F5F
        background-color: #F9B8B8
        width: 10rem
        border-radius: 1.2rem

        &__details
            margin-bottom: 5%
            margin-left: 5%
            margin-right: 5%
            max-width: 80%
        &__pokeball
            width: 30%
            height: 30%

