@import '../panel.sass'

.exercise-form
    @extend %panel
    & form 
        display: flex
        flex-direction: column
        margin-bottom: 50px
        & label
            margin-top: 2em 
        & button
            margin-top: 10px
            max-width: 120px
    &__editor
        background-color: #2d2d2d
        min-height: 100px
        & pre 
            color: #ffffff
            & span.number
                border-radius: 0
                font-size: inherit
                display: inline
                background-color: inherit
                margin-right: 0
                padding: 0
