@import '../panel.sass'

.exercise-form
    @extend %panel
    & form 
        display: flex
        flex-direction: column
        & label
            margin-top: 2em 
        & button
            margin-top: 10px