* {
  font-family: 'Source Sans Pro', sans-serif;
}

div.starter-template{
  padding:0px
}

#calculator{
  background-color: #ccc;
  width: 500px;
  margin-left: 25%;
  padding: 5%;
}

#calculator .form{
  clear: both;
  margin-top: 30px;
}

#calculator .form button{
  margin-top:35px;
}

#calculator img, #calculator h1{
  float:left;
  display:inline;
}

#n1, #n2{
  font-size: 18px;
  height: 50px;
  width: 150px;
  float:left;
}


#calculate{
  height: 50px;
  width: 150px;
  border-radius: 5px;
}

#results{
  margin-top:15px
}

div#msg-results{
  margin-top:20px;
}

/*Errors*/

#errors{
  clear: both;
}
