*{
    font-family: 'Orbitron', sans-serif;
}

.sidebarleft{

}
.sidebaright{

}
.header{
  margin-top:50px;
}

.main-content{
  background-color: #ccc;
  border-radius: 20px;
}

div.key{
  margin-top:5px;
}

div.keyrow{
  padding: 0px;
  margin:0px;
}

div.key button{
  font-size:30px;
  padding:25px;
}

div.main-content{
  padding:15px 0px;
}

h1#result{
  margin:35px;
  background-color: #FFF;
  padding:15px;
  border-radius:10px;
}
