@charset "UTF-8";
.same img {
  width: 80%;
  align-self: center;
  border: 1px solid lightgray;
  margin: auto;
  margin-top: 1rem;
}

.first, .same {
  display: flex;
  flex-wrap: wrap;
}

.same {
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
  /* margin: auto */
}
.same div {
  width: 80%;
  align-self: center;
  margin: auto;
}
.same div h2 {
  /* padding: 1rem */
  padding-bottom: 1rem;
  margin-top: 1rem;
}
.same div p {
  /* padding: 1rem */
  padding-bottom: 1rem;
}
.same div button {
  padding: 0.3rem;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
}

* {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  background-color: #f7f7f7;
  display: flex;
  flex-flow: row;
  height: 3rem;
  justify-content: space-between;
  align-content: center;
}
header h2 {
  color: #1baa98;
  padding: 1rem;
  margin: 0;
  align-self: center;
}
header button {
  background-color: #f7f7f7;
  align-self: center;
  border: 1px solid gray;
  border-radius: 0.25rem;
  height: 2rem;
  width: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

main {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.first {
  background-color: #1b222a;
  justify-content: center;
  align-content: center;
  margin-bottom: 1rem;
}
.first h1 {
  color: white;
  justify-self: center;
  padding-top: 1rem;
  text-align: center;
  padding: 1rem;
  font-size: 1.8rem;
}
.first h1 span {
  color: #1baa98;
  text-align: center;
}
.first p {
  color: white;
  padding: 1rem;
  text-align: center;
}
.first img {
  align-self: center;
  width: 60%;
  padding: 1rem;
}

.last {
  background-color: #1baa98;
  width: 100%;
  margin-top: 1rem;
}
.last h1 {
  color: white;
  padding: 1rem;
}
.last ul {
  list-style: none;
  color: white;
}
.last ul li:before {
  content: "✓ ";
  line-height: 30px;
}
.last img {
  width: 50%;
  align-self: center;
  padding: 2rem;
  padding-top: 1rem;
  margin: auto;
}

.foot {
  background-color: #1b222a;
  text-align: center;
  width: 100%;
}
.foot nav {
  padding-top: 1rem;
}
.foot nav a {
  text-decoration: none;
  font-size: 0.8rem;
  color: white;
  padding: 1rem;
}
.foot p {
  color: white;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 580px) {
  .first {
    display: inline-flex;
    background: #1c222a url(site_showcase_bg.jpg) no-repeat top center;
    background-size: 100% 100%;
  }
  .first img {
    width: 30%;
  }

  .same img {
    width: 90%;
  }

  .last h1 {
    font-size: 2rem;
    padding-inline-start: 40px;
  }
  .last ul {
    font-size: 1.5rem;
  }

  .foot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .foot nav {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .foot nav a {
    padding: 0.5rem;
  }
  .foot p {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

/*# sourceMappingURL=style.css.map */
