.profileInfo
    

    &__header
        display: flex
        align-items: flex-end
        margin-left: 5%
        margin-right: 5%

    &__header-background
        display: flex
        align-items: flex-end
        height: 400px
        background-image: url("./header4.jpg")
        background-repeat: no-repeat
        background-position: bottom
        background-attachment: fixed
        background-size: cover

    &__info
        margin-left: 5%
        margin-right: 5%

    &__names
        padding-left: 20px
        color: white
        h2
            font-size: 3em

    &__titleSection
        margin-top: 20px
        border-bottom: 2px solid black

    &__talents
        width: 100vw


    &__talent
        background: #0384A1
        color: white
        margin-right: 10px
        margin-top: 10px
        border-radius: 0.3em
        text-align: center

    &__experience
        margin-top: 20px
        display: flex
        align-items: center

        h3
            margin-right: 20px

    &__language
        background: #012C4C
        color: white
        // padding: 10px 20px
        margin-right: 10px
        margin-top: 10px
        border-radius: 0.3em
        text-align: center
        