
.welcome
    background-image: url("../images/back.jpg")
    background-repeat: no-repeat
    background-position: center
    background-attachment: fixed
    background-size: cover
    height: 100%

    display: flex
    justify-content: center
    align-items: center
    height: 100%
    color: white 
    padding: 2em  

         

    


