.content-store-orders {
    
    display: flex;
    flex-direction: column;

}

.button.is-danger {
    background-color: #ff3860;
    border-color: transparent;
    color: #fff;
}

.card-header-title {
    font-size: 40px;
    font-weight: 200;
    padding-bottom: 20px;   
}

.order-store-span {
    color: #d24070;

}