@charset 'UTF-8';

@import "abstracts/variables", "abstracts/functions", "abstracts/mixins";
// 2. Vendors
@import "vendors/normalize";
// // 3. Base stuff
@import "base/base", "base/typography";
// 4. Layout-related sections
@import "layout/main", "layout/header", "layout/footer", "layout/content",
  "layout/container", "layout/quiz-grid";
// // 5. Components
@import "components/header", "components/nav-bars", "components/btn-link",
  "components/search", "components/sidebar", "components/header-section",
  "components/quiz", "components/build", "components/btn-likeit",
  "components/btn-favorite", "components/load-more", "components/user-profile",
  "components/nav", "components/_quiz-details", "components/quiz-details-header",
  "components/question-detail", "components/host-game",
  "components/header-game-top", "components/join-game", "components/statusbar",
  "components/leaderboard", "components/start-game", "components/ready-question",
  "components/_progressbar", "components/current-quiz",
  "components/srart-button", "components/answers-histogram",
  "components/scoreboard-podiums", "components/expand_button",
  "components/login";
