@import '../../utils.sass'

.contactInfo
    &-container
        justify-content: center
        align-content: center
        display: flex
        flex-direction: column
        flex-wrap: nowrap

        &__header
            display: flex
            justify-content: space-between

        &__content
            display: flex
            flex-direction: column

            & > a 
                padding-top: 0.5rem

        &__form
            display: flex
            flex-direction: column

            &-input
                display: flex    

.subtitle
    font-size: $large
