.footer
    padding-top: 3em
    padding-bottom: 0.1em
    background-color: transparent
     
    
.footer__logo  
    animation: move 6s linear infinite


@keyframes move
    from
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg)
    to
        transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg)