@import '../../utils.sass'

.time-selector
    display: flex
    flex-flow: row
    color: $dark-gray

    &__sel
        height: 2em
        background-color: $yellow
        border-width: 0
        border-radius: 10px
        appearance: menulist

    &__sep
        margin: 0

    
