extends ../home/index

if track
        section(class="track")
            h2 Track
                div 
                    h4 track.name
                    h4 track.id

                        form(method='POST', action='/track')
                            audio(controls='', autoplay='', loop='', src='{track.preview_url}')  