
.card_trackselected
    text-align: center
    padding-top: 1rem
    margin-left: 6rem

.card_title-track
    margin-left: 3rem
    font-weight: 700

.title_go_back
    display: flex
    align-items: center

.goBack
    width: 10rem
    height: 2.2rem
    color: white
    background-color: #18479d
    border: 0.1rem solid #b9c2fc
    border-radius: 0.5rem
    margin-left: 3.4rem
    text-align: center

.heart
    font-size: 1.5rem
    margin-left: 3rem

.player
    width: 28rem
    margin: 3rem 17rem