extends ../tracks/index

block track
    if track
        section(class="track")
            form(method='POST', action=`/tracks=${albumId}`) 
                        button(class='button_goBack' type='submit') Go back tracks 
            h2 Track
                div 
                    h4 #{track.name}
                    if track.preview_url
                        audio(controls='', autoplay='', loop='', src=track.preview_url)  
                    else
                        p Sorry, there is no preview available
//- button(class='button_artist' href=`/tracks=${tracksId}`) Go back tracks