html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #181818;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: white;
}

body * {
  box-sizing: border-box;
}

body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body a {
  color: #aaaaaa;
}

body a:hover {
  color: #c8c8c8;
}

.container aside nav .spotify-logo {
  padding: 24px;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 100%;
}

.container aside nav .spotify-logo svg {
  height: 36px;
  width: 112px;
}

.container aside nav .menu {
  display: none;
}

.container header ul {
  display: none;
}

.container .main-content {
  padding: 0 12px;
}

.container .main-content .playlist-container .playlist__title {
  display: block;
  font-size: 30px;
  margin: 60px 0 15px 0;
  text-align: center;
}

.container .main-content .playlist-container .playlist__title a {
  display: none;
}

.container .main-content .playlist-container .playlist {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.container .main-content .playlist-container .playlist__item {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .main-content .playlist-container .playlist__item__image {
  background-color: peachpuff;
  height: 170px;
}

.container .main-content .playlist-container .playlist__item__title, .container .main-content .playlist-container .playlist__item__subtitle {
  display: none;
}

.container .main-content .playlist-container .playlist__item:nth-of-type(2) .playlist__item__image {
  background-color: blueviolet;
}

.container .main-content .playlist-container .playlist__item:nth-of-type(3) .playlist__item__image {
  background-color: cornflowerblue;
}

.container .main-content .playlist-container .playlist__item:nth-of-type(4) .playlist__item__image {
  background-color: crimson;
}

.container .main-content .playlist-container .playlist__item:nth-of-type(5) .playlist__item__image {
  background-color: mistyrose;
}

.container .main-content .playlist-container .playlist__item:nth-of-type(6) .playlist__item__image {
  background-color: mediumspringgreen;
}

.container .main-content .playlist-container .playlist__item:nth-of-type(7) .playlist__item__image {
  background-color: olive;
}

.container .main-content .playlist-container .playlist__item:nth-of-type(8) .playlist__item__image {
  background-color: slateblue;
}

.container .main-content .playlist-container--artists .playlist__item__subtitle {
  display: none;
}

.container .player {
  display: none;
}

@media all and (min-width: 768px) {
  .container .main-content .playlist-container .playlist__item {
    width: 25%;
  }
}

@media all and (min-width: 1200px) {
  body {
    background: linear-gradient(to right bottom, #336466, black), linear-gradient(transparent, black 70%);
    overflow: hidden;
  }
  .container {
    display: flex;
    height: calc(100vh - 90px);
    overflow-y: auto;
  }
  .container aside nav {
    color: white;
    padding-top: 24px;
    padding-bottom: 5px;
    width: 230px;
    background-color: rgba(0, 0, 0, 0.8);
    height: calc(100vh - 90px);
    flex-direction: column;
    flex: 1;
    display: flex;
  }
  .container aside nav .spotify-logo {
    display: block;
    padding: 0 0 18px 24px;
    width: auto;
    height: auto;
  }
  .container aside nav .spotify-logo svg {
    height: 40px;
    width: 131px;
  }
  .container aside nav .menu {
    display: flex;
    flex-direction: column;
  }
  .container aside nav .menu__item {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 24px;
    height: 40px;
  }
  .container aside nav .menu__item a {
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: linear;
    color: #b3b3b3;
  }
  .container aside nav .menu__item a:focus, .container aside nav .menu__item a:hover {
    color: white;
  }
  .container aside nav .menu__item a span {
    margin-left: 12px;
  }
  .container aside nav .menu__item--selected {
    position: relative;
  }
  .container aside nav .menu__item--selected::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 5px;
    width: 4px;
    background-color: #1ed760;
  }
  .container aside nav .menu__item--selected a {
    color: white;
  }
  .container .content {
    flex-grow: 1;
    padding: 0 32px;
    margin: 0 auto 90px;
    max-width: 1480px;
  }
  .container header ul {
    display: block;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  .container header ul li {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .015em;
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: .16em;
    color: #fff;
    opacity: .6;
    position: relative;
    margin: 10px;
    padding: 5px 10px;
    transition: opacity .2s linear;
  }
  .container header ul li:hover {
    cursor: pointer;
    opacity: 1;
  }
  .container header ul li.selected:before {
    content: "";
    height: 2px;
    background-color: #1ed760;
    width: 30px;
    position: absolute;
    display: block;
    left: 50%;
    bottom: 0;
    margin-left: -15px;
  }
  .container .main-content .playlist-container .playlist__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 36px;
    line-height: 44px;
    margin: 24px 0;
  }
  .container .main-content .playlist-container .playlist__title a {
    display: block;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    opacity: .6;
    text-decoration: none;
  }
  .container .main-content .playlist-container .playlist {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .container .main-content .playlist-container .playlist__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8px;
    width: auto;
  }
  .container .main-content .playlist-container .playlist__item__image {
    background-color: peachpuff;
    height: 170px;
    width: 220px;
  }
  .container .main-content .playlist-container .playlist__item__title {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin: 12px 0 4px 0;
    font-weight: normal;
    text-align: center;
  }
  .container .main-content .playlist-container .playlist__item__subtitle {
    display: block;
    opacity: .6;
  }
  .container .main-content .playlist-container--artists .playlist__item {
    width: 220px;
  }
  .container .main-content .playlist-container--artists .playlist__item__image {
    border-radius: 50%;
    width: auto;
    padding-top: 100%;
  }
  .container .main-content .playlist-container--artists .playlist__item__subtitle {
    display: none;
  }
  .container .player {
    background-color: #282828;
    border-top: 1px solid #000;
    position: fixed;
    bottom: 0;
    height: 90px;
    width: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
  }
  .container .player__artist {
    display: flex;
    width: 30%;
  }
  .container .player__artist .disco__icon {
    background-color: #4688d7;
    width: 60px;
    height: 60px;
  }
  .container .player__artist .song__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 14px;
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
  }
  .container .player__artist .song__name .artist__name {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
  }
  .container .player__controls {
    width: 40%;
  }
  .container .player__adds {
    width: 30%;
  }
}
/*# sourceMappingURL=styles.css.map */