@import '../../utils.sass'

.signup-container
    display: flex
    flex-direction: column
    height: 100vh
    justify-content: space-between
    
    &__header
        order: 1
        margin-top: 2rem
        align-self: center
        fontsize: $xlarge

    &__form
        order: 2
        width: 60%
        align-self: center
        display: flex
        flex-direction: column

        &-input
            display: flex

    &__link
        order: 3
        align-self: center
        font-size: $medium
        color: $secondary
        text-align: center
        cursor: pointer

    &__footer
        order: 4
        align-self: center
        margin-bottom: 2rem
        font-size: $xsmall
