@import '../../utils.sass'

.signup-container
    display: flex
    flex-direction: column
    height: 100vh
    justify-content: space-between
    
    &__header
        flex-shrink: 0
        padding-top: 3rem
        align-self: center
        font-size: $xlarge

    &__form
        width: 60%
        align-self: center
        display: flex
        flex-direction: column

        &-input
            display: flex

    &__link
        align-self: center
        font-size: $small
        color: $primary
        text-align: center
        cursor: pointer

    &__footer
        align-self: center
        margin-bottom: 2rem
        font-size: $xsmall
