@charset "utf-8"

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700')
@import url('https://fonts.googleapis.com/css?family=Karla')

// Set your brand colors
$pgreen: #5CDB95
$pblue: #05386B
$pdarkgreen: #379683
$plightgreen: #8EE4AF
$brown: #757763
$beige-light: #D0D1CD
$beige-lighter: #EDF5E1

// Update Bulma's global variables
$family-sans-serif: "Karla", sans-serif
$grey-dark: $brown
$grey-light: $beige-light
$primary: $pgreen
$secondary: $pblue
$link: $pblue

// Update some of Bulma's component variables
$body-background-color: $beige-lighter
$control-border-width: 2px
$input-border-color: transparent
$input-shadow: none

//menu
$menu-item-hover-background-color: $pdarkgreen

//table
$table-background-color: $beige-lighter
$table-cell-border: 1px solid $pblue

//button
$button-border-color: $pblue
$button-background-color: $pblue
$button-color: white
$button-hover-border-color: white
$button-hover-color: white

@import "../node_modules/bulma/sass/utilities/_all.sass"
@import "../node_modules/bulma/sass/base/_all.sass"
@import "../node_modules/bulma/sass/components/_all.sass"
@import "../node_modules/bulma/sass/elements/_all.sass"
@import "../node_modules/bulma/sass/grid/_all.sass"
@import "../node_modules/bulma/sass/layout/_all.sass"