.t-container
    margin: 8px
    border: 1px solid lightgrey
    border-radius: 2px
    display: flex
    flex-direction: column

.t-title
    padding: 8px

.t-tasks
    padding: 8px
    flex-grow: 1
    min-height: 10em

.t-task
    border: 1px solid lightgrey
    padding: 8px
    margin-bottom: 8px
    border-radius: 2px