
1{
    bottom: 500px;
    left: 250px;
    position: relative;
}


1{
    top: 150px;
    left: 200px;
    position: relative;
}


box2{
    top: 150px;
    left: 200px;
    position: relative;
}



1{
    height: 60.667;
    bottom: 520;
    position: relative;
    left: 250;
    font-size: 13px;
    width: 660px;

}
