@import '../Welcome/index.sass'

 .login 

    &__margins
    padding: 10% 20%

    &__box
        border: 2px black solid
        border: radius 0.5em
        background-color: rgba(215,215,215,0.8)
        background-
        display: flex
        flex-direction: column
        align-items: center

.flex
    display: flex
    align-items: center
    justify-content: center
