/* #box {
    background-color: yellow;
} */

div.box {
    background-color: yellow;
    /* margin: 20px; */
    margin-top: 20px;
}

div {
    background-color: cyan;
    border: 1px solid magenta;
    /* border-width: 1px;
    border-style: solid;
    border-color: yellow; */
    width: 100px;
    height: 100px;
    margin: 10px;
}