.user__products
    display: grid
    grid-template-columns: 1fr

@media (min-width: 768px)
    
    .user__products 
        grid-template-columns: 1fr 1fr


@media (min-width: 1000px)
    .user__products
        grid-template-columns: 1fr 1fr 1fr