.card {
    max-width: 30rem;
    margin-bottom: 1.5rem;
    transition: opacity 0.5s;
    opacity: 0;
}
.card__image-content {
    position: relative;
    display: block;
    cursor: pointer;
}
.card__favorite {
    transition: visibility 0s, opacity 0.2s linear;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    z-index: 10;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}
.card__image-content:hover .card__favorite {
    visibility: visible;
    opacity: 1;
}
.card__image {
    max-width: 100%;
    border-radius: 10px;
}
.card__title {
    margin: 10px 0px;
}
.card__title-link {
    color: #000000;
    text-decoration: none;
}
.card__platform {
    margin: 0px;
    font-size: 1.2rem;
    color: #cecece;
    font-weight: 400;
}
