.calendar
    border-style: solid
    border-width: 0.3em
    color: yellow

.dayNames
    display: grid
    grid-template-columns: repeat(7, 1fr)
    border-style: solid
    border-width: 0.1em

.name
    display: flex
    justify-content: center

.rightWay
    // display: grid
    // grid-template-columns: repeat(7, 1fr)
    // display: flex
    // flex-direction: column
    // color: red

.dayNumbers
    display: grid
    grid-template-columns: repeat(7, 1fr)

.oneDay
    display: flex
    justify-content: center

.selected
    color: red