/* Soft reset */

// Blocks

html,body,p,ol,ul,li,h1,h2,h3,h4,h5,h6,a
    margin: 0
    padding: 0

// Headings
h1,h2,h3,h4,h5,h6,a
    font-size: 100%
    font-weight: normal
    text-decoration: none

// List
ul
    list-style: none

// Form
button,input,select
    margin: 0

// Box sizing
html
    box-sizing: border-box