@import './_reset.sass'
@import './utils.sass'
    
/* Fonts */

@font-face 
    font-family: 'atc_overlookregular'
    src: url('./font/atcoverlook-regular-webfont.woff2') format('woff2')
    src: url('./font/atcoverlook-regular-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'atc_overlooklight'
    src: url('./font/atcoverlook-light-webfont.woff2') format('woff2')
    src: url('./font/atcoverlook-light-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

*
    // font-family: 'atc_overlookregular', 'Open Sans', Arial, sans-serif
    font-family: 'atc_overlooklight', 'Open Sans', Arial, sans-serif
   
html
    background-color: $white

body 
    min-height: 100%

#root
    height: 100%



