.quiz {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.1);
    
  &__figure {
    position: relative;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    float: left;

    &:hover a:after {
      opacity: 1;
    }

    &:hover .btn-likeit {
      opacity: 0.7;
    }

    &:hover .btn-favorite {
      opacity: 0.7;
    }

    & a {
      display: block;
      position: relative;
      overflow: hidden;
      z-index: 1;
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(33, 33, 33, 0.5);
        opacity: 0;
        z-index: 1;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &__image {
    max-width: 100%;
    display: flex;
  }

  &__info {
    position: relative;
    clear: both;
    flex: 1;
  }

  &__info-content {
    padding: 15px;
    display: grid;
    grid-template-rows: 1fr 30px;
    grid-template-columns: 100%;
    min-width: inherit;
    min-height: 100%;
  }

  &__title {
    margin: 0 0 10px 0;
    font-size: 0.875em;

    &-link {
      color: $black;
      text-decoration: none;
    }
  }

  &__stats {
      display: flex;
      justify-content: flex-end;

      & span {
          font-size: 0.825em;
          background: #ccc;
          border-radius: 2px;
          padding: 3px 5px;
          margin-left: 5px;

          &.purple {
              background-color: #8154EF;
              color: #fff;
          }
          &.red {
            background-color: #FF4E4E;
            color: #fff;
        }
      }
  }

  &__footer {
    position: relative;
    padding: 0;
    font-size: 0.625em;
    font-weight: 100;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0px;
      width: 100%;
      height: 1px;
      padding: 0 20px;
      background: #f4f7f6;
    }
  }

  &__author {
      font-weight: 400;
      text-decoration: none;
      color: $black;
  }
}
