body
    margin: 0em
    padding: 0em
    
    main
        background-color: #1CD760
        margin: 0em
        padding: 0em

        header
            //background-color: #1CD760
            padding: 1.5em
        
        .search
            //background-color: black
            //padding: 1em

            .search-input
                max-width: 50%


        .result
            margin: 0em
            padding: 0em
            background-color: black
            max-width: 100%


            .artistsList
                list-style-type: none
                padding: 0em
            
                .artists
                    padding: 0.5em
                    width: 7em
                    height: 7em
                    border-style: solid
                    border-color: grey
                    background-color: gray
                    color: white
                    margin: 1em
                    display: flex
                    flex-flow: row
                    justify-content: center
                    align-items: center