*{
    margin: 30px 30px;
    background-color: gainsboro;
}
h1 {
    font-size: 50px;
    color: green;
}
#n1, #n2{
    color:rgb(23, 105, 74);
    font-size: 30px;
    font-weight: bold;
}
#results{
    font-size: 20px;
    font-weight: bold;
}

#calculation{
    width: 250px;
    height: 45px;
    font-size: 30px;
    color:white;
    background-color: rgb(54, 54, 172);
}

#imatge{
    margin: 1px;
    height: 250px;
    width: 1200px;
    background-image: url(http://www.623spi.com/media/1036/calculin-sueldos.png);
}