.c_yourbooks
    height: 100vh
    background-size: cover
    background-repeat: no-repeat
    background-image: url('https://s3.amazonaws.com/thinkific/courses/course_card_image_000/173/3711503419111.original.jpg?1503419111')