<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <title>Document</title>
</head>

<body>
    <div class="section">
    <div class="select">
        <select>
            <option value="en">English</option>
            <option value="es">Español</option>
            <option value="ca">Català</option>
            <option value="ga">Galego</option>
        </select>
    </div>
    </div>
    <section class="section">
        <a class="button is-link" href="">Register</a> <span>or</span> <a class="button is-link" href="">Login</a>
    </section>

    <form class="section">
        <h2>Register</h2>

        <ul>
            <li><input class="input" type="text" name="name" placeholder="name"></li>
            <li><input class="input" type="text" name="surname" placeholder="surname"></li>
            <li><input class="input" type="text" name="email" placeholder="email"></li>
            <li><input class="input" type="password" name="password" placeholder="password"></li>
            <li><input class="input" type="password" name="confirmpassword" placeholder="repeat password"></li>
        </ul>

        <button class="button is-primary">Register</button>

        <p class="notification is-warning">Error!</p>
    </form>

    <form class="section">
        <h2>Login</h2>

        <ul>
            <li><input class="input" type="text" name="email" placeholder="email"></li>
            <li><input class="input" type="password" name="password" placeholder="password"></li>
        </ul>

        <button class="button is-primary">Login</button>

        <p class="notification is-warning">Error!</p>
    </form>

    <section class="section">
        User successfully registered, you can proceed to <a href="">Login</a>.
    </section>

    <main class="section">
        <h1>Hello, World!</h1>
        <form class="field is-grouped">
            <p class="control is-expanded">
                <input class="input" type="text" name="query">
            </p>
            <p class="control">
                <button class="button">Search</button>
            </p>
        </form>

        <ul></ul>
        
        <section>
            <h2></h2>
            <img src="">
            <p></p>
            <span></span>
        </section>
        
        <a class="button is-danger" href="">Logout</a>
    </main>

    <script src="scripts/errors.js"></script>
    <script src="scripts/validate.js"></script>

    <script src="scripts/components/component.js"></script>
    <script src="scripts/components/feedback.js"></script>
    <script src="scripts/components/language-selector.js"></script>
    <script src="scripts/components/landing.js"></script>
    <script src="scripts/components/register.js"></script>
    <script src="scripts/components/register-ok.js"></script>
    <script src="scripts/components/login.js"></script>
    <script src="scripts/components/search.js"></script>
    <script src="scripts/components/results.js"></script>
    <script src="scripts/components/detail.js"></script>
    <script src="scripts/components/home.js"></script>

    <script src="scripts/user-api/index.js"></script>
    <script src="scripts/duck-api/index.js"></script>
    <script src="scripts/logic/index.js"></script>
    <script src="scripts/i18n.js"></script>
    <script src="scripts/main.js"></script>
</body>

</html>