
*
    margin: 0
    padding:0    
//general
   
main
    background-color: #222326 //#000000
    
//header
.header
    display: grid
    padding: 30px 30px
    &__logo
        width: 30%
    &__button
        background-color: #1bcb5a
        color: white
        padding: 10px 28px
        border-radius: 20px
        border-color: #2a9e53

//start
.start
    color: #FFFFFF
    &__letter
    text-align: center



.container
    display: grid
    grid-template-columns: 1fr 1fr
    padding: 10px
    &__items
        background-color: #000000
        // font-size: 10px
        // text-align: center
    &__items>img
        width: 100%
        display: block
// moods

.footer
    