@import url('https://fonts.googleapis.com/css?family=Slabo+27px')

$color: brown
$back-color: lightblue
$font: Dokdo
$back-color-focus: royalblue
$border-color-focus: $back-color-focus
$color-focus: white

$alert-back-color: gold
$alert-color: darkkhaki
$alert-border-color: $alert-color

$confirm-back-color: tan
$confirm-color: tomato
$confirm-border-color: $confirm-color

// Breaking points Responsive design
    
$break-mobile: 740px
$break-tablet: 1200px

    
// Anular margenes y etc

p,h1,h2,h3,h4,h5
    margin: 0




// Auxiliar color
$aux-color: #DF7401
$title-colored: $aux-color


// Buttons
$button-color: $aux-color


// Font size and color

$tag-size: 12px