.login {
    background-color: #dedede;
    padding: 1em;
    border-style: solid;
    color: white;
}

.login__error {
    display: none;
    background-color: red;
    color: white;
}

.register {
    display: none;
    background-color: yellow;
    padding: 1em;
    border-style: solid;
    
}
.register__error {
    display: none;
    background-color: red;
    color: white;
}

.home {
    display: none;
    background-color: green;
    color: white;
}