.landing {
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100vh;
        z-index: 1;

        &:before {
            background: var(--yellow);
            border-bottom: 2px solid white;
            content: '';
            display: block;
            height: 200px;
            position: absolute;
            top: -55px;
            transform: skewY(-3deg);
            width: 100%;
            z-index: 1;
        }

        &:after {
            background: var(--yellow);
            border-top: 2px solid white;
            bottom: -40px;
            content: '';
            display: block;
            height: 290px;
            position: absolute;
            transform: skewY(-3deg);
            width: 100%;
            z-index: 1;
        }

        .main-section {
            height: 100vh;
        }

        .maps {
            position: absolute;
        }

        .header {
            h1 {
                margin: 24px 0 24px;
                padding: 0;
                position: relative;
                text-align: center;

                a {
                    color: white;
                    font-size: 50px;
                    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
                }

                .subtitle {
                    bottom: -20px;
                    border-top: 1px solid white;
                    color: white;
                    font-size: 16px;
                    left: calc(50% - 140px);
                    padding-top: 2px;
                    position: absolute;
                }
            }

            hr {
                display: none;
            }
        }

        .buttons {
            bottom: 60px;
            left: 0;
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%;
            z-index: 2;

            .separator {
                color: white;
                font-family: var(--font-lobster);
                font-size: 24px;
                font-weight: bold;
                line-height: 32px;
                text-align: center;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
            }

            .button  {
                color: var(--yellow-dark);
                font-weight: bold;
                background-color: white;
                padding: 8px 12px;
                border-radius: 8px;
                box-shadow: 2px 2px 0 rgba(0, 0, 0, .2);
                text-decoration: none;
                text-align: center;
                margin: 8px auto;
                max-width: 200px;
                width: 55%;
              }
        }
    }

    @media screen and (min-width: 768px) {
        &__content {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:before,
            &:after {
                display: none;
            }

            .main-section {
                background: var(--yellow);
                box-shadow: 0 3px 0 var(--yellow-dark);
                position: relative;
                width: 42%;
                max-width: 400px;
                height: 350px;
                z-index: 1;

                &:before,
                &:after {
                    content: ' ';
                    background-repeat: repeat-y;
                    height: 100%;
                    width: 20px;
                    display: block;
                    position: absolute;
                    top: 0;
                }

                // The Stripe - Left
                &:before {
                    background: -moz-linear-gradient(top, var(--yellow) 10px, rgba(0, 0, 0, 0) 10px),
                                -moz-linear-gradient(left, var(--yellow) 10px, rgba(0, 0, 0, 0) 10px),
                                -moz-linear-gradient(top, var(--yellow-dark) 13px, rgba(0, 0, 0, 0) 10px),
                                -moz-linear-gradient(left, var(--yellow-dark) 13px, rgba(0, 0, 0, 0) 10px);
                    background: -webkit-linear-gradient(top, var(--yellow) 10px, rgba(0, 0, 0, 0) 10px),
                                -webkit-linear-gradient(left, var(--yellow) 10px, rgba(0, 0, 0, 0) 10px),
                                -webkit-linear-gradient(top, var(--yellow-dark) 13px, rgba(0, 0, 0, 0) 10px),
                                -webkit-linear-gradient(left, var(--yellow-dark) 13px, rgba(0, 0, 0, 0) 10px);
                    background-size: 100% 20px;
                    left: -20px;
                }

                // The Stripe - Right
                &:after {
                    background: -moz-linear-gradient(top, var(--yellow) 10px, rgba(0, 0, 0, 0) 10px),
                                -moz-linear-gradient(right, var(--yellow) 10px, rgba(0, 0, 0, 0) 10px),
                                -moz-linear-gradient(top, var(--yellow-dark) 13px, rgba(0, 0, 0, 0) 10px),
                                -moz-linear-gradient(right, var(--yellow-dark) 13px, rgba(0, 0, 0, 0) 10px);
                    background: -webkit-linear-gradient(top, var(--yellow) 10px, rgba(0, 0, 0, 0) 10px),
                                -webkit-linear-gradient(right, var(--yellow) 10px, rgba(0, 0, 0, 0) 10px),
                                -webkit-linear-gradient(top, var(--yellow-dark) 13px, rgba(0, 0, 0, 0) 10px),
                                -webkit-linear-gradient(right, var(--yellow-dark) 13px, rgba(0, 0, 0, 0) 10px);
                    background-size: 100% 20px;
                    right: -20px;
                }

                .buttons {
                    bottom: 40px;
                }
            }

            .maps {
                position: absolute;

                &:before,
                &:after {
                    display: none;
                }

                .gmap_canvas {
                    iframe {
                        height: 100vh;
                        width: 100vw;
                    }
                }

            }
        }
    }
}