.uploadProduct
    margin-left: 0.4em
    margin-right: 0.4em 
    height: 100vh

    &__header
        display: flex

    &__title
        margin: 0 auto
        font-size: 1.5em
    
    &__logo
        font-size: 1.7em
        color: grey

.form
    // background-color: yellow

    &__inputrow
        display: flex
        flex-direction: column
        margin-top: 1em

    &__label--input
        color: lightgrey
        font-size: 1.2em
        margin-top: 0.8em

    &__input
        width: 100%
        border: 0
        font-size: 1.2em
        padding-top: 10px 
        border-bottom: 1px solid #f5ebeb
        border-bottom: 1px solid grey

    &__list
        display: flex
        list-style-type: none
        margin-top: 0.5em

    &__img
        margin-top: 2em

    &__btn
        position: absolute
        bottom: 10px
        width: 96%
        background-color: #ff9b71
        font-size: 1.3em
        padding: 10px
        border: none
        border-radius: 20px
        margin-top: 20px
        color: white
        

.form__label
    display: inline-block
    width: 100px
    height: 50px
    text-align: center
    border: 1px solid #ddd
    line-height: 50px
    cursor: pointer

