<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form>
        <h2>Sign Up</h2>

        <ul>
            <li><input type="text" name="name" id="name" placeholder="name"></li>
            <li><input type="text" name="surname" id="surname" placeholder="surname"></li>
            <li><input type="text" name="email" id="email" placeholder="email"></li>
            <li><input type="password" name="password" id="password" placeholder="password"></li>
        </ul>
        
        <button>Sign Up</button>
    </form>

    <script src="main.js"></script>
</body>

</html>