header
    margin-top: 0px
    height: 80px
    background-color: #313131
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center

    & img
        width: 130px
        padding-left: 10px

.fa-sign-out-alt
    color: #B9B9B9
    cursor: pointer
    padding-right: 10px