@import "../../styles/_index.scss";

div.teams {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

form.form_select {
    display: flex;
    justify-content: row;
    margin-top: $size-s;
}

div.select {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

div.team {
    display: flex;
    flex-direction: row;
}

div.buttons {
    text-align: right;
}