@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/grid/_all";

:root {
    --yellow: #ffd364;
    --yellow-dark: #ce9234;

    --greyed: #444;
    --intense-blue: #778bd9;
    --regular-blue: #a9c8f6;
    --sky-blue: #d8edf5;
    --clear-blue: #f0f6f7;

    --bg: var(--yellow);

    --font-montserrat: 'Montserrat', sans-serif;
    --font-lobster: 'Lobster', cursive;
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    * {
        font-family: var(--font-montserrat);
    }
}

.hidden {
    display: none;
}


.button  {
    color: var(--yellow-dark);
    font-weight: bold;
    background-color: white;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, .2);
    text-decoration: none;
    text-align: center;
    margin: 8px auto;
    width: 55%;
}