extends ../index

block content
    .head
        h1 Welcome to Ducks World
    section.panel
        a.isButton(href='/register') Register
        p or 
        a.isButton(href='/login') Login
        