.title

    margin: 1em


.box
    margin: 1em


.displayflexcart
    display: flex
    justify-content: space-around


.pricebuttons
    border: 1px black solid
    border-radius: 15px
    margin: 1em



.buttoncart
    color: black
    text-decoration: none
    width: 13em
    height: 5em
    
.notext
    text-decoration: none
    color: black


.buttons2
    display: flex
    margin: 1em


.totalPrice
    margin: 1em



.globalsection
    border: 1px black solid
    border-radius: 15px
    padding: 1em
    margin: 2em
    background-color: ghostwhite
