.cart-image{
    max-width: 50%;
}

.my-cart-title{
    display: flex;
    justify-content: center;
}

.total-price-card{
    width: 18rem;
}

.main-section-cart{
    display: flex;
}

.title-shopping-cart{
    position: absolute;
    top: 150px;
    animation: jump 0.5s 4s both ease, cartTitleImage 3s 1s both ease-out;

}

@keyframes cartTitleImage{
    0%{ transform: translateX(-800px)}
    100%{ transform: translateX(-120px)}
}

@keyframes jump{
    80%{ top: 80px }
    100%{ top: 100px}
}

.flying-cart-title {
    animation: cartTitle 4s;
}

@keyframes cartTitle{
    0%{ transform: translateX(800px) }
    70%{ transform: scale(1)}
    80%{ transform: translateX(0px) scale(1.5)}
    100%{ transform: translateX(0px)}
}