.container {
    max-width: 960px;
}

/*
   * Custom translucent site header
   */

.first-main-buttons{
    color: lightgrey;
}

.site-header {
    /* background-color: rgba(129, 61, 61, 0.85); */
    background: linear-gradient(to left, rgb(121, 27, 105), rgb(34, 8, 44));
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    color: lightgrey;
}

.site-header a {
    height: 45px;
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.landing-main-title{
    font-family: Apple Chancery;
    /* font-family: Chalkduster; */
    animation: blinker 5s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0.7;
    }
  }

/*
Home page CSS
*/

/* .fas {
    color: red;
} */

.first-main{
    background: linear-gradient(-40deg, #9824af49, #5c1b535e, transparent), url('/images/microphone.jpg');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    margin: 0px !important;
    color: white;
    max-height: 400px;
    
}