
body::-webkit-scrollbar,
    .DetailPanel-otherInfo__moves::-webkit-scrollbar
        width: 0.5em
        height: 0.4em


body::-webkit-scrollbar-thumb,
    .DetailPanel-otherInfo__moves::-webkit-scrollbar-thumb,

        background-color: rgba(0,0,0,0.2)


.DetailPanel-otherInfo__moves
  scrollbar-arrow-color: #009688
  scrollbar-face-color: #eeeeee
  scrollbar-highlight-color: #eeeeee
  scrollbar-shadow-color: #dddddd
    
.DetailPanelContainer
    display: block
    align-items: center
    justify-content: 
    align-content: center   
    justify-items: center
    flex-flow: column wrap
    width: 80%
    height: 100%
    margin-left: 20% 
    background-image: url('http://pngimg.com/uploads/pokeball/pokeball_PNG8.png')
    background-size: contain
    background-repeat: no-repeat
    background-position: center

    .img
        margin-top: 0 
        width: 150px



    ul
        padding: 0
        margin-right: 0
        list-style: none

.DetailPanel
    display: flex
    justify-content: space-between
    width: 100%

    span
        color: red


    &__backButton
        margin-top: 10px 
        height: 40px
    button
        display: inline-block
        cursor: pointer

    .button
        width: 10px


    
    &-mainInfo
        border: 10px solid blue
        height: 550px
        width: 500px
        margin-top: 10rem 
        margin-left: 1rem
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 16px 16px 5px rgba(0, 0, 0, 0.19)
        border-radius: 1.2rem
        border: 5px solid #3B3B3B
        background-color: white
        




        &__backButton
            position: relative
            left: 0
        h2
            background-color: #FF0032
            border-top-left-radius: .7rem
            border-top-right-radius: .7rem
            color: white
        


    &-otherInfo
        border: 10px solid green
        width: 700px
        height: 550px
        margin-top: 10rem
        margin-right: 10rem
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 16px 16px 5px rgba(0, 0, 0, 0.19)
        border-radius: 1.2rem
        border: 5px solid #3B3B3B
        background-color: white
       
        ul
            display: flex
            justify-content: center


        &__buttons
            margin-bottom: 1rem
            background-color: #FF0032
            border-top-left-radius: .7rem
            border-top-right-radius: .7rem

            &-button
                border-radius: .5rem
                border-top-left-radius: 0rem
                border-top-right-radius: 0rem
                background-color: #EE5450
                color: white
                border: 0px solid #EE5450
            

        &__moves
            ul
                display: flex
                flex-flow: row wrap
                height: 400px
                width: 100%
                overflow: scroll
                overflow-x: hidden
                
.type
    display: flex
    align-content: center
    justify-content: center
    align-items: center
    cursor: default
    width: 100px
    height: 50px
    color: white
    background-color: black
    margin: 10px
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 2px rgba(0, 0, 0, 0.19)
    border-radius: 1.2rem
    &-bug
        background-color: #A8B820
    &-dragon
        background-color: #7038F8
    &-ice
        background-color: #98D8D8
    &-fighting
        background-color: #C03028
    &-fire
        background-color: #F08030
    &-flying
        background-color: #A890F0
    &-grass
        background-color: #78C850
    &-ghost
        background-color: #705898
    &-ground
        background-color: #E0C068
    &-electric
        background-color: #F8D030
    &-normal
        background-color: #A8A878
    &-poison
        background-color: #A040A0
    &-psychic
        background-color: #F85888
    &-rock
        background-color: #B8A038
    &-water
        background-color: #6890F0
    
.ability
    display: flex
    align-content: center
    justify-content: center
    align-items: center
    cursor: default
    width: 100px
    height: 50px
    color: white
    background-color: red
    margin: 10px
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 2px rgba(0, 0, 0, 0.19)
    border-radius: 1.2rem

.move
    display: flex
    flex-flow: column nowrap
    align-content: center
    justify-content: center
    align-items: center
    cursor: default
    width: 100px
    height: 50px
    color: white
    background-color: red
    margin: 10px
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 2px rgba(0, 0, 0, 0.19)
    border-radius: 1.2rem

.item
    display: flex
    flex-flow: column nowrap
    align-content: center
    justify-content: center
    align-items: center
    cursor: default
    width: 100px
    height: 50px
    color: white
    background-color: red
    margin: 10px
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 2px rgba(0, 0, 0, 0.19)
    border-radius: 1.2rem
    


.DetailPanel-otherInfo__buttons-button-selected
    background-color: white
    border: 0px solid white
    border-radius: .1rem
    border-top-left-radius: 0rem
    border-top-right-radius: 0rem
