
section
    display: block
    align-items: center
    justify-content: 
    align-content: center   
    justify-items: center
    flex-flow: column wrap
    width: 80%
    height: 100%
   
    margin-left: 20% 
.img
    margin-top: 0 
    width: 150px



ul
    padding: 0
    margin-right: 0
    list-style: none

.DetailPanel
    display: flex
    justify-content: space-between

    
    border: 10px solid red
    .DetailPanel-mainInfo
        border: 10px solid blue
        height: 550px
        width: 500px
        margin-top: 10rem 
        margin-left: 1rem

        


    .DetailPanel-otherInfo
        border: 10px solid green
        width: 700px
        margin-top: 10rem
        margin-right: 10rem
