.header {
    .columns {
        margin: 0 0 24px 0;
    }

    h1 {
        color: var(--yellow);
        font-family: var(--font-lobster);
        font-size: 50px;
        margin: 24px 0 24px;
        padding: 0;
        position: relative;
        text-align: center;
        z-index: 1;

        .subtitle {
            bottom: -20px;
            border-top: 1px solid var(--yellow-dark);
            color: var(--yellow-dark);
            display: block;
            font-size: 16px;
            left: calc(50% - 140px);
            letter-spacing: -0.5px;
            padding-top: 2px;
            position: absolute;
        }
    }
}