@import url('https://fonts.googleapis.com/css?family=PT+Sans')

html, body, header, main, section, footer
    margin: 0
    box-sizing: border-box
    width: 100%
    font-family: 'PT Sans'
    color: #333333

h1, h2, h3, h4, h5, h6, p 
    margin: 0

.menu
    display: flex
    justify-content: space-between
    align-content: center
    padding: 1rem

    &__title
        font-size: 1rem
        color: #1baa98

    &__button
        display: flex
        align-items: center

main 
    display: flex
    flex-direction: column

.ad
    background-color: #1B222A
    display: flex
    flex-direction: column

    &__title
        display: flex
        justify-content: center

    
    &__title-white
        color: #ffffff
        text-align: center
        padding-top: 1rem
    
    &__title-green
        color: #1baa98

    &__body
        color: white
        text-align: center
        padding: 1.5rem
        font-size: 1rem
    & img 
        width: 65%
        align-self: center
        padding-bottom: 1rem

.card
    background-color: #ffffff
    display: flex
    flex-direction: column
    padding: 0.2rem

    & img 
        width: 80%
        align-self: center
        padding: 1.5rem
        border: 0.01rem solid #DBDBD9
        margin-top: 0.4rem
    
    & h3
        text-align: left
        padding: 0.4rem

    & p
        text-align: left
        padding: 0.4rem
    
    & button
        border: 0.01rem solid #DBDBD9
        background-color: white
        width: 25%
        padding: 0.4rem
        margin-left: 0.4rem

.ad2
    background-color: #1baa98
    display: flex
    flex-direction: column
    padding: 0.2rem
    margin-top: 1rem

    & h3
        color: #ffffff
        text-align: left
        padding-top: 1rem
        padding-left: 1.5rem

    & ul 
        color: white
        padding-left: 1.5rem
        list-style: none
    
    & ul li:before
       content: '✓ '
       line-height: 30px

    & img 
        width: 60%
        align-self: right
        padding: 1.5rem
        margin-bottom: 0.5rem
    
.footer
    background-color: #1B222A
    display: flex
    flex-direction: column
    padding: 0.4rem
    color: white
    font-size: 0.5rem
    text-align: center
    height: 2rem

    



 




