.no__appointments
    margin-top: 3rem
    border: 0.1rem solid black
    border-radius: 0.3rem
    width: 33rem
    padding: 1.3rem
    font-size: 1.2rem
    color: black
    background-color: #7d7b7b

@media (max-width: 570px)
    .no__appointments
        width: 24rem
    