.dateInputHack[type="date"]:before 
    content: attr(placeholder) !important

.dateInputHack[type="date"]:focus:before,
.dateInputHack[type="date"]:valid:before 
    content: "Start Date: " !important

  
.dateInputHack1[type="date"]:before 
    content: attr(placeholder) !important

.dateInputHack1[type="date"]:focus:before,
.dateInputHack1[type="date"]:valid:before 
    content: "End Date: " !important


.searchPanel
    background-color: rgba(0, 0, 0, 0.75)
    padding: 1em 1em 2em 1em
    border-top-left-radius: 5px
    border-top-right-radius: 5px

    margin-top: 2.5em    