.cardContainer
    display: flex
    justify-content: space-around
    width: 100%
    flex-wrap: wrap
    background-color: rgba(86, 95, 173, 0.5)

    &__Artist
        width: 20%
        position: relative
        cursor: pointer

        &:focus
            border: 50px solid black

        img
            width: 100%
        h3
            color: black
            font-size: 1rem