@import './utils.sass'

//font to use

@import url('https://fonts.googleapis.com/css?family=Noto+Sans')

// general styling

body
    margin: 0
    padding: 0
    font-family: font-family: 'Noto Sans', sans-serif
