.previewImage
    width: 300px

.images-uploader
    display: flex
    flex-flow: column wrap
    align-items: center
    &-buttons
        margin-top: 10px
        &__button 
            margin: 5px
.createHouse
    text-transform: capitalize
    width: 50%
    margin-left: 25%
    margin-right:  25%
    &-house-form
        display: flex
        flex-flow: column wrap
        align-items: center
        &__input
            width: 300px
            margin-bottom: 20px
            &-description
                width: 300px
                height: 300px
        &__select
            width: 300px
            margin-bottom: 20px
        &__section
            margin-bottom: 20px 
        
    