@import '../../utils.sass'

.skylaber
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    height: 93vh

    @include desktop
        height: 100vh
    
    &-header
        flex-shrink: 0
        padding-top: 2rem
        font-size: $xlarge
        align-self: center
        text-align: center

        @include tablet
            padding-top: 4rem
            font-size: $xlarge--tablet

    &-container
        flex-grow: 1
        overflow: auto
        padding-top: 1rem
        display: flex
        flex-direction: column
        margin-bottom: 0.5rem

    
    &-personalInformation-container
        flex-shrink: 0
        display: flex
        flex-direction: row
        justify-content: space-evenly
        width: 100%
        margin-bottom: 1rem

        &__name
            text-align: center
            align-items: center
            justify-items: center
            display: flex
            justify-content: center
            flex-shrink: 0

            & > h4 
                font-size: $large

                @include tablet
                    font-size: $large--tablet

        &__image
            display: flex
            flex-direction: column
            align-items: center

            @include tablet
                    font-size: $xsmall--tablet

            & > img
                width: 4rem
                height: 5rem 

                @include tablet
                    width: 8rem
                    height: 10rem 

    &-data-container
        margin-left: 2rem
        margin-right: 2rem
        flex-shrink: 0
        margin-bottom: 0.5rem
        padding-bottom: 0.2rem
        padding-left: 1rem
        padding-right: 1rem

        @extend %border

        @include tablet
            margin-left: 10rem
            margin-right: 10rem

        @include desktop
                margin-left: 20rem
                margin-right: 20rem

        &__header
            display: flex
            font-size: $large

            @include tablet
                font-size: $large--tablet

        &__content
            display: flex
            flex-direction: column
            font-size: $medium

            @include tablet
                font-size: $medium--tablet
        


