extends ../layout

block content
    section.uk-container.uk-text-center.uk-margin-top
        h2.uk-heading-bullet Registration confirmation
        p User #{email} has been successfully registered, please proceed to 
            a(href='/login' class='uk-link-heading') Log In