.otherProfile
    display: block /* Hidden by default */
    position: fixed /* Stay in place */
    z-index: 1 /* Sit on top */
    padding-top: 90px /* Location of the box */
    left: 0
    top: 0
    width: 100% /* Full width */
    height: 100% /* Full height */
    overflow: auto /* Enable scroll if needed */
    background-color: rgb(0,0,0) /* Fallback color */
    background-color: rgba(0,0,0,0.4) /* Black w/ opacity */

    .profile
        max-width: 92%
        display: flex
        flex-direction: column
        padding-top: 0
        margin: auto
        margin-bottom: 7em

        input.profile__content--name
            background-color: transparent
            border: none
            color: white
            font-size: 22px
            padding-left: 2em

        input.profile__content--company
            background: transparent
            border: none
            color: #FFA345
            font-size: 20px
            padding-left: 2em
            padding-bottom: 1em


        .profile__content
            display: flex
            flex-direction: column
            margin: 0 auto
            justify-content: space-around
            margin-bottom: 1em

            &--form
                display: flex
                flex-direction: column
                justify-content: space-around
                background-color: #40676E

                &--userImage
                    border-radius: 100%
                    height: 8em
                    width: 10em
                    margin: 0 auto
                    padding-top: 0

                &--inputs
                    color: white
                    display: flex
                    flex-direction: column

.fas.fa-window-close
    padding-top: 0.3em
    color: white
    cursor: pointer

div.profile__form--item
    display: flex
    flex-direction: column

    .profile__info
        display: flex
        flex-direction: column
        justify-content: space-between
        background-color: #71A596


    .profile__form
        min-width: 90%
        display: flex
        flex-direction: column
        justify-content: space-between
        align-self: center
        padding-left: 2em
        margin-top: 0

        &--info
            width: 90%
            border: none
            margin-bottom: 1em
            height: 2em
            background: transparent
            border-bottom: 1px solid #40676E

    .profile__button
        display: flex
        flex-direction: column
        justify-content: space-between
        align-self: center
        

    .edit
        margin: 0 auto
        margin-top: 1em
        border-radius: 5px
        width: 10em
        height: 2em
        border: none
        color: #fff
        font-size: 15px
        cursor: pointer
        background-color: #408E61
        border: 1px solid #40676E
        font-weight: 600
        font-family: 'Ubuntu', sans-serif

    .save
        margin: 0 auto
        margin-top: 1em
        border-radius: 5px
        width: 10em
        height: 2em
        border: none
        color: #fff
        font-size: 15px
        cursor: pointer
        background-color: #408E61
        font-weight: 600
        font-family: 'Ubuntu', sans-serif
        margin-bottom: 1em
        border: 1px solid #40676E

    .upload_image
        margin: auto
        color: white

@media (min-width: 700px)
    
    .otherProfile
        
        .profile
            max-width: 70%

            .profile__content
                min-width: 50%

                input.profile__content--name
                    font-size: 24px
                    padding-left: 6em

                input.profile__content--company
                    padding-left: 7em

@media (min-width: 1000px)
    
    .otherProfile
        
        .profile
            max-width: 40%
