.bodycontainer
    display: flex
    flex-direction: row
    width: 100vw
    
.coverright
    margin-top: 2%

.sidenav
    height: 5%
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-around
    align-content: center
    background-color: #1cb3c8
    z-index: 1
    top: 0
    left: 0
    overflow-x: hidden
    overflow-wrap: 
    padding-top: 2px
    padding-bottom: 2px
    &__icon
        display: none
    li
        a
            text-decoration: none
            font-size: 1rem
            display: flex
            justify-content: center
            align-self: center
            align-items: center
            align-content: center
            font-weight: bold
            color: white !important
            display: block
            &:hover
                color: black !important
    .fas, .far
        color: #f1f1f1

@media screen and (max-width: 800px)
    .sidenav__text
        display: none
        visibility: hidden
        height: 7%
    .sidenav
        display: flex
        align-items: center
        align-content: center
        align-self: center
        &__icon
            display: block   
            margin-right: 2% 

