.bodycontainer
    display: flex
    flex-direction: row
    width: 100vw
    
.coverright
    margin-top: 5%

.sidenav
    height: 5%
    width: 100%
    display: flex
    position: fixed
    flex-direction: row
    justify-content: space-around
    align-content: center
    z-index: 1
    top: 0
    left: 0
    background-color: black
    overflow-x: hidden
    overflow-wrap: 
    padding-top: 2px
    padding-bottom: 2px
    &__icon
        display: none
    a
        text-decoration: none
        font-size: 1rem
        display: flex
        justify-content: center
        align-self: center
        font-weight: bold
        color: white !important
        display: block
        &:hover
           color: black !important

    .fas, .far
        color: #f1f1f1

    

