@import '../panel'

.results-test
    font-size: 12px
    &__fails
        &__item
            list-style: none
            font-size: 1rem
            display: flex
            & i 
                margin-right: 11px
                color: tomato