$red: #de0000;
$spacing: 30px;

main {
  & > section {
    border: 2px solid $red;
    border-radius: $spacing;
    margin: #{$spacing/2} auto;
    padding: $spacing;
    width: 600px;

    &:nth-of-type(2) {
      * {
        pointer-events: none;
      }
    }
  }
}
