*
    font-family: 'PT Sans', serif
    
    
.headerprincipal
    background-color: white
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    
    .headerprincipal__title
        color: #42f49e
    
    .headerprincipal__burger

        .menudesplegableburger a
            visibility: hidden
            display: none

        .imageburger
            visibility: visible
            width: 50px
            height: 50px
            justify-content: flex-end

.subheader
    background-color: #42f49e
    height: 100px
    display: flex
    align-items: center

    .subheader__title
        color: white

main
    display: flex
    flex-direction: column

    > img
        border: 1px solid grey

    div
        margin-bottom: 1em
    
    .maincontent1
        width: 100%

    .maincontent1__collapsible
        border: 1px solid grey
        color: black
        border-radius: 0.25em

        .maincontent1__collapsible__p
            padding: 3em

    .maincontent1__button
        display: flex
        justify-content: flex-start
        width: 100%
        background-color: #ebebe0
        font-size: 1em
        border-radius: 0.25em

    .maincontent1__GammaFeatures
        background-color: #42f49e
        color: white

        h1
            margin-left: 0.75em
        ul
            list-style: none
            
            li:before
                content: '✓ '

        img
            margin-left: 1.5em

.footer1
    background-color: black
    color: white
    display: block

    div
        display: flex
        flex-direction: row
        width: 100%
        justify-content: center

        h5
            margin: 1em

            a
                color: white


//a partir de aqui 900 px.

@media screen and (min-width: 900px)


    .headerprincipal   
        display: flex
        justify-content: flex-start
        align-items: center
        padding-left: 10%
        padding-right: 10%

        .headerprincipal__burger

            .menudesplegableburger
                justify-content: flex-start

            .menudesplegableburger a
                visibility: visible
                display: inline
                color: black
                margin: 1em
                font-size: 1.2em
                text-decoration: none

                
            .imageburger
                visibility: hidden
                display: none

    .subheader
        .subheader__title
            padding-left: 10%
            padding-right: 10%

    main 
        .maincontent1
            margin-left: 10%
            margin-right: 10%
        
    main 
        .maincontent1__collapsible
            margin-left: 10%
            margin-right: 10%
    
    main
        img 
            margin-left: 10%
            margin-right: 10%

        .maincontent1__GammaFeatures
            padding-left: 5%
            padding-right: 5%

    .footer1
        font-size: 2em

    
//a partir de aqui 1100 px.

@media screen and (min-width: 1100px)      


    main
        display: grid
        grid-template-columns: 40% 40%
        grid-template-rows: auto auto


        div
            margin-left: 0%
            margin-left: 0%
            


            



        
