body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: Cornsilk;
}

h1 {
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
}

section div {
    background: rgb(250, 128, 114);
    border-radius: 20px;
    width: 120px;
    height: 120px;
    padding: 20px;
    display: flex;
    margin: 20px;
}

span {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: Cornsilk;
    box-shadow: inset 5px -2px 5px rgba(250, 128, 114, .5), 1px 0 2px 1px rgba(0, 0, 0, .1);
}

.face-1 {
    justify-content: center;
    align-items: center;
}

.face-2 {
    justify-content: space-between;
}
.face-2 span:nth-child(2) {
    align-self: flex-end;
}

footer {
    padding-top: 3em;
    text-align: center;
}
