.header {
  h1 {
      font-family: 'Great Vibes';
      font-size: 5em;
      text-align: center;
      color: white;
      text-shadow: 0 3px 3px rgba(0,0,0,.8);
  }

  hr {
      height: 1px;
  }
}