.searchVideoList
    position: absolute 
    margin-top: 4em
    padding: 0.5em
    padding-left: 0.5em
    padding-right: 0.5em
    max-width: 100%

.videoResults
    display: flex
    flex-flow: row
    padding: 0.5em  
    max-width: 100%

// .resultsThumbnail
//     height: 50%
//     width: 70%
    

.searchResultsText
    margin-left: 1em

.videoSearchTitle
    color: white
    font-weight: bolder
    font-size: 1.2em

.searchChannelTitle
    color: #a5aaaa

.searchDes
    display: none
    color: #a5aaaa



@media (min-width: 768px)
    .searchVideoList
        padding: 2em
        padding-left: 4em
        padding-right: 4em

    .searchDes
        display: block

    .resultsThumbnail
        height: 35%
        width: 20%
