.calendar__day {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 50%;
  padding: 0.5rem;
  text-align: center;
}

.calendar__header {
  width: 2.5rem;
  height: 2rem;
  background-color: rgba(0,0,0,0.1);
  border:  1px solid rgba(0,0,0,0.6);
  border-radius: 4px;
  text-align: center;
  padding: 0.3rem;
}

.calendar__week {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
}