@import '../panel'

.login
    @extend %panel
    &__form
        max-width: 520px
        & input
            margin-bottom: 1em
        & button.is-link
            max-width: 120px
            background-color: #0791d0