.home
    background-image: url("../images/vegetable.jpg")
    -webkit-transform:rotate(180deg)
    -moz-transform:rotate(180deg)
    transform: rotate (180deg)
    background-repeat: no-repeat
    background-position: center
    background-attachment: fixed
    background-size: cover
    height: auto

@media only screen and (max-width: 600px) 
    .home
        height: 170%