html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "sidebar view" "footer footer";
  -ms-grid-columns: 1.2fr 3.8fr;
      grid-template-columns: 1.2fr 3.8fr;
  -ms-grid-rows: 1fr 8%;
      grid-template-rows: 1fr 8%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#414e58), to(black)), -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, black));
  background-image: linear-gradient(to right bottom, #414e58, black), linear-gradient(transparent, black 70%);
}

.main-container__sidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sidebar;
  background-color: rgba(0, 0, 0, 0.8);
  color: #b3b3b3;
  border-right: 1px solid #000;
}

.main-container__view {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: view;
}

.main-container__footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background-color: #282828;
  border-top: 1px solid #000;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
  padding: 1em 0 1em 1em;
}

.logo {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #fff;
}

.logo__icon {
  font-size: 1.5em;
}

.logo__name {
  font-size: 1em;
  padding-left: .5em;
}

.nav-items {
  list-style-type: none;
  color: #b3b3b3;
  margin-top: 1em;
}

.item {
  margin: 1em 0;
}

.item__link {
  text-decoration: none;
  color: #b3b3b3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: .75em;
}

.link__name {
  padding-left: .25em;
}

.link__name--see-in-mobile {
  display: none;
}

.link__icon--small {
  font-size: 2.25em;
}

.item__link--selected {
  padding: .5em;
  color: #fff;
  border-left: 0.3em solid #1db954;
}

.item__link:hover {
  color: #fff;
}

.user-info {
  padding-top: 1em;
  border-top: 0.5px solid #b3b3b3;
}

.user-info__link {
  color: #fff;
}

.play-controls {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.play-controls__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.controls__control {
  color: #b3b3b3;
  font-size: 1em;
  margin: .5em;
}

.play-controls__play {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.5px solid #b3b3b3;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  margin: .5em 1em .5em 1em;
}

.play-controls__play:hover {
  border: 0.5px solid #fff;
}

.play-controls__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: .5em;
  color: #b3b3b3;
}

.progress__bar {
  width: 25%;
  height: 4px;
  margin: .5rem;
  border-radius: 2px;
  background-color: #b3b3b3;
}

.progress__current {
  color: #b3b3b3;
}

.main-container__view {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main-container__view-nav-items {
  width: 90%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 1em;
}

.main-container__view-nav-items-item {
  list-style-type: none;
  padding-top: 0.5em;
}

.main-container__view-nav-items-item-link {
  text-decoration: none;
  font-weight: bold;
  color: #b3b3b3;
  font-size: .5em;
  padding: 1.5em;
}

.main-container__view-nav-items-item-link:hover {
  color: #fff;
}

.main-container__view-nav-items-item-link--selected {
  padding: .5em;
  color: #fff;
  border-bottom: 0.3em solid #1db954;
}

.view__grid {
  margin: 1em;
}

.grid-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid-container__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container-header__title {
  color: #fff;
  font-size: 1.25em;
  font-weight: bold;
  padding: 1.5em .5em;
}

.see-more {
  font-weight: normal;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.grid-container__grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: .5em;
}

.grid-item__title {
  color: #b3b3b3;
  font-size: .5em;
  padding: .5em 1em;
}

.grid-item__cover {
  width: 7em;
  height: 7em;
}

.item1 {
  background-color: #6F57C7;
}

.item2 {
  background-color: #3B9CB0;
}

.item3 {
  background-color: #244D6B;
}

.item4 {
  background-color: #6ACD8D;
}

.item5 {
  background-color: #D9A7E2;
}

.item6 {
  background-color: #4F68C4;
}

.item7 {
  background-color: #2B6C82;
}

.item8 {
  background-color: #88CCD7;
}

.item9 {
  background-color: #CF766E;
}

.item10 {
  background-color: #66CCA3;
}

.item11 {
  background-color: #C7CD6A;
}

.item12 {
  background-color: #D9968C;
}

.item13 {
  background-color: #CDCEEE;
}

.item14 {
  background-color: #6A81CD;
}

.grid__item--see-in-tablet {
  display: none;
}

.grid__item--see-in-laptop {
  display: none;
}

@media only screen and (min-device-width: 720px) {
  body {
    font-size: 20px;
  }
  .link__name--see-in-mobile {
    display: block;
  }
}

@media only screen and (min-device-width: 768px) {
  body {
    font-size: 20px;
  }
  .link__icon--small {
    font-size: 1em;
  }
}

@media only screen and (min-device-width: 990px) {
  body {
    font-size: 22px;
  }
  .link__name--see-in-mobile {
    display: block;
  }
  .link__icon--small {
    font-size: 1em;
  }
  .grid__item--see-in-tablet {
    display: block;
  }
}

@media only screen and (min-device-width: 1200px) {
  body {
    font-size: 18px;
  }
  .link__name--see-in-mobile {
    display: block;
  }
  .link__icon--small {
    font-size: 1em;
  }
  .grid__item--see-in-tablet {
    display: block;
  }
  .grid__item--see-in-laptop {
    display: block;
  }
  .view-nav__items {
    margin: .25em;
  }
  .view__grid {
    margin: .5em 1em;
  }
  .grid-container-header__title {
    padding: .5em .5em;
  }
  .main-container {
    -ms-grid-rows: 1fr 10%;
        grid-template-rows: 1fr 10%;
  }
}
/*# sourceMappingURL=index.css.map */