extends ../layout

block content
  section.welcome.landing
      h1.display-1 SputnikFy
      h2.display-5.text-center The Skylab coders academy version of Spotify
      div.row.mt-3
        a(href='/login' class='btn btn-info col-6') Login
        div.col-6
          a(href='/register' class='btn btn-outline-dark ml-2') Register