@import ../../components/config.sass

.g-Landing
    width: 100vw
    height: 800px
    background-color: $back
    display: flex
    flex-direction: column
    justify-content: center

    &__logo
        display: flex
        justify-content: center

        & img
            color: red
        
    &__button
        display: flex
        justify-content: center

        & a
            height: 75px
            width: 75px
            border-radius: 50%

.aux-color
    background-color: $color-aux





