.section3 {

    padding: 20px 0;
    max-width: 600px;
    margin: 1% auto;
    border: 1px solid black;
    border-radius: 5px;
}

.productImage{
    margin: 1%;
    padding: 1%;
}

.productName{
    margin: 1%;
	padding: 1%;
}

.productPrice{
    margin: 1%;
	padding: 1%;
}

.productDescription{
    margin: 1%;
	border: 1px solid black;
	border-radius: 5px;
	background-color: whitesmoke;
	padding: 1%;
}

.button {
    
    border: none;
    color: black;
    padding: 2% 8%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 5px;

  }