@import '../panel.sass'

.itemlist
    @extend %panel
    &__header
        margin-bottom: 3em
        display: flex
        justify-content: space-between
        &__title
            padding: 0.8em 0 
    & button
        margin-top: 1em
        &__new
            margin-right: 0
            margin-top: 26px
    &-item
        background-color: #f5f5f5