@import "../../styles/_index.scss";

li.player {
  margin-bottom: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

div.player_details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

h6.player_name {
    padding-right: 5em;
}