* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 700px;
    width: 1200px;
    background-color: #0198f9;
}

#title {
    margin: 40px 0px 40px 80px;
    width: 550px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    border: 2px solid blue;
    line-height: 40px;
    background-color: rgb(195, 209, 236);
    padding: 0;
    float: left;
    display: block;
}

.letras {
    margin-left: 80px;
    color: white;
    width: 550px;
    height: 500px;
    display: block;
    position: relative;
    float: left;
}

h2 {
    width: 70px;
    height: 70px;
    background-color: blue;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    margin: 20px 10px;
    border: 2px solid rgb(7, 26, 131);
}
#aa, #bb, #cc, #dd, #ee, #ff, #gg, #hh, #ii, #jj, #ll, #mm, #nn, #ññ, #oo, #pp, #qq, #rr, #ss, #tt, #uu, #vv, #xx, #yy, #zz {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 20px 30px;
}
#tituloDesc {
    text-decoration-line: underline;
}

.descripcion {
    margin-top: 45px;
    width: 500px;
    height: 300px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.descripcion #explicacion {
    font-size: 18px;
    text-align: justify;
    font-weight: 400;
}
#descripcion img {
    position: relative;
    opacity: 0.3;
}

img {
    position: relative;
    opacity: 0.1;
    height: 660px;
}

#jugarya {
    position: relative;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}
button {
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 195px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(247, 200, 113);
}

div #preguntas {
    float: right;
    width: 500px;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: antiquewhite;
    border: 2px solid blue;
    line-height: 40px;
    color: rgb(35, 35, 116);
    font-weight: bold;
    padding: 10px 10px;
}

div #respuesta {
    margin-top: 480px;
    margin-left: 70px;
    float: right;
    width: 500px;
    height: 60px;
    line-height: 30px;
    font-size: 20px;
    position: absolute;

}

#vuelta {
    margin-top: 550px;
    margin-left: 150px;
    position: absolute;
}

#ranking {
    margin-top: 550px;
    margin-left: 470px;
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: rgb(22, 22, 189);
    color: white;
    font-size: 18px;
    border: 2px solid rgb(10, 10, 97);
}

#timer {
    width: 180px;
    height: 80px;
    float: right;
    position: absolute;
    margin-top:610px;
    margin-left: 1020px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid blue;
    padding: 10px 10px;
    background-color: orange;
}
#timer #timer1 {
    text-align: center;
    font-size: 26px;
    line-height: 40px;
}