@import ../../utils

.search
    background-color: #000
    &__query 
        width: 100%
        background-color: #000
        color: #fff
        padding: 15px 0px
        border: 0px
        font-size: 2.197em
        outline: none
        &:focus
            background-color: #000