.banner {
  background-image: -webkit-gradient(linear, left top, right top, from(#af2896), to(#509bf5));
  background-image: linear-gradient(90deg, #af2896, #509bf5);
  color: white;
  padding: 11px 24px 7px 15px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.banner__content {
  margin-left: 24px;
}

.banner__cta {
  margin-left: 24px;
  width: 250px;
}

.banner__title {
  color: white;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: .16em;
  line-height: 16px;
  margin: 0 0 4px;
  text-transform: uppercase;
}

.banner__text {
  color: white;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

body {
  margin: 0;
  background-color: #0e0e0e;
  font-family: Helvetica Neue, Helvetica, Arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
  height: 100vh;
}

.btn {
  border-radius: 19px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 13px 25px;
}

.btn--full-width {
  width: 100%;
}

.btn--with-separation {
  margin-bottom: 20px;
}

.btn--green {
  background-color: #2ebd59;
}

.btn--green:hover, .btn--green:focus {
  background-color: #1ed760;
}

.btn--white {
  background-color: white;
  color: #5794ef;
}

.btn--transparent {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}

.btn--separated {
  margin: 32px 0;
}

@media (min-width: 1024px) {
  .btn--hidden-desktop {
    display: none;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.container--centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container__nav {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 230px;
          flex: 0 0 230px;
}

@media (min-width: 1024px) {
  .container__nav--only-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .container__elements {
    padding-bottom: 270px;
  }
}

.title {
  color: white;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.cover {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.cover__icon {
  font-size: 30px;
  color: white;
}

.fixed-content {
  background-color: #181818;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fixed-content--only-desktop {
  display: none;
}

@media (min-width: 1024px) {
  .fixed-content--only-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.footer-menu__link {
  text-decoration: none;
  color: gray;
  margin-top: 10px;
  font-size: 13px;
}

@media (min-width: 1024px) {
  .footer-menu--hidden-desktop {
    display: none;
  }
}

.header-menu {
  display: none;
}

@media (min-width: 1024px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header-menu__link {
  color: gray;
  text-decoration: none;
  letter-spacing: 1px;
  margin: 10px;
  padding: 5px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-menu__link:hover, .header-menu__link:focus {
  color: white;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.grid__item {
  width: 50%;
}

@media (min-width: 768px) {
  .grid__item {
    width: 25%;
  }
}

.grid__item--covered {
  position: relative;
}

.img--full {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__icon {
  margin-right: 7px;
}

.logo--big {
  font-size: 48px;
}

@media (min-width: 1024px) {
  .logo--hidden-desktop {
    display: none;
  }
}

.playing-bar {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.playing-bar__center {
  width: 320px;
}

.playing-bar__elements {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.playing-bar__icon {
  color: gray;
  padding: 30px;
}

.playing-bar__icon:hover {
  color: white;
}

.playing-bar__timeline {
  background: white;
  height: 2px;
  width: 100%;
}

.lateral-nav__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 4px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 16px;
  font-weight: 500;
  color: gray;
  padding: 8px 0;
  text-decoration: none;
}

.lateral-nav__link--active {
  border-left-color: #1ed760;
  color: white;
}

.lateral-nav__link:hover {
  color: white;
}

.lateral-nav__icon {
  font-size: 24px;
  margin: 0 16px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/*# sourceMappingURL=index.css.map */