.search-form {
   & > input {
        display: block;
        box-shadow: 0 3px 3px rgba(0, 0, 0, .15);
        margin: 10px 0;
        border: 0 none;
    }

    &__button {
        padding: 0;
        align-self: center;
        margin: 0 12px;

        button {
            box-shadow: 0 3px 3px rgba(0, 0, 0, .15);
        }
    }
}