
.buttonBar
    width: 100%
    background-color: white
    display: flex
    justify-content: space-evenly
    height: 50px
    align-items: center
    position: fixed
    bottom: 0
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.landing
    margin-right: 10px

.search
    margin-right: 10px
    

.favs
    margin-right: 10px

.profile
    margin-right: 10px

.add
    margin-right: 10px

.animation
    transition: all .2s ease-out
    &:hover
        transform: scale(1.5)