
.buttonBar
    width: 100%
    background-color: white
    display: flex
    justify-content: space-evenly
    height: 50px
    align-items: center
    position: fixed
    bottom: 0

.landing
    margin-right: 10px

.search
    margin-right: 10px

.favs
    margin-right: 10px

.profile
    margin-right: 10px

.add
    margin-right: 10px