*{
    margin: 0;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/****HEADER****/
header{
    width: 100%vh;
    height: 360px;
    -moz-box-shadow: 0 0 5px 5px #888;
-webkit-box-shadow: 0 0 5px 5px#888;
box-shadow: 0 0 3px 1px #888;
/*
    border-bottom: 1px solid black;
    border-width: 3px;
*/
}

#container{
    width: 100%;

    display:flex;
    flex-direction: column;
}
/***TOP HEAD***/
#top-head{
    background-color: red;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

/****DERECHA TOP HEAD***/
#channel-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#logo{
    
    width: 40px;
    height: 40px;
    fill: white;
    stroke: none;
    margin-left: 5px;
}

#channel-name > p {
    color: white;
    margin-left: 5px;
}

/****IZQUIERDA TOP HEAD***/

#options{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search{
    width: 30px;
    height: 30px;
    fill: white;
    stroke: none;
    margin-left: 5px;
}

#menu{
    width: 30px;
    height: 30px;
    fill: white;
    stroke: none;
    margin-left: 5px;
}

/**** PARTE CENTRAL HEADER ****/

#channel-picture{
    width: 100%;
    height: 120px;
    background-image: url(https://i.dailymail.co.uk/i/pix/2011/07/08/article-2012253-0CED322900000578-478_964x630.jpg);
    background-image: no-repeat;
    background-image: center;
    background-position: center;
    background-size: cover;
    background-position: 25% 10%;
}

.circleBase {
    
    background-image: url("https://i.pinimg.com/564x/b7/9d/38/b79d388469ddd25cca327739c896b1cc.jpg");
    background-image: no-repeat;
    background-image: center;
    background-position: center;
    background-size: cover;
    background-position:25% 10%;
    border-radius: 50%;
    margin-left: 36px;
    margin-top: 80px;
    z-index: 1;
}

.type1 {
    width: 10vw;
    height: 10vw;
  
    
}

/** BOTTOM HEADER **/


/*** DESCRIPTION AND SUBSCRIBE ***/

#description-subcribe{
    margin-top: 50px;
    margin-left: 60px;
    height: 70px;
}

#subcribe{
    height: 50px;
    width: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#subscribe-button{
    width: 30px;
    height: 30px;
    fill: red;
    stroke: none;
    margin-left: 5px;
    margin-top: 7px;
    margin-right: 5px;

}

#description-subcribe > h3 {
    margin: 0px;
    font-size: 1.3em;
    font-weight: normal;
    margin-left: 5px;
}

#subscribe-action{
    color: red;
    font-size: 1em;
  
}

#num-subscriptors{
    font-size: 10pt;
}

#options-nav{
    margin-top: 15px;
    font-size: 2.8vw;
    display: flex;
    flex-direction: row
   
}

#options-nav nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

#options-nav nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

#options-nav nav ul li {
    list-style: none;
    margin-left: 12%;
    font-size: 0.8em;

}

#options-nav nav ul li:hover {
    list-style: none;
    margin-left: 15%;

}

.rolldown-options-nav {
    width: 20px;
    width: 20px;
    height: 30px;
    fill: black;
    stroke: none;
}


/**** FIN HEADER ****/

/*** MAIN  ***/

#main-container{
    display: inline;
    flex-direction: row;
    justify-content: center;
}

/***IMAGE ON THE MIDDLE***/

#prelude{
    width: 100%;
    margin-top: 10px;
    margin-left: 20px;
    height: 230px;
    border-bottom: 1px solid rgb(128, 128, 128, 0.5);
    
    
}

#secundary-picture{

    font-size: 10pt;
    width: 95%;
    height: 190px;
    
    background-image: url(https://cdn-images-1.medium.com/max/2600/1*QS59aHuIEgJoIogixOJ32w.jpeg);
    background-image: no-repeat;
    background-image: center;
    background-position: center;
    background-size: cover;
    background-position: 50% 50%;
}

#prelude > p{
    margin-top: 8px;
    font-style: normal;
    color: grey;
    font-size: 2vw;
    
}

/****  END IMAGE OF THE MIDDLE ***/

/*** VIDEO LISTS ***/

#video-lists{
    width: 100%;
    height: 100vh;

}

.video-list{
    width: 100%;
    height: 400px;
    border-bottom: 1px solid rgb(128, 128, 128, 0.35);
    display: grid;
    grid-template: "title title title" 35px
                    "items items items" 300px
                    ". footer ."  50px / 1fr 1fr 1fr;
    
}



.title-video-list{
    margin: 0px;
    grid-area: title;
    display: grid;
    align-content: center;
    font-size: 0.9em;
    font-weight: normal;
    color: grey;
    padding-left: 10px
    
}

/*** VIDEOS ITEMS ***/

.video-items{
    padding-left: 10px;
    grid-area: items;
    display: flex;
    flex-direction: column;

}

.video-item{
     height: 100px;
     display: grid;
     grid-template: "img img img data data  options" 50px
                    "img img img data data  ." 50px / 1fr 1fr 1fr 2fr 1fr 1fr;
    grid-column-gap: 5px;
    margin-bottom: 5px;
}

.video-capture{
    grid-area: img;
  
    background-image: url(https://www.worldatlas.com/r/w728-h425-c728x425/upload/94/27/8b/shutterstock-637884949.jpg);
    background-image: no-repeat;
    background-image: center;
    background-position: center;
    background-size: cover;
    background-position: 50% 0%;
}

.video-title{
    font-size: 0.9em;
    font-weight: normal;
}


.info-video{
    grid-area: data;
}

.author{
    font-size: 0.7em;
    color: gray;
}

.numbers-views{
    font-size: 0.7em;
    color: gray;
}


.video-options{
    grid-area: options;
    width: 30px;
    height: 30px;
    fill: black;
    stroke: none;
}

.rolldown{
    grid-area: footer;
    width: 30px;
    height: 30px;
    fill: black;
    stroke: none;
    display: grid;
    align-self: center;
    justify-self: center;
}


/*** END VIDEO LISTS ***/