@import '../panel'

.itemlist
    @extend %panel
    &__header
        margin-bottom: 3em
        display: flex
        justify-content: space-between
        &__title
            padding: 0.8em 0 
        &__new 
            max-width: 50px
    & button
        margin-top: 1em
    &-item
        background-color: #f5f5f5