.experienceRange__input
    -webkit-appearance: none
    width: 100%
    height: 30px
    background: ligthgray
    outline: none
    opacity: 0.6
    -webkit-transition: .2s
    transition: opacity .2s
    border-radius: 0.2em
    border:#014655 2px solid
    

.experienceRange__input:hover 
    opacity: 1


.experienceRange__input::-webkit-slider-thumb 
    -webkit-appearance: none
    appearance: none
    width: 50px
    height: 26px
    background: #0384A1
    cursor: grab
    border-radius: 0.5em