@import '../../index.scss';

.StripeCheckout{
    margin:10px 0 20px 0;
}
.StripeCheckout span{
    font-size:30px;
    background: white !important;
    border:1px solid $main-color !important;
    color: $main-color !important;
    font-family: $font !important;
    text-shadow: none!important;
    font-weight: normal!important;
}