*
    box-sizing: border-box

.login_video

    position: fixed
    right: 0
    bottom: 0
    width: 100vw
    height: 100vh
    background-image: url(https://cdn.dribbble.com/users/813012/screenshots/2872715/attachments/592899/pokemon-template-poke-stop-test.gif)
    background-size: 105%
    background-repeat: no-repeat
    background-position: center
    background-color: red

    .funcpokedex
        width: 80%



.bottomContent 
    position: fixed
    bottom: 0
    background: rgba(0, 0, 0, 0.5)
    color: #f1f1f1
    width: 100%
    padding: 20px
    button
        margin: 1%

.navigationbar
    background-color: rgba(red, 0.5)
    ul
        li
            a
                color: white