.flight
    &--date
        margin-top: -1em

.flight:hover
    cursor: pointer
    border: 1px solid #8ee4af

.section--title
    text-align: center
    padding: 0.5em
    border-radius: 0.5em
    color: #05386b !important