.login
    height: 100vh
    width: 100vw
    background-color: #EEEEEE
    display: flex
    flex-flow: column nowrap
    justify-content: center





.loginBox
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    border-radius: 10px
    margin: 50px 10px 5px 10px
    background-color: rgba(139, 110, 120, 1)    

    & h2
        // margin: 0px 0px 10px 0px

.loginForm
    display: flex
    flex-flow: column nowrap

    & input
       width:  